
.sm-blue {
    background: transparent none repeat scroll 0 0;
}
.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active{
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-family: "tahoma",sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.sm-blue a.current {
    background: #eee none repeat scroll 0 0;
    color: white;
}
.sm-blue a.disabled {
    color: #555;
}
.sm-blue a span.sub-arrow {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    border-radius: 4px;
    font: bold 16px/34px monospace !important;
    height: 34px;
    left: auto;
    margin-top: -17px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    text-align: center;
    text-shadow: none;
    top: 50%;
    width: 34px;
    z-index: 99999;
}
.sm-blue a:hover > span.sub-arrow {
    display: block;
}
.sm-blue a.highlighted span.sub-arrow::before {
    content: "-";
    display: block;
}
.sm-blue > li:first-child > a, .sm-blue > li:first-child > *:not(ul) a {
}
.sm-blue > li:last-child > a, .sm-blue > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul {
}
.sm-blue > li:last-child > a.highlighted, .sm-blue > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > a.highlighted, .sm-blue > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > ul > li:last-child > *:not(ul) a.highlighted {
    border-radius: 0;
}
.sm-blue ul {
    background: white none repeat scroll 0 0;
}
.sm-blue ul ul {
    background: rgba(102, 102, 102, 0.1) none repeat scroll 0 0;
}
.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active {
    background: transparent none repeat scroll 0 0;
    border-left: 8px solid transparent;
    color: #333;
    font-size: 16px;
    text-shadow: none;
}
.sm-blue ul a.current {
    background: #555 linear-gradient(to bottom, #006188, #006f9c) repeat scroll 0 0;
    color: white;
}
.sm-blue ul a.disabled {
    color: #b3b3b3;
}
.sm-blue ul ul a, .sm-blue ul ul a:hover, .sm-blue ul ul a:focus, .sm-blue ul ul a:active {
    border-left: 16px solid transparent;
}
.sm-blue ul ul ul a, .sm-blue ul ul ul a:hover, .sm-blue ul ul ul a:focus, .sm-blue ul ul ul a:active {
    border-left: 24px solid transparent;
}
.sm-blue ul ul ul ul a, .sm-blue ul ul ul ul a:hover, .sm-blue ul ul ul ul a:focus, .sm-blue ul ul ul ul a:active {
    border-left: 32px solid transparent;
}
.sm-blue ul ul ul ul ul a, .sm-blue ul ul ul ul ul a:hover, .sm-blue ul ul ul ul ul a:focus, .sm-blue ul ul ul ul ul a:active {
    border-left: 40px solid transparent;
}
.sm-blue ul li {
    border-right: 2px solid #ccc !important;
}
.sm-blue ul li:last-child {
    border-right: 0 none !important;
}
@media (min-width: 768px) {
.sm-blue ul {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ccc #ccc;
    border-color: #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    max-width: 100% !important;
    position: absolute;
    width: 100% !important;
}
.sm-blue li {
    display: table-cell;
}
.sm-blue.sm-rtl li {
    float: right;
}
.sm-blue ul li, .sm-blue.sm-rtl ul li, .sm-blue.sm-vertical li {
    float: none;
}
.sm-blue a {
    white-space: nowrap;
}
.sm-blue ul a, .sm-blue.sm-vertical a {
    white-space: normal;
}
.sm-blue .sm-nowrap > li > a, .sm-blue .sm-nowrap > li > *:not(ul) a {
    white-space: nowrap;
}
.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted {
    background: #fff none repeat scroll 0 0;
    color: #555;
    padding: 8px 20px;
}
.sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active, .sm-blue a.highlighted, .sm-blue li.active a{
    background: #48ade9 none repeat scroll 0 0;
    color: #fff;
}
 .sm-blue li.active ul li a, .sm-blue li.active ul li ul li a{
    background: none repeat scroll 0 0;
    color: #555;
 }
  

 .sm-blue li.active ul li.active a{
    background: none repeat scroll 0 0;
    color: #48ade9;
 }

 .sm-blue li.active ul li.active ul li a{
    background: none repeat scroll 0 0;
    color: #555;
 }
 .sm-blue li.active ul li.active ul li.active a{
    background: none repeat scroll 0 0;
    color: #48ade9;
 }
.sm-blue a.current {
    background: #eee none repeat scroll 0 0;
    color: #333;
}
.sm-blue a.disabled {
    background: #fff none repeat scroll 0 0;
    color: #555;
}
.sm-blue a span.sub-arrow {
    background: transparent none repeat scroll 0 0;
    border-color: #48ade9 transparent transparent;
    border-radius: 0;
    border-style: solid dashed dashed;
    border-width: 5px;
    bottom: -10px;
    display: none;
    height: 0;
    left: 50%;
    margin-left: -5px;
    margin-top: 0;
    right: auto;
    top: auto;
    width: 0;
}
.sm-blue a.highlighted span.sub-arrow::before {
    display: none;
}
.sm-blue > li {
    border-left: 1px solid #ccc;
}
.sm-blue > li:last-child {
    border-right: 1px solid #ccc;
}
.sm-blue ul {
    background: #ebebeb none repeat scroll 0 0;
    padding: 10px 0;
	margin: auto !important;
}
.sm-blue ul ul {
    background: #f1f1f1;
    margin-top: 10px !important;
}
.sm-blue ul a, .sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    background: transparent none repeat scroll 0 0;
    border: 0 none !important;
    border-radius: 0 !important;
	color: #555;
    padding: 2px 25px 0;
    font-size: 15px;
    font-family: 'tahoma';
}
.sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active, .sm-blue ul a.highlighted {
    color: #48ade9;
}
.sm-blue ul a.current {
    background: #555 none repeat scroll 0 0;
    color: white;
}
.sm-blue ul a.disabled {
    background: white none repeat scroll 0 0;
    color: #b3b3b3;
}
.sm-blue ul a span.sub-arrow {
    border-color: transparent transparent transparent #555;
    border-style: dashed dashed dashed solid;
    bottom: auto;
    left: auto;
    margin-left: 0;
    margin-top: -5px;
    right: 10px;
    top: 50%;
    display: none !important;
}
.sm-blue ul li {
    border: 0 none;
}
.sm-blue span.scroll-up, .sm-blue span.scroll-down {
    background: white none repeat scroll 0 0;
    display: none;
    height: 20px;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}
.sm-blue span.scroll-up-arrow, .sm-blue span.scroll-down-arrow {
    border-color: transparent transparent #333;
    border-style: dashed dashed solid;
    border-width: 8px;
    height: 0;
    left: 50%;
    margin-left: -8px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width: 0;
}
.sm-blue span.scroll-down-arrow {
    border-color: #333 transparent transparent;
    border-style: solid dashed dashed;
    top: 6px;
}
.sm-blue.sm-rtl.sm-vertical a span.sub-arrow {
    border-color: transparent #555 transparent transparent;
    border-style: dashed solid dashed dashed;
    left: 10px;
    right: auto;
}
.sm-blue.sm-rtl > li:first-child > a, .sm-blue.sm-rtl > li:first-child > *:not(ul) a {
    border-radius: 0 8px 8px 0;
}
.sm-blue.sm-rtl > li:last-child > a, .sm-blue.sm-rtl > li:last-child > *:not(ul) a {
    border-radius: 8px 0 0 8px !important;
}
.sm-blue.sm-rtl > li:first-child {
    border-left: 1px solid #333;
}
.sm-blue.sm-rtl > li:last-child {
    border-left: 0 none;
}
.sm-blue.sm-rtl ul a span.sub-arrow {
    border-color: transparent #555 transparent transparent;
    border-style: dashed solid dashed dashed;
    left: 10px;
    right: auto;
}
.sm-blue.sm-vertical {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.sm-blue.sm-vertical a {
    padding: 9px 23px;
}
.sm-blue.sm-vertical a span.sub-arrow {
    border-color: transparent transparent transparent #555;
    border-style: dashed dashed dashed solid;
    bottom: auto;
    left: auto;
    margin-left: 0;
    margin-top: -5px;
    right: 10px;
    top: 50%;
}
.sm-blue.sm-vertical > li:first-child > a, .sm-blue.sm-vertical > li:first-child > *:not(ul) a {
    border-radius: 8px 8px 0 0;
}
.sm-blue.sm-vertical > li:last-child > a, .sm-blue.sm-vertical > li:last-child > *:not(ul) a {
    border-radius: 0 0 8px 8px !important;
}
.sm-blue.sm-vertical > li {
    border-left: 0 none !important;
}
.sm-blue.sm-vertical ul {
    border-radius: 4px !important;
}
.sm-blue.sm-vertical ul a {
    padding: 9px 23px;
}
}
