<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa">
	<div class="container containermobile"><h1 class="title">ABOUT US</h1></div>
	
	<div id="content">
		<div class="container" ng-bind-html="content.pd_content">
		</div>
		<div class="aboutContent mTop40">
			<div class="container">
				<h2>บริการของ <span>EduWorld</span></h2>
				<ul>
					<li ng-class="abt.additional" class="contentwrap clearfix  " ng-repeat="abt in about_list" ng-if="$index > 0">
						<div>
							<div class="imagecontent">
									<div class="bgwr">
										<img ng-src="/assets/images/%% abt.additional %%_image_wrapper.png" />


										<div class="imgnaieu" style="background-image: url('%% abt.image %%');">
										</div>
									</div>
							</div>
							<h3 ng-bind-html="abt.pd_title"></h3>
							<div class="contentext">
								<div ng-bind-html="abt.pd_content"></div>
								<div ng-bind-html="abt.pd_excerpt"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>

		<div class="loadingcontent" id="loadingAbout">
		    <div class="loadingWrap">
		        <div class="middle">
		            <div><img src="/assets/images/contentload.gif"></div>
		        </div>
		    </div>
		</div>
		</div>
		<div class="container ourNetwork">
			<!-- <h1 class="title" >OUR NETWORK</h1> -->
			<div class="" ng-bind-html="content.pd_excerpt">

			</div>

			<slick autoplay="true" infinite="true" slides-to-show="6" slides-to-scroll="1" responsive="breakpoints" data="network" init-onload="true">
				<div class="networkItem" ng-repeat="nt in network">
					<img class="bgNetworkItem" ng-src="%% nt.image %%">
				</div>
		</slick>

		</div>
		<div class="container ourContact">
			<div class="col-md-8" ng-bind-html="about_content.pd_content" >

			</div>
			<!-- <div class="col-md-4" >
				<img ng-src="%% about_content.image %%" class="img-responsive" />
				<div ng-bind-html="about_content.pd_excerpt"></div>
			</div> -->
		</div>
	</div>
</div>
