<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description"  data-parallaxify-range-x="-180" data-parallaxify-range-y="60">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="%% className %%">
	<div class="container"><h1 class="title titlePageNa"></h1></div>
	<div id="content">
		<div class="container">
			<uib-tabset active="zz" id="">
				<uib-tab ng-repeat="about in about_content track by about.post_id" index="$index">
					
					<uib-tab-heading>
						<img ng-if="className == 'student-exchange-program'" ng-src='%% about.image %%'><span ng-bind-html="about.pd_title"></span>
					</uib-tab-heading>
					<div class="textcontent" ng-bind-html="about.pd_content | trustAsHtml"></div>
				</uib-tab>
			</uib-tabset>
		</div>

		<div class="loadingcontent" id="loadingServices">
		    <div class="loadingWrap">
		        <div class="middle">
		            <div><img src="/assets/images/contentload.gif"></div>
		        </div>
		    </div>
		</div>
	</div>

<button type="button" class="hidden btn btn-default btn-sm" ng-click="zz = inDx">Select second tab</button>
</div>