<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa">
	<div class="container containermobile"><h1 class="title">Gallery</h1></div>
	<div id="content">
		<div id="galleryList" class="container clearfix gallery gallery1">
			<div masonry load-images="false" reload-on-show ng-show="categories">
				<div ng-click="gotoGallery(category)" class="masonry-brick" ng-repeat="category in categories">
					<div class="imgWrpp">
				      <img ng-src="/api/image/blog/%% category.post_thumbnail %%"  alt="%% category.cd_name %%">
				    </div>
					<div class="infoGallery">
						<h3>%% category.cd_name %%</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loadingcontent" id="loadingGallery">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>