<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
</div>
<div class="contentNa applYn">
	<div class="container containermobile">
		<h1 class="title tsmnltlt" ng-bind-html="content.pd_title">Apply Online</h1></div>
	<div id="content">
		<div class="container">
			<div style="font-size:25px" ng-bind-html="content.pd_content"></div>
			<form class="applyOnline col-md-8 col-xs-12 nopadding mTop20" serializer="proceed(title,data)">
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="sm" id="project" title="โครงการ">โครงการ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<div class="col-md-4 nopadding">
							<input required checked name="project" id="sm" type="radio" value="Summer Camp" ng-click="summercmpNat()" />
							<label for="sm" ng-click="summercmpNat()"><span><span></span></span>Summer Camp </label>
						</div>
						<div class="col-md-6 nopadding">
							<input required type="radio" ng-click="stndtexNat()" id="se" name="project" value="Student Exchange" />
							<label for="se" ng-click="stndtexNat()"><span><span></span></span>Student Exchange </label>
						</div>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="country">ประเทศ</label>
					</div>
					<div class="col-md-9 col-xs-12 select-style ">
						<select required id="country" title="ประเทศ" name="country" class="form-control">
							<option ng-repeat="option in optionNat" value="%%option%%">%%option%%</option>
						</select>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="fname">ชื่อ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="fname" id="fname" title="ชื่อ" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="lname">นามสกุล</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="lname" id="lname" title="นามสกุล" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="name">Name</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="name" id="name" type="text" title="Name" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="surname">Surname</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="surname" id="surname" title="Surname" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="male" id="sex" title="เพศ">เพศ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="sex" id="male" checked type="radio" value="ชาย" />
						<label for="male"><span><span></span></span>ชาย </label>
						<input required type="radio" id="fmale" name="sex" value="หญิง" />
						<label for="fmale"><span><span></span></span>หญิง </label>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="dob">วันเดือนปีเกิด</label>
					</div>
					<div class="col-md-9 col-xs-12  ">
						<div class="input-group">
					          <input type="text" required name="dob" title="วันเดือนปีเกิด" id="dob" class="form-control" uib-datepicker-popup="dd MMMM yyyy" is-open="popup1.opened" datepicker-options="dateOptions" ng-model="dob" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            <button type="button" style="margin:0;padding:5px 10px;background:#7ad1f1;color:#FFF;border:1px solid #7ad1f1" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
					     </div>
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="religion">ศาสนา</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="religion" title="ศาสนา" id="religion" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="school">โรงเรียน/สถาบันการศึกษา</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="school" title="โรงเรียน/สถาบันการศึกษา" id="school" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="class">ระดับชั้นที่ศึกษาอยู่</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="class" title="ระดับชั้นที่ศึกษาอยู่" id="class" type="text" class="form-control" />
					</div>
				</div>
				
				
				<div class="form-group clearfix mTop40">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="address">ที่อยู่</label>
					</div>
				</div>
				
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="number">เลขที่</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="number" title="เลขที่" id="number" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="lane">ซอย/หมู่ที่</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="lane" title="ซอย/หมู่ที่" id="lane" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="building">หมู่บ้าน/อาคาร</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="building" title="หมู่บ้าน/อาคาร" id="building" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="road">ถนน</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="road" title="ถนน" id="road" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="district">แขวง/ตำบล</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="district" title="แขวง/ตำบล" id="district" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="area">เขต/อำเภอ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="area" id="area" title="เขต/อำเภอ" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="province">จังหวัด</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="province" id="province" title="จังหวัด" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="zip">รหัสไปรษณีย์</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="zip" id="zip" type="text" title="รหัสไปรษณีย์" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="phone">โทรศัพท์บ้าน</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="phone" id="phone" type="text" title="โทรศัพท์บ้าน" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="cellphone">มือถือ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="cellphone" id="cellphone" type="text" title="มือถือ" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="fax">โทรสาร</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input name="fax" id="fax" type="text" title="โทรสาร" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="email">E-mail</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="email" id="email" type="email" title="E-mail" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="line">Line ID</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input name="line" id="line" type="text" title="Line ID" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix mTop40">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="fathername">บิดา ชื่อ-สกุล</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="fathername" id="fathername" title="บิดา ชื่อ-สกุล" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="occupation">อาชีพ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="occupation" id="occupation" title="อาชีพ" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="numberoffathers">หมายเลขโทรศัพท์</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="numberoffathers" id="numberoffathers" title="หมายเลขโทรศัพท์" type="text" class="form-control" />
					</div>
				</div>				
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="mothername">มารดา ชื่อ-สกุล</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="mothername" id="mothername" title="มารดา ชื่อ-สกุล" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="career">อาชีพ</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="career" id="career" type="text" title="อาชีพ" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix">
					<div class="col-md-3 col-xs-12 nopadding">
						<label for="telephone">หมายเลขโทรศัพท์</label>
					</div>
					<div class="col-md-9 col-xs-12 ">
						<input required name="telephone" id="telephone" title="หมายเลขโทรศัพท์" type="text" class="form-control" />
					</div>
				</div>
				<div class="form-group clearfix rownomargin srcKnw">
					<div class="col-md-12 col-xs-12 nopadding">
						<label for="newspaper" id="source" title="ทราบข่าวสาร โครงการที่ท่านสนใจจากแหล่งใด">ทราบข่าวสาร โครงการที่ท่านสนใจจากแหล่งใด ( โปรดระบุ )</label>
					</div>

					<div class="row">
						<div class="col-md-5 col-xs-6 nopaddingleft">
							<input required name="source" id="newspaper" value="newspaper" type="radio" ng-model="source" /><label for="newspaper"><span><span></span></span>หนังสือพิมพ์ </label>
						</div>


						<div class="col-md-5 col-xs-6 ">
							<input required name="source" id="schools" value="schools" type="radio" ng-model="source" /><label for="schools"><span><span></span></span>โรงเรียน </label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 col-xs-6 nopaddingleft">
							<input required name="source" id="magazine" value="magazine" type="radio" ng-model="source" /><label for="magazine"><span><span></span></span>Magazine </label>
						</div>
						
						<div class="col-md-5 col-xs-6">
							<input required name="source" id="friend" value="friend" type="radio" ng-model="source" /><label for="friend"><span><span></span></span>เพื่อน/ญาติ </label>
						</div>

					</div>


					<div class="row">
						<div class="col-md-5 col-xs-6 nopaddingleft">
							<input required name="source" id="tv" value="tv" type="radio" ng-model="source" /><label for="tv"><span><span></span></span>TV </label>
						</div>


						<div class="col-md-5 col-xs-6 ">
							<input required name="source" id="brochure" value="brochure" type="radio" ng-model="source" /><label for="brochure"><span><span></span></span>แผ่นพับ/ใบปลิว</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 col-xs-6 nopaddingleft">
							<input required name="source" id="radio" value="radio" type="radio" ng-model="source" /><label for="radio"><span><span></span></span>วิทยุ</label>
						</div>

						<div class="col-md-5 col-xs-6 ">
							<input required name="source" id="poster" value="poster" type="radio" ng-model="source" /><label for="poster"><span><span></span></span>โปสเตอร์</label>
						</div>
					</div>

					<div class="row">
						<div class="col-md-5 col-xs-6 nopaddingleft">
							<input required name="source" id="website" value="website" type="radio"  ng-model="source" /><label for="website"><span><span></span></span>Website </label>
							<input required name="website" id="website-text" title="Website" type="text" class="form-control" ng-disabled="model.websiteDisabled" />
						</div>

						<div class="col-md-5 col-xs-6">
							<input required name="source" id="other" value="other" type="radio" ng-model="source" /><label for="other"><span><span></span></span>อื่นๆ (ระบุ)</label>
							<input required name="other" id="other-text" title="อื่นๆ (ระบุ)" type="text" class="form-control" ng-disabled="model.otherDisabled" />
						</div>
					</div>


				</div>
				<div class="form-action clearfix">
				<div id="notifNa" class="mTop10"></div>
					<div class="col-md-3 col-xs-6  nopaddingleft">
						<button class="btn btnNya btn-danger" type="reset">Reset</button>
					</div>
					<div class="col-md-3 col-xs-6 ">
						<button class="btn btnNya btn-primary" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>