<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa" id="blog">
	<div class="container containermobile"><h1 class="title">Blog</h1></div>
	
	<div id="content">
		<div id="blogList" class="">
			<div class="container clearfix">
				<div class="col-md-12 col-xs-12 firstBlog nopadding" >
					<div class="clip-each border-style-thin"><span><img ng-src="%% blog_first.image %%"></span>
						<div class="infoBlog">
							<h5>%% blog_first.pd_title %%<span ng-bind-html="tglNa(blog_first.post_publish_date)"></span></h5>
							<p ng-bind-html="blog_first.pd_excerpt"></p>
						</div>
						<a ui-sref="blogdetail({id:blog_first.post_id, slug:slugKeun(blog_first.pd_title)})"><span>Read More</span> <i class="fa fa-chevron-right"></i></a>
					</div>
					<div class="clip-each2 border-style-thin2"></div>
				</div>
				<ul>
					<li class="col-md-6 col-xs-12" ng-repeat="blg in blog" ng-if="$index > 0">
						<div class="clip-each border-style-thin">
							<span><img ng-src="%% blg.image %%"></span>
							<div class="infoBlog">
								<h5>%% blg.pd_title | ellipsis:22 %% <span ng-bind-html="tglNa(blg.post_publish_date)"></span></h5>
								<p ng-bind-html="blg.pd_excerpt"></p>
							</div>
							<a ui-sref="blogdetail({id:blg.post_id, slug:slugKeun(blg.pd_title)})"><span>Read More</span> <i class="fa fa-chevron-right"></i></a></div>
						<div class="clip-each2 border-style-thin2"></div>
					</li>
				</ul>
			</div>

			<div class="loadingcontent" id="loadingBlog">
			    <div class="loadingWrap">
			        <div class="middle">
			            <div><img src="/assets/images/contentload.gif"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
