<div id="blogDetail">
	<div id="content">
		<img class="img-responsive" ng-src="%% blog.image %%" />
		<h3 class="bluetext" ng-bind-html="blog.pd_title"></h3>
		<div class="postInfo"><span ng-bind-html="tglNa(blog.post_publish_date)"></span> Author : %% blog.post_author %% </div>
		<div ng-bind-html="blogcontent"></div>
	</div>
	<div id="otherArticles" class="clearfix">
		<ul>
			<li ng-if="prevblogs.length" style="float: left">
				<a ui-sref="blogdetail({id:prevblog.post_id, slug:slugKeun(prevblog.pd_title)})" class="previous"><i class="fa fa-angle-double-left"></i> Previous Articles </a>
				<div class="imageWrapper">
					<a ui-sref="blogdetail({id:prevblog.post_id, slug:slugKeun(prevblog.pd_title)})"><img ng-src="%% prevblog.image %%"></a>
				</div>
				<h5><a ui-sref="blogdetail({id:prevblog.post_id, slug:slugKeun(prevblog.pd_title)})">%% prevblog.pd_title %%</a></h5>
			</li>
			<li ng-if="nextblogs.length" style="float: right">
				<a ui-sref="blogdetail({id:nextblog.post_id, slug:slugKeun(nextblog.pd_title)})" class="next">Next Articles <i class="fa fa-angle-double-right"></i> </a>
				<div class="imageWrapper">
					<a ui-sref="blogdetail({id:nextblog.post_id, slug:slugKeun(nextblog.pd_title)})"><img ng-src="%% nextblog.image %%"></a>
				</div>
				<h5><a ui-sref="blogdetail({id:nextblog.post_id, slug:slugKeun(nextblog.pd_title)})">%% nextblog.pd_title %%</a></h5>
			</li>
		</ul>
	</div>
	<div class="comment">
		<div id="fb-comment-box" dyn-fb-comment-box
		        page-href="%% absUrl %%"
		        numposts="5"
		        colorscheme="light">
		</div>
	</div>



	<div class="loadingcontent" id="loadingBlog">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>

</div>