<div class="contentNa">
	<!-- <div class="container containermobile"><h1 class="title">Contact Us</h1></div> -->
	
	<div id="content">
		<div class="container">
			<div class="textcenter" style="margin:0px auto -20px;float:none">
				<h4 class="title" ng-bind-html="content.pd_title"></h4>

				<div ng-bind-html="content.pd_content"></div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="cntnr" style="margin-top:10px">
						<div class="cntactinf">
							<div class="tabsInfo">
								<uib-tabset active="active" >
									<uib-tab index="0">

										<uib-tab-heading  style="display:block;padding:5px 4px"  ng-click="maps_one()">
											<span style="font-size:12px;">Chamchuri Square</span>
										</uib-tab-heading>

										<table class="noborder">
											<tr><td width="120">Working hours</td><td> :&nbsp;</td><td><span id="working_day"></span>, <span id="working_time"></span></td></tr>
											<tr><td>Address</td><td> :&nbsp;</td><td><span id="location"></span></td></tr>
											<tr><td>Tel.</td><td> :&nbsp;</td><td><span id="phone"></span></td></tr>
											<tr><td>Fax</td><td> :&nbsp;</td><td><span id="fax"></span></td></tr>
										</table>
										<ul class="footerContact clearfix">
											<li class="sosmed"><a href="http://eduworld.co.th"><i class="fa fa-globe"></i> eduworld.co.th</a></li>
											<li><a href="mailto:info@eduworld.co.th"><i class="fa fa-envelope"></i> info@eduworld.co.th</a></li>
											<li><span class="flowus">Follow Us: </span>
												<a class="sosmed" href="%%social_youtube.value%%" title="%%social_youtube.name%%" target="_blank"><img class="img-responsive" src="/assets/images/float_youtube.png" /></a>
												<a class="sosmed" href="%%social_facebook.value%%" title="%%social_facebook.name%%" target="_blank"><img class="img-responsive" src="/assets/images/float_facebook.png" /></a>
											</li>
										</ul>

									</uib-tab>
									<uib-tab index="1">
										<uib-tab-heading style="display:block;padding:5px 4px" ng-click="maps_two()">
											<span style="font-size:12px;">Central Pinklao</span>
										</uib-tab-heading>

										<table class="noborder">
											<tr><td width="120">Working hours</td><td>:</td><td><span id="working_day_two"></span>, <span id="working_time_two"></span></td></tr>
											<tr><td>Address</td><td> :&nbsp;</td><td><span id="location_two"></span></td></tr>
											<tr><td>Tel.</td><td> :&nbsp;</td><td><span id="phone_two"></span></td></tr>
											<tr><td>Fax</td><td> :&nbsp;</td><td><span id="fax_two"></span></td></tr>
										</table>
										<ul class="footerContact clearfix">
											<li><a href="http://eduworld.co.th"><i class="fa fa-globe"></i> eduworld.co.th</a></li>
											<li><a href="mailto:info@eduworld.co.th"><i class="fa fa-envelope"></i> info@eduworld.co.th</a></li>
											<li><span class="flowus">Follow Us: </span>
												<a class="sosmed" href="%%social_youtube.value%%" title="%%social_youtube.name%%" target="_blank"><img class="img-responsive" src="/assets/images/float_youtube.png" /></a>
												<a class="sosmed" href="%%social_facebook.value%%" title="%%social_facebook.name%%" target="_blank"><img class="img-responsive" src="/assets/images/float_facebook.png" /></a>
											</li>
										</ul>
									</uib-tab>
								</uib-tabset>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<form class="contactForm" serialize="proceed(data)" style="margin-top:10px">
					  <div class="form-group col-md-6 col-xs-12  nopaddingleft">
						  <label>Name</label>
						<input required type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="Name">
					  </div>
					  <div class="form-group col-md-6 col-xs-12  nopaddingright">
						  <label>Email</label>
						<input required type="email"  name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					  </div>
					  <div class="form-group">
						  <label>Phone Number</label>
						<input required type="number"  name="phone" class="form-control" id="exampleInputPassword1" placeholder="Phone Number">
					  </div>
					  <div class="form-group">
						  <label>Message</label>
						<textarea class="form-control" name="message"  style="resize:vertical;height:200px;"></textarea>
					  </div>
					  <div id="notifNa" class="mTop10"></div>
					  <div class="form-action">
						  <button class="btn btn-primary pull-right"><span>SEND</span></button>
					  </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
