<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
</div>
<div class="contentNa" id="blog">
	<div class="container containermobile"><h1 class="title">News &amp; Event</h1></div>
	<div class="container clearfix">
		<div id="newsEvent" style="width: 101%">
			<div>
				<div class="masonry-bricks" ng-repeat="std in blog" ng-click="eventdetail(std)">
					<img ng-src="%% std.image %%" alt="%% std.pd_title %%">
					<div class="infoNews" ng-bind-html="std.pd_excerpt">
						
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="loadingcontent" id="loadingBlog">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>