<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa">
	<!-- <div class="container containermobile"><h1 class="title">Gallery</h1></div> -->
	<br /><br /><br /><br /><br />
	<h1 class="text-center tlN"> Gallery</h1>
	<div id="content">



		<div id="galleryList" ng-if="gallery_category.length" class="container clearfix gallery gallery1">
			<div masonry load-images="false"  reload-on-show ng-show="gallery_category">
				<div ng-click="gotoGallery(category)" class="masonry-brick" style="max-height:300px;" ng-repeat="category in gallery_category">
					<div class="imgWrpp">	
				      <img ng-src="/api/image/blog/%% category.post_thumbnail %%"  alt="%% category.cd_name %%">
					</div>
					<div class="infoGallery">
						<h3>%% category.cd_name %%</h3>
					</div>
				</div>
			</div>

		</div>

		<div id="galleryList" ng-if="gallery.length" class="container clearfix gallery gallery1" style=" border-top: 1px solid #CCC;  margin-top: 30px;">

			<h5 class="phtfrmalbm">Photos From Album</h5>

			<div masonry load-images="false" reload-on-show ng-show="gallery">
				<div ng-click="openLightboxModal($index)" class="masonry-brick mnsryb" ng-repeat="galery in gallery">
					<div class="imgWrpb"></div>	
					<div class="imgWrp">	
				      <img ng-src="/api/image/gallery/%% galery.post_thumbnail %%"  alt="%% galery.pd_title %%">
					</div>
				</div>
			</div>
		</div>

<!--		<div class="container" ng-if="!gallery.length"><h5 class="alert alert-danger" style="font-size:19px;">There's No Photo</h5></div>-->


	</div>
	<div class="loadingcontent" id="loadingGallery">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
