<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<a href="%% slide.link %%">
				<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			</a>
			<div class="carousel-caption" ng-if="slide.description">
	            <h4 ng-bind-html="slide.title"></h4>
	            <div ng-bind-html="slide.description | trustAsHtml"></div>
            </div>

		</uib-slide>
	</uib-carousel>

	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>

</div>
<div id="atc" class="container clearfix">
	<ul>
		<li><a ui-sref="apply"><img src="/assets/images/icon_next.png" /> Apply Online</a></li>
		<li><a target="_blank" href="http://www.timeanddate.com/worldclock/"><img src="/assets/images/icon_clock.png" /> Time Zone</a></li>
		<li><a target="_blank" href="http://www.kasikornbank.com/TH/RatesAndFees/ForeignExchange/Pages/ForeignExchange.aspx"><img src="/assets/images/icon_graph.png" /> Currency Rate</a></li>
	</ul>
</div>
<div id="newsEvent" class="container clearfix">

	<a class="leftNav"><img src="/assets/images/newsevent.png"></a>
	<div masonry preserve-order>
		<div class="masonry-brick" ng-repeat="std in studyabroad" ng-click="eventdetail(std)">
			<img ng-src="%% std.image %%" alt="%% std.pd_title %%">
			<div class="infoNews" ng-bind-html="std.pd_excerpt">
				
			</div>
		</div>
		
	</div>
	<div class="loadingcontent" id="loadingServices">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
	<a class="rightNav" ui-sref="event"><img src="/assets/images/viewall.png"></a>
</div>
<div id="enquiry" class="container clearfix">
	<div class="row">
		<div class="col-md-4 col-xs-12 formenquiry">
			<h4>Enquiry <img src="/assets/images/icon_logo.png" /></h4>
			<div id="notifNa" class="mTop10"></div>
			<form serialize="proceed(data)">
			  <div class="form-group">
				<input required type="text" class="form-control" id="InputName" placeholder="Name" name="Name">
			  </div>
			  <div class="form-group">
				<input required type="text" class="form-control" id="InputSurname" placeholder="Surname" name="Surname">
			  </div>
			  <div class="form-group">
				<input required type="email" class="form-control" id="InputEmail" placeholder="Email" name="Email">
			  </div>
			  <div class="form-group">
				<input required type="text" class="form-control" id="InputMobile" placeholder="Mobile Number" name="Mobile_Number">
			  </div>
			  <div class="form-group">
				<div class="input-group">
			          <input type="text" required placeholder="Date of Birth" name="DOB" id="dob" class="form-control" uib-datepicker-popup="dd MMMM yyyy" is-open="popup1.opened" datepicker-options="dateOptions" ng-model="dob" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" style="margin:0;padding:5px 10px;background:#7ad1f1;color:#FFF;border:1px solid #7ad1f1" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			    </div>
			  </div>
			  <div class="form-group select-style">
				  <select required class="form-control" Name="Current_Education">
				  	<option value="">Current Education Level</option>
				  	<option value="Primary">Primary</option>
				  	<option value="Secondary">Secondary</option>
				  	<option value="Bachelor">Bachelor</option>
				  	<option value="Graduated">Graduated</option>
				  </select>
			  </div>
			  <div class="form-group select-style">
				  <select required class="form-control" Name="Course">
				  	<option value="">Course</option>
				  	<option value="High School">High School</option>
				  	<option value="English Language">English Language</option>
				  	<option value="Diploma/Certificate">Diploma/Certificate</option>
				  	<option value="Bachelor Degree">Bachelor Degree</option>
				  	<option value="Master Degree">Master Degree</option>
				  	<option value="Other">Other</option>
				  </select>
			  </div>
			  <div class="form-group select-style">
				  <select required class="form-control" Name="Country">
				  	<option value="">Country</option>
				  	<option value="Australia">Australia</option>
				  	<option value="New Zealand">New Zealand</option>
				  	<option value="USA">USA</option>
				  	<option value="Canada">Canada</option>
				  	<option value="UK">UK</option>
				  	<option value="Singapore">Singapore</option>
				  </select>
			  </div>
			  <div class="form-action">
				  <button class="btn btn-primary pull-right"><span>SEND</span> <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
			  </div>
			</form>
		</div>
		<div class="col-md-8 col-xs-12 slideNews nopadding">
			<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				<uib-slide ng-repeat="videoblg in videoblog track by $index" index="$index">
			
						<img ng-if="videoblg.post_thumbnail2 != ''" ng-src="/api/image/blog/%%videoblg.post_thumbnail2%%" style="margin:auto;" >
						<img ng-if="videoblg.post_thumbnail2 == ''" ng-src="https://img.youtube.com/vi/%%videoblg.pd_excerpt%%/maxresdefault.jpg" style="margin:auto;" >
				
					<div class="overlay"><img src="/assets/images/icon_play.png" ng-click="openVideo(videoblg.pd_excerpt)" /></div>
					<div class="carousel-caption">
					  <p ng-bind-html="tglNa(videoblg.post_publish_date)"></p>
					  <h4><a ui-sref="videodetail({id:videoblg.post_id, slug:slugKeun(videoblg.pd_title)})">%%videoblg.pd_title%%</a></h4>
					  <a class="btn" rel="nofollow" target="_blank" href="https://www.youtube.com/user/eduworldthailand/videos" >SEE ALL</a>
					</div>
				</uib-slide>
			</uib-carousel>
			<div class="loadingcontent" id="loadingVideo">
			    <div class="loadingWrap">
			        <div class="middle">
			            <div><img src="/assets/images/contentload.gif"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
<div id="blogList" class=" mTop40">
	<div class="container clearfix">
		<h4>BLOG POST</h4>
		<ul>
			<li class="col-md-6 col-xs-12" ng-repeat="blg in blog">
				<div class="clip-each border-style-thin"><span ui-sref="blogdetail({id:blg.post_id, slug:slugKeun(blg.pd_title)})"><img ng-src="%% blg.image %%"></span> 
					<div class="infoBlog">
						<h5 ng-bind-html="blg.pd_title | ellipsis:22"></h5>
						<p ng-bind-html="blg.pd_excerpt"></p>
					</div> 
					<a ui-sref="blogdetail({id:blg.post_id, slug:slugKeun(blg.pd_title)})"><span>Read More</span> <i class="fa fa-chevron-right"></i></a>
				</div>
				<div class="clip-each2 border-style-thin2"></div>
			</li>
		</ul>
	</div>
	<div class="loadingcontent" id="loadingBlog">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div id="testimonial" class=" mTop40">
	<div class="container clearfix">
		<h4>What Our Students say About us</h4>
		<slick infinite="true" slides-to-show="3" responsive="breakpoints" slides-to-scroll="1" data="testimonial" init-onload="true">
		  	<div ng-click="linktoTestimonial(testi)" class="testimonialItem" ng-repeat="testi in testimonial">
				<img class="bgTestimonial" src="/assets/images/bg_testimonial.png">
				<div class="imageTestimonial" style="background:url('%% testi.image %%');background-size:cover"><!-- <img ng-src="%% testi.image %%"> --></div>
				<div class="contenttestimonial">
					<h4 ng-bind-html="testi.post_author"></h4>
					<p ng-bind-html="testi.pd_content | ellipsis:150"></p>
				</div>
			</div>			
		</slick>
		
		<a ui-sref="testimonial" class="btn btn-primary">SEE ALL</a>
	</div>
	<div class="loadingcontent" id="loadingTestimonial">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>