<div class="studyAbroad">
	<div class="container"><h1 class="title">Study Abroad : <strong>New Zealand</strong></h1></div>
	<div id="content">
		<div class="container">
			<uib-tabset active="active">
				<uib-tab index="0">
					<uib-tab-heading>
						<span>ระบบการศึกษา</span>
					</uib-tab-heading>
					<h4 class="orangetext">ประเทศอเมริกา ( UNITED STATES )</h4>
					<p>
						โครงการนักเรียนแลกเปลี่ยน จัดตั้งขึ้น โดยมีวัตถุประสงค์เพื่อแลกเปลี่ยนภาษา วัฒนธรรม และความเป็นอยู่ของคนทั่วโลก อันนำมาซึ่งการเสริมสร้างความเข้าใจและความสัมพันธ์อันดีต่อกันของมวลมนุษยชาติ <br /> 
						ผ่านประสบการณ์การเรียนรู้วิถีชีวิตและปรับตนเองให้อยู่ร่วมกับผู้อื่นได้  อีกทั้งเป็นการเปิดโอกาสให้เยาวชนไทยมีทางเลือกทางการศึกษา   <br />
						ได้เสริมสร้างศักยภาพในการใช้ภาษาต่างประเทศ และสามารถแข่งขันกับนานาประเทศทั่วโลก  <br />
						โดยนักเรียนจะได้เข้าศึกษาในโรงเรียนมัธยมศึกษาตอนปลายที่ได้มาตรฐาน เป็นเวลา 1 ปีการศึกษา และพำนักกับครอบครัวอุปถัมภ์เสมือนสมาชิกในครอบครัว นอกจากนี้   <br />
						นักเรียนยังมีโอกาสได้ทำหน้าที่เป็นยุวทูตนำวัฒนธรรมของประเทศไทยไปเผยแพร่ตามโอกาสอันควร ทำให้ชาวต่างชาติได้เรียนรู้เกี่ยวกับประเทศไทยมากขึ้น ทั้งยังได้แลกเปลี่ยนการเรียนรู้วัฒนธรรมของประเทศอุปถัมภ์นั้นด้วย<br />
						EduWorld ได้จัดโครงการนักเรียนแลกเปลี่ยนในประเทศสหรัฐอเมริกา และโซนยุโรป ได้แก่ เนเธอร์แลนด์  เบลเยี่ยม อิตาลี และเยอรมนี  ซึ่งได้รับความไว้วางใจจากผู้ปกครอง นักเรียน และสถาบันการศึกษาต่างๆ จากทั่วประเทศอย่างต่อเนื่อง  โดยทีมงานสนับสนุนของ   <br />
						EduWorld  ที่พร้อมยินดีให้บริการแนะนำ ปรึกษา ด้านข้อมูลต่างๆ ตลอดจนการแนะแนวทางเตรียมความพร้อมแก่นักเรียน และผู้ปกครอง  ด้วยความมุ่งมั่นในการพัฒนาโครงการ เพื่อยังประโยชน์สูงสุดแก่เยาวชนไทย  
					</p>
				</uib-tab>
				<uib-tab index="1">
					
					<uib-tab-heading>
						<span>ข้อมูลทั่วไป</span>
					</uib-tab-heading>
					<h4 class="orangetext">ประเทศอเมริกา ( NETHERLANDS )</h4>
					<p>
						โครงการนักเรียนแลกเปลี่ยน จัดตั้งขึ้น โดยมีวัตถุประสงค์เพื่อแลกเปลี่ยนภาษา วัฒนธรรม และความเป็นอยู่ของคนทั่วโลก อันนำมาซึ่งการเสริมสร้างความเข้าใจและความสัมพันธ์อันดีต่อกันของมวลมนุษยชาติ <br /> 
						ผ่านประสบการณ์การเรียนรู้วิถีชีวิตและปรับตนเองให้อยู่ร่วมกับผู้อื่นได้  อีกทั้งเป็นการเปิดโอกาสให้เยาวชนไทยมีทางเลือกทางการศึกษา   <br />
						ได้เสริมสร้างศักยภาพในการใช้ภาษาต่างประเทศ และสามารถแข่งขันกับนานาประเทศทั่วโลก  <br />
						โดยนักเรียนจะได้เข้าศึกษาในโรงเรียนมัธยมศึกษาตอนปลายที่ได้มาตรฐาน เป็นเวลา 1 ปีการศึกษา และพำนักกับครอบครัวอุปถัมภ์เสมือนสมาชิกในครอบครัว นอกจากนี้   <br />
						นักเรียนยังมีโอกาสได้ทำหน้าที่เป็นยุวทูตนำวัฒนธรรมของประเทศไทยไปเผยแพร่ตามโอกาสอันควร ทำให้ชาวต่างชาติได้เรียนรู้เกี่ยวกับประเทศไทยมากขึ้น ทั้งยังได้แลกเปลี่ยนการเรียนรู้วัฒนธรรมของประเทศอุปถัมภ์นั้นด้วย<br />
						EduWorld ได้จัดโครงการนักเรียนแลกเปลี่ยนในประเทศสหรัฐอเมริกา และโซนยุโรป ได้แก่ เนเธอร์แลนด์  เบลเยี่ยม อิตาลี และเยอรมนี  ซึ่งได้รับความไว้วางใจจากผู้ปกครอง นักเรียน และสถาบันการศึกษาต่างๆ จากทั่วประเทศอย่างต่อเนื่อง  โดยทีมงานสนับสนุนของ   <br />
						EduWorld  ที่พร้อมยินดีให้บริการแนะนำ ปรึกษา ด้านข้อมูลต่างๆ ตลอดจนการแนะแนวทางเตรียมความพร้อมแก่นักเรียน และผู้ปกครอง  ด้วยความมุ่งมั่นในการพัฒนาโครงการ เพื่อยังประโยชน์สูงสุดแก่เยาวชนไทย  
					</p>
				</uib-tab>
				<uib-tab index="2">
					<uib-tab-heading>
						<span>วีซ่านักเรียน</span>
					</uib-tab-heading>
					<h4 class="orangetext">ประเทศอเมริกา ( BELGIUM )</h4>
					<p>
						โครงการนักเรียนแลกเปลี่ยน จัดตั้งขึ้น โดยมีวัตถุประสงค์เพื่อแลกเปลี่ยนภาษา วัฒนธรรม และความเป็นอยู่ของคนทั่วโลก อันนำมาซึ่งการเสริมสร้างความเข้าใจและความสัมพันธ์อันดีต่อกันของมวลมนุษยชาติ <br /> 
						ผ่านประสบการณ์การเรียนรู้วิถีชีวิตและปรับตนเองให้อยู่ร่วมกับผู้อื่นได้  อีกทั้งเป็นการเปิดโอกาสให้เยาวชนไทยมีทางเลือกทางการศึกษา   <br />
						ได้เสริมสร้างศักยภาพในการใช้ภาษาต่างประเทศ และสามารถแข่งขันกับนานาประเทศทั่วโลก  <br />
						โดยนักเรียนจะได้เข้าศึกษาในโรงเรียนมัธยมศึกษาตอนปลายที่ได้มาตรฐาน เป็นเวลา 1 ปีการศึกษา และพำนักกับครอบครัวอุปถัมภ์เสมือนสมาชิกในครอบครัว นอกจากนี้   <br />
						นักเรียนยังมีโอกาสได้ทำหน้าที่เป็นยุวทูตนำวัฒนธรรมของประเทศไทยไปเผยแพร่ตามโอกาสอันควร ทำให้ชาวต่างชาติได้เรียนรู้เกี่ยวกับประเทศไทยมากขึ้น ทั้งยังได้แลกเปลี่ยนการเรียนรู้วัฒนธรรมของประเทศอุปถัมภ์นั้นด้วย<br />
						EduWorld ได้จัดโครงการนักเรียนแลกเปลี่ยนในประเทศสหรัฐอเมริกา และโซนยุโรป ได้แก่ เนเธอร์แลนด์  เบลเยี่ยม อิตาลี และเยอรมนี  ซึ่งได้รับความไว้วางใจจากผู้ปกครอง นักเรียน และสถาบันการศึกษาต่างๆ จากทั่วประเทศอย่างต่อเนื่อง  โดยทีมงานสนับสนุนของ   <br />
						EduWorld  ที่พร้อมยินดีให้บริการแนะนำ ปรึกษา ด้านข้อมูลต่างๆ ตลอดจนการแนะแนวทางเตรียมความพร้อมแก่นักเรียน และผู้ปกครอง  ด้วยความมุ่งมั่นในการพัฒนาโครงการ เพื่อยังประโยชน์สูงสุดแก่เยาวชนไทย  
					</p>
				</uib-tab>
				<uib-tab index="3">
					<uib-tab-heading>
						<span>สถาบันที่แนะนำ</span>
					</uib-tab-heading>
					<h4 class="orangetext">ประเทศอเมริกา ( ITALY )</h4>
					<p>
						โครงการนักเรียนแลกเปลี่ยน จัดตั้งขึ้น โดยมีวัตถุประสงค์เพื่อแลกเปลี่ยนภาษา วัฒนธรรม และความเป็นอยู่ของคนทั่วโลก อันนำมาซึ่งการเสริมสร้างความเข้าใจและความสัมพันธ์อันดีต่อกันของมวลมนุษยชาติ <br /> 
						ผ่านประสบการณ์การเรียนรู้วิถีชีวิตและปรับตนเองให้อยู่ร่วมกับผู้อื่นได้  อีกทั้งเป็นการเปิดโอกาสให้เยาวชนไทยมีทางเลือกทางการศึกษา   <br />
						ได้เสริมสร้างศักยภาพในการใช้ภาษาต่างประเทศ และสามารถแข่งขันกับนานาประเทศทั่วโลก  <br />
						โดยนักเรียนจะได้เข้าศึกษาในโรงเรียนมัธยมศึกษาตอนปลายที่ได้มาตรฐาน เป็นเวลา 1 ปีการศึกษา และพำนักกับครอบครัวอุปถัมภ์เสมือนสมาชิกในครอบครัว นอกจากนี้   <br />
						นักเรียนยังมีโอกาสได้ทำหน้าที่เป็นยุวทูตนำวัฒนธรรมของประเทศไทยไปเผยแพร่ตามโอกาสอันควร ทำให้ชาวต่างชาติได้เรียนรู้เกี่ยวกับประเทศไทยมากขึ้น ทั้งยังได้แลกเปลี่ยนการเรียนรู้วัฒนธรรมของประเทศอุปถัมภ์นั้นด้วย<br />
						EduWorld ได้จัดโครงการนักเรียนแลกเปลี่ยนในประเทศสหรัฐอเมริกา และโซนยุโรป ได้แก่ เนเธอร์แลนด์  เบลเยี่ยม อิตาลี และเยอรมนี  ซึ่งได้รับความไว้วางใจจากผู้ปกครอง นักเรียน และสถาบันการศึกษาต่างๆ จากทั่วประเทศอย่างต่อเนื่อง  โดยทีมงานสนับสนุนของ   <br />
						EduWorld  ที่พร้อมยินดีให้บริการแนะนำ ปรึกษา ด้านข้อมูลต่างๆ ตลอดจนการแนะแนวทางเตรียมความพร้อมแก่นักเรียน และผู้ปกครอง  ด้วยความมุ่งมั่นในการพัฒนาโครงการ เพื่อยังประโยชน์สูงสุดแก่เยาวชนไทย  
					</p>
				</uib-tab>
			</uib-tabset>
			
			
		</div>
	</div>
</div>