<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa">
	<div class="container containermobile"><h1 class="title" ng-bind-html="content.pd_title">SUMMER CAMP</h1></div>
	
	<div id="content">
		<div class="container" ng-bind-html="content.pd_content">
		</div>
		<div class="summerContent mTop20">
			<div class="container">
				<ul>
					<li class="contentwrap clearfix" ng-class="abt.additional" ng-repeat="abt in summer_list">
						<div>
							<div class="imagecontent">
									<div class="bgwr">
										<img ng-src="/assets/images/%% abt.additional %%_image_wrapper.png" />


										<div class="imgnaieu" style="background-image: url('%% abt.image %%');">
										</div>
									</div>
							</div>
							<h3 ng-bind-html="abt.pd_title"></h3>
							<div class="contentext">
								<div ng-bind-html="abt.pd_content | trustAsHtml"></div>
								<div class="button">
									<article ng-bind-html="abt.pd_excerpt">%% abt.pd_excerpt %%</article>

									<span class="%% abt.post_status %%">%% abt.post_status == "open" | iiff : "เปิดรับสมัคร" : "ปิดรับสมัคร"  %%</span>

								</div>

								<div class="stts"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="loadingcontent" id="loadingServices">
			    <div class="loadingWrap">
			        <div class="middle">
			            <div><img src="/assets/images/contentload.gif"></div>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
