<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
</div>
<div class="contentNa" id="blog">
	<div class="container containermobile"><h1 class="title">Testimonial</h1></div>
	<div id="content">
		<div id="testimonialList" class="">
			<div class="container clearfix">
				<ul>
					<li class="clearfix" style="border:none">
						<div class="imageTestimonial">
							<img ng-src="%% testimoniald.image %%">
							<h4 ng-bind-html="testimoniald.post_author"></h4>
						</div>
						<div class="contenttestimonial">
							
							<h5 ng-bind-html="testimoniald.post_author"></h5>
							<p ng-bind-html="testimoniald.pd_content"></p>
						</div>
					</li>
				</ul>

				<h1 class="title" style="margin-top: 40px;">Other Testimonial</h1>
		
				<ul>
					<li class="clearfix" ng-repeat="testi in testimonial" ng-if="testi.post_id != idNa" id="student%%testi.post_id%%">
						<div class="imageTestimonial">
							<img ng-src="%% testi.image %%">
							<h4 ng-bind-html="testi.post_author"></h4>
						</div>
						<div class="contenttestimonial">
							
							<h5 ng-bind-html="testi.post_author"></h5>
							<p ng-bind-html="testi.pd_content"></p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>