<div id="slideHome">
	<uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in content.image_list track by $index" index="$index">
			<img ng-src="/api/image/blog/%% slide.image %%" style="margin:auto;">
			<div class="carousel-caption" ng-if="slide.description">
			  <h4 ng-bind-html="slide.title"></h4>
			  <div ng-bind-html="slide.description | trustAsHtml"></div>
			</div>
		</uib-slide>
	</uib-carousel>
	<div class="loadingcontent" id="loadingBanner">
	    <div class="loadingWrap">
	        <div class="middle">
	            <div><img src="/assets/images/contentload.gif"></div>
	        </div>
	    </div>
	</div>
</div>
<div class="contentNa containermobile">
	<div class="container containermobile"><h1 class="title" ng-bind-html="content.pd_title">TRANSLATION</h1></div>
	<!-- <div class="container"><h1 class="title" ng-bind-html="content.pd_title">Translation</h1></div> -->
	<br /><br />
	<div id="content">
		<div class="container" ng-bind-html="content.pd_content | trustAsHtml">
		</div>
	</div>
</div>
