<div id="blogDetail">
	<div id="content">
		<div ng-bind-html="blogcontent"></div>
		<h3 class="bluetext" ng-bind-html="blog.pd_title"></h3>
		<div class="postInfo"><span ng-bind-html="tglNa(blog.post_publish_date)"></span> Author : %% blog.post_author %% </div>
		<div ng-bind-html="blog.pd_excerpt"></div>
	</div>
	<div class="comment">
		<div id="fb-comment-box" dyn-fb-comment-box
		        page-href="%% absUrl %%"
		        numposts="5"
		        colorscheme="light">
		</div>
	</div>

</div>