.lightbox-nav {
  position: absolute;
  text-align: center;
  font-size: 0;
  top: 48%;
  z-index: 9;
  width: 100%;
  left: 0;
}
.lightbox-nav .btn-group{
  width:100%;
}
.lightbox-nav .prevImage{
  float: left;
  font-size: 80px;
  line-height: 80px;
  height: 100px;
  border-radius: 0;
  margin-left: -10px !important;
}

.lightbox-nav .nextImage{
  float: right !important;
  font-size: 80px;
  line-height: 80px;
  height: 100px;
  border-radius: 0;
  margin-right: -10px;
}

.modal-content .close {
    position: absolute;
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #000;
    cursor: pointer;
    opacity: 1 !important;
    padding: 10px 15px;
    right: -10px;
    top: -10px;
    z-index: 9;
}

.lightbox-image-container {
  position: relative;
  text-align: center; /* center the image */
}

/* the caption overlays the top left corner of the image */
.lightbox-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0.5em 0.9em; /* the left and right margins are offset by 0.4em for the span box-shadow */
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
}

.lightbox-image-caption span {
  padding-top: 0.1em;
  display: block;
  position: relative;
  padding-bottom: 0.1em;
  background-color: rgba(255, 255, 255, 0.75);
  /* pad the left and right of each line of text */
  box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.75),
    -0.4em 0 0 rgba(255, 255, 255, 0.75);
}
.lightbox-image-caption span p{
  margin: 0;
}

