<uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id" template-url="website/tmpl/component/slide.html">
	<img ng-src="{{slide.image}}" style="margin:auto;">
	<div class="carousel-caption">
	  <h4>Slide {{slide.id}}</h4>
	  <p>{{slide.text}}</p>
	</div>
</uib-slide>