<div class="container">
	<div class="row">
		<div class="col-md-4 col-xs-6">
			<a ui-sref="home"><img src="assets/images/logo.png" class="logo"/></a>
		</div>
		<div class="col-md-8 col-xs-8">
			<nav class="pull-left">
				<ul id="menu">
					<li><a ui-sref="home"><img src="/assets/images/icon_home.png" /> HOME</a></li>
					<li><a ui-sref="about"><img src="/assets/images/icon_user.png" /> ABOUT US</a></li>
					<li><a ui-sref="blog"><img src="/assets/images/icon_blog.png" /> BLOG</a></li>
					<li><a ui-sref="gallery"><img src="/assets/images/icon_gallery.png" /> GALLERY</a></li>
					<li><a ui-sref="contact"><img src="/assets/images/icon_contact.png" /> CONTACT US</a></li>
				</ul>

				<div id="menumobile">
					<div id="nav-icon3">
					  <span></span>
					  <span></span>
					  <span></span>
					  <span></span>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
