
	<div class="container">
		<div class="col-md-8 nopadding" ui-view></div>
		<div class="col-md-4 sidebar">
			<div class="part">
				<img src="/assets/images/line.png" class="img-responsive" />
			</div>
			<div class="part">
				<h3>Recent Posts</h3>
				<ul class="posts">
					<li ng-repeat="blg in recentblog track by blg.post_id" ng-if="blg.post_id != idBlg">
						<img ng-src="%% blg.image %%" class="img-responsive" />
						<div class="info"><h5><a ui-sref="blogdetail({id:blg.post_id, slug:slugKeun(blg.pd_title)})">%% blg.pd_title %%</a></h5> <span ng-bind-html="tglNa(blg.post_publish_date)"></span></div>
					</li>
				</ul>
			</div>
			<div class="part">
				<h3>Like Us On Facebook</h3>
				<fb:like-box href="http://www.facebook.com/pages/EduWorld-Overseas-Study-Center/109308305800287" show_faces="false" border_color="" width="355" stream="true" header="true"></fb:like-box>

			</div>
		</div>
	</div>
