.aboutContent{
	padding: 20px 0 40px 0;
	background: url('/assets/images/doodle.png');
	h2{
		font-size: 30px;
    	margin: 35px 0;
		span{
			color: $orange;

		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		.contentwrap{
			position: relative;
			h3{
				font-size: 28px;
				margin: 40px 0 20px 310px;
			}
			.imagecontent{
				margin-top: -40px;
				position: absolute;
				width: 350px;
				left: 0;
				z-index: 9;
				img{
					width: 100%;
				}
				.bgwr{
					position: relative;
					.imgnaieu{
					    position: absolute;
					    top: 30px;
					    width: 232px;
					    transform: rotate(-3.5deg);
					    left: 32px;
					    border: 5px solid #FFF;
					    height: 200px;
					    border-radius: 5px;
					    background-size: cover;
					    background-position: center;
					}
				}
				
			}
			.contentext{
				position: relative;
				float: right;
				min-height: 340px;
				width: 95%;
				text-align: right;
				div:first-child p{
					border-right: 4px solid #fff;
					color: #fff;
					float: right;
					font-size: 15px;
					margin-right: 170px;
					margin-top: 20px;
					padding: 20px 40px;
					width: 60%;
				}
				img{
					position: absolute;
					right: 50px;
					top: 45px;
					width: 80px;
				}
			}
		}
		.contentwrap:nth-child(2n){
			h3{
				margin: 40px 0 20px 10px;
			}
			.imagecontent{
				right: 0;
				left: auto;
				img{
					width: 100%;
				}
				.bgwr{
					.imgnaieu{
					    transform: rotate(3.5deg);
					    right: 32px;
					    left: auto;
					}
				}
			}
			.contentext{
				position: relative;
				min-height: 340px;
				width: 95%;
				float: left;
				text-align: left;
				div:first-child p{
					float: left;
					margin-left: 170px;
					margin-right: 0;
					border-left: 4px solid #fff;
					border-right: 0;
				}

				img{
					position: absolute;
					left: 50px;
					top: 45px;
					width: 80px;
					right: auto;
				}
			}
		}

		.contentwrap.green, .contentwrap{
			h3{
				color:#3CA607;
			}
			.contentext{
				background: url('/assets/images/bg_hijau.png') no-repeat;
			}
		}
		.contentwrap.blue{
			h3{
				color:#037AF9;
			}
			.contentext{
				background: url('/assets/images/bg_biru.png') no-repeat;
			}
		}
		.contentwrap.orange{
			h3{
				color:#EF8B08 ;
			}
			.contentext{
				background: url('/assets/images/bg_orange.png') no-repeat;
			}
		}
		.contentwrap.pink{
			h3{ 
				color:#F9056C ;
			}
			.contentext{
				background: url('/assets/images/bg_pink.png') no-repeat;
			}
		}
		.contentwrap.red{
			h3{
				color:#F72625 ;
			}
			.contentext{
				background: url('/assets/images/bg_merah.png') no-repeat;
			}
		}


	}
}
.summerContent{
	padding: 20px 0 40px 0;
	h2{
		font-size: 35px;
    	margin: 35px 0;
		span{
			color: $orange;
		}
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		.contentwrap{
			position: relative;

			.open{
				color: #FFF;    
				font-size: 24px;
    			line-height: 30px
			}


			.closed{
				color: #ccc;
				font-size: 24px;
    			line-height: 30px
			}
			h3{
				font-size: 35px;
				margin: 40px 0 20px 310px;
			}
			.imagecontent{
				margin-top: -40px;
				position: absolute;
				width: 350px;
				left: 0;
				z-index: 9;
				img{
					width: 100%;
				}
				.bgwr{
					position: relative;
					.imgnaieu{
					    position: absolute;
					    top: 30px;
					    width: 232px;
					    transform: rotate(-3.5deg);
					    left: 32px;
					    border: 5px solid #FFF;
					    height: 200px;
					    border-radius: 5px;
					    background-size: cover;
					    background-position: center;
					}
				}
				
			}
			.contentext{
				position: relative;
				float: right;
				min-height: 340px;
				width: 95%;
				text-align: right;
				div:first-child{
					border-right: 2px solid #fff;
					color: #fff;
					float: right;
					font-size: 14px;
					margin-right: 220px;
					margin-top: 20px;
					padding: 0 40px;
					width: 50%;
				}
				p{
					margin: 0;
				}
				.button{
					position: absolute; width: 159px ; right: 40px; top: 20px;line-height: 18px;
					a{
						line-height: 1.42857;
						font-size: 13px ;
					}
					p{
						line-height: 0;
					}
				}
			}
		}
		.contentwrap:nth-child(2n){
			h3{
				margin: 40px 0 20px 10px;
			}
			.imagecontent{
				right: 0;
				left: auto;
				img{
					width: 100%;
				}
				.bgwr{
					.imgnaieu{
					    transform: rotate(3.5deg);
					    right: 32px;
					    left: auto;
					}
				}
			}
			.contentext{
				position: relative;
				min-height: 340px;
				width: 95%;
				float: left;
				text-align: left;
				div:first-child{
					float: left;
					margin-left: 220px;
					margin-right: 0;
					border-left: 2px solid #fff;
					border-right: 0;
				}


				.button{
					position: absolute; width: 159px ; left: 40px; top: 20px;
				}
			}
		}

		.green{
			h3{
				color:#3CA607 ;
			}
			.contentext{
				background: url('/assets/images/bg_hijau.png') no-repeat;
			}
			a{
				text-align: center;
				text-decoration: none;
				border: 0;
				font-family: 'tahoma', sans-serif;
				background: #64b01a;
				color: #FFF;
				margin-bottom: 10px;
				padding: 10px;
				font-size: 14px;
				display: inline-block;
				text-transform: uppercase;
				position: relative;
				z-index: 9;
				margin-top: 0;
				width: 100%;
			}
			a:nth-child(2){
				background: #206101;
				border: 0;
			}
			a::after {
				background: #FFF;
				content: "";
				height: 0;
				left: 0;
				position: absolute;
				top: 0;
				transition: all 0.2s ease 0s;
				width: 100%;
				z-index: -1;
			}
			a:hover, a:active {
				color: #3CA607;
			}
			a:hover::after, a:active::after {
				height: 100%;
			}
		}
		.blue{
			h3{
				color:#3696CA ;
			}
			.contentext{
				background: url('/assets/images/bg_biru2.png') no-repeat;
			}
			a{
				text-align: center;
				text-decoration: none;
				border: 0;
				font-family: 'tahoma', sans-serif;
				background: #04c3fa;
				color: #FFF;
				margin-bottom: 10px;
				padding: 10px;
				font-size: 14px;
				display: inline-block;
				text-transform: uppercase;
				position: relative;
				z-index: 9;
				margin-top: 0;
				width: 100%;
			}
			a:nth-child(2){
				background: #037af9;
				border: 0;
			}
			a::after {
				background: #FFF;
				content: "";
				height: 0;
				left: 0;
				position: absolute;
				top: 0;
				transition: all 0.2s ease 0s;
				width: 100%;
				z-index: -1;
			}
			a:hover, a:active {
				color: #3696CA;
			}
			a:hover::after, a:active::after {
				height: 100%;
			}
		}
		.orange{
			.contentext{
				background: url('/assets/images/bg_orange.png') no-repeat;
			}
			a{
				text-decoration: none;
				text-align: center;
				border: 0;
				font-family: 'tahoma', sans-serif;
				background: #ef621c;
				color: #FFF;
				margin-bottom: 10px;
				padding: 10px;
				font-size: 14px;
				display: inline-block;
				text-transform: uppercase;
				position: relative;
				z-index: 9;
				margin-top: 0;
				width: 100%;
			}
			a:nth-child(2){
				background: #fac304;
				border: 0;
			}
			a::after {
				background: #FFF;
				content: "";
				height: 0;
				left: 0;
				position: absolute;
				top: 0;
				transition: all 0.2s ease 0s;
				width: 100%;
				z-index: -1;
			}
			a:hover, a:active {
				color: #EF8B08;
			}
			a:hover::after, a:active::after {
				height: 100%;
			}
		}

	}
}
.ourNetwork{
	margin-top: 0px;
	text-align: center;
	.title{
		margin-top: 40px;
	}
	div.col-md-8{
		float: none;
		padding: 0;
		font-size:16px;
	}
	.slick-slide img{
		height: 65px;
		margin: auto;
	}
	.networkItem{
		width: 100px;
		img{
			max-width: 100%;
		}
	}
	.slick-slider{
		margin: 40px 0;
	}
	.slick-prev::before, .slick-next::before{
		font-size: 60px;
	}
	.slick-next{
		right: -65px;
	}
	.slick-prev{
		left: -65px;
	}
}
.ourContact{
	h4{
		margin-bottom: 60px;
		font-size: 22px;
	}
	h5{
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	table{
		margin-bottom: 20px;
		tr{
			td{
				padding: 0px 10px 5px 0;
			}
		}
	}
	.btn-primary{
		font-family: 'tahoma', sans-serif;
		background: none;
		border: 1px solid $birumuda;
		color: $birumuda;
		padding: 10px 60px;
		font-size: 13px;
		margin-top: 20px;
		font-weight: bold;
		display: inline-block;
		position: relative;
		z-index: 9;
		width: 100%;
		margin-top: 40px;
	}
	.btn-primary::after {
		background: $birumuda;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.2s ease 0s;
		width: 100%;
		z-index: -1;
	}
	.btn-primary:hover, .btn-primary:active {
		color: #fff;
	}
	.btn-primary:hover::after, .btn-primary:active::after {
		height: 100%;
	}
}

.student-exchange-program,.contentNa{
	position: relative;

	.title{
        margin-bottom: 20px;
	}
	.nav-tabs {
		border-bottom: 0;
		display: table;
		width: 100%;
		margin-bottom: 10px;
		li{
			display: table-cell;
			float: none;
			a{
				text-align: center ;
				background: #e8e3e3;
				border: 0 ;
				color: #555;
				margin: 0 10px;
				background: #FFF;
			    clear: both;
			    border-radius: 50px;
			    box-shadow: 4px 3px 8px #a1a1a1;
			    padding: 1px;

				span{
				    display: block;
				    font-size: 14px;
				    padding: 12px;
				    margin-top: 0;
				    font-weight: bold;
				    padding-left: 15px;
				    border: 1px solid #e1e1e1;
				    border-radius: 50px;
				    background: rgba(255,255,255,0.1);
				    text-align: center;
				    letter-spacing: 2px;
				}
				img{
			        height: 40px;
				    float: left;
			        margin: 3px 0px 7px 4px;
				    border: 2px solid #dadada;
				    border-radius: 50%;
				    box-shadow: 0 0 0 2px #f1f1f1;
				    display: inline-block;
				}
			}
		
		}

		li:hover{
			a{
				background: #f1f1f1;
			}
		}
		li:first-child{
			a{
			    margin-left: 0;
			}
		}
		li:last-child{
			a{
			    margin-right: 0;
			}
		}
		
		li.active > a, li.active > a:hover, li.active > a:focus{
			background: #1d5795;
			color: #FFF;

			span{
				background: rgba(105,174,249,0.2);
			    border: 1px solid #5481b1;
			}
			img{
			    border: 2px solid #1d5795;
			    box-shadow: 0 0 0 2px #2462a2;
			}
		}
	}
	.tab-content{
		color: #555;
		background: #fcfafa;
		padding: 20px;
		font-size: 17px;
		line-height: 28px;
		h4{
			margin-top: 0;
			font-size: 22px;
		}
	}
}
.student-exchange-program{
	.tab-content{
		margin-top: 20px;
	}
}
.study-abroad table,.high-school table, .student-exchange-program table{
	width: 100%;
}
.study-abroad,.high-school{
	.nav-tabs {
		border-bottom: 0;
		display: table;
		width: 100%;
		margin-bottom: 10px;
		li{
			display: table-cell;
			float: none;
			a{
				text-align: center ;
				background: #e1e1e1;
				color: #555;
				border-right: 2px solid #CCC;
				margin: 0;
				span{
					display: block;
					font-size: 14px;
					font-weight: 500;
				}
			}


		}
		li:last-child{
			a{

				border-right: 0;
			}
		}
		li.active > a, li.active > a:hover, li.active > a:focus{
			background: #23527c;
			color: #FFF;
			border-right: 2px solid #CCC;
		}
	}
	.tab-content{
		color: #555;
		background: #FFF;
		margin-top: 20px;
		padding: 20px;
		font-size: 17px;
		line-height: 28px;
		h4{
			font-size: 22px;
		}
	}
	.title{
		font-family: 'tahoma', sans-serif;
		font-weight: 100;
		color: #fff;
		display: inline-block;
		font-size: 22px;
		margin-top: 25px;
		width: 100%;
		margin-bottom: 1px;
		text-align: center;
		text-transform: uppercase;
		background-color: #23527c;
		padding: 15px;
	}
}
.textcontent{
	table{
		tr:first-child strong{
			color: #FFF;
			font-weight: bold;
		}
		td{
			padding: 5px;
		}
	}
	p strong{
		color: #000000;
	}
	h3{
		margin: 10px 0;
		color: $birumuda ;
	}
	h2{
		color: #000000 ;
	}
	h4{
		margin: 10px 0;
		font-size: 18px ;
		color: #000000 ;
	}
}
.contentNa{
	h2{
		margin: 10px 0;
		color: #000000 ;
	}
	h3{
		color: $orange ;
	}
	h4{
		margin: 30px 0;
	}
}
