#blog{
	#blogList{
		background: #FFF;
		ul{
			li{
				.clip-each{
					width: 100%;
					.infoBlog{
						line-height: 20px;
						h5{
						font-family: 'tahoma';

						padding-bottom: 5px;
						border-bottom: 1px solid #000000;
							span{
								font-family: 'tahoma';
								color: #555;
								font-size: 14px;
								display: block;
								margin-top: 10px;
							}
						}
					}
					a{
						i{
							font-size: 10px;
						}
					}
				}
				.clip-each2{
					width: 98.5%;
				}
			}
		}
		.firstBlog{
			.clip-each {
				z-index: 9;
				margin: 10px;
				width: 100%;
				height: 450px;
				position: relative;
				overflow: hidden;
				background: #FFF;
				span{
					z-index: 9;
					position: relative;

					img{
						height: 100%;
					}
				}
				.infoBlog{
					background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
					height: 100%;
					padding: 40px 60px 40px 40px;
					position: absolute;
					right: 0;
					top: 0;
					width: 400px;
					z-index: 9;

					h5{
						font-family: 'tahoma';
						border-bottom: 1px solid #000000;
						color: #000000;
						font-size: 22px;
						margin-bottom: 20px;
						margin-top: 0;
						padding-bottom: 15px;
						span{
							font-family: 'tahoma';
							color: #555;
							font-size: 13px;
							display: block;
							margin-top: 10px;
						}
					}
				}
				a{
					position: absolute;
					bottom: 0;
					padding: 8px 20px;
					color: #FFF;
					right: 0;
					display: block;
					z-index: 99;
					background: $birumuda;
					text-decoration: none !important;
					span{
						margin-right: 5px
					}
					i{
						font-size: 10px;
					}
				}
			}

			.clip-each:before {
			  content: "";
			  position: absolute;
			}

			.clip-each, .clip-each:after {
				-webkit-clip-path: polygon(0 0, 89% 0, 100% 18%, 100% 100%, 11% 100%, 0 81%);
				clip-path: url('../images/clip.svg#blog-clip');
			}

			.clip-each2 {
				height: 470px;
				width: 99.2%;
				position: absolute;
				top: 0;
				background: #FFF;
				span{
					z-index: 9;
					position: relative;

					img{
						width: 100%;
					}
				}
			}

			.clip-each2:before {
			  content: "";
			  position: absolute;
			}

			.clip-each2, .clip-each2:after {
				-webkit-clip-path: polygon(0 0, 89% 0, 100% 18%, 100% 100%, 11% 100%, 0 81%);
				clip-path: url('../images/clip.svg#blog-clip');
			}
			.border-style-thin2 {
			  background-color: #FFF;
				transition: 0.1s ease-out;
			}

			.border-style-thin2:before {
			  top: 6px;
			  left: 6px;
			  right: 6px;
			  bottom: 6px;
			}
		}
	}
}

#blogDetail{
	margin-top: 50px;
	#content{
		h3{
			margin: 20px 0;
		}
		.postInfo{
			background: #f5f5f5;
			color: #555;
			padding: 8px 15px;
			font-size: 13px;
			margin-bottom: 20px;
			span{
				margin-right: 20px;
			}
		}
	}
}
#otherArticles{
	position: relative;
	margin: 20px 0;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;

		li{
			float: left;
			width: 50%;
			padding-right: 10px;
			a{
				text-decoration: none;
				color: #555;
				font-size: 20px;
				i{
					font-size: 12px;
					margin: 0 5px !important
				}
			}
			.imageWrapper{
				width: 100%;
				overflow: hidden;
				height: 200px;
				display: block;
				img{
					width: 100%;
				}
			}
			.previous{
				font-family: 'tahoma', sans-serif;
				font-size: 18px;
				text-transform: uppercase;
				padding: 8px 0;
				display: block;
			}
			.next{
				font-family: 'tahoma', sans-serif;
				font-size: 18px;
				text-transform: uppercase;
				padding: 8px 0;
				display: block;
				text-align: right;
			}
		}
		li:nth-child(2){
			padding-left: 10px;
			padding-right: 0;
			float: right;
		}
	}
}
.comment{
	margin-top: 40px;
}
