#galleryList{

	.masonry-brick{
		margin-right: 20px;
	    margin-bottom: 20px;
	    width: 23%;
	    max-width: 240px;
	    max-height: 240px;
		box-shadow: 2px 2px 8px #ccc;
		background: $birugelap;

	    .imgWrpb{
		    position: absolute;
		    z-index: -1;
		    width: 100%;
		    height: 150px;
		    top: 50%;
		    margin-top: -75px;
		    box-shadow: 0 0 5px #292929;
		    background: #6b6b6b;
		    left: 0px;
		    filter: blur(12px);
		    border-radius: 25px;
	    }
	    .imgWrp{
	    	margin: 8px;
	    	background: #FFF;
    		overflow: hidden;
    		min-height: 205px;

    		img{
				text-align: center;
				max-height: 205px;
				min-width: 100%;
			}
	    }
	    .imgWrpp{
    	    margin: 15px;
    		overflow: hidden;
    		min-height: 205px;

    		img{
				text-align: center;
				max-height: 205px;
				min-width: 100%;
			}
	    }
		
		.infoGallery{
			color: #FFF;
			position: absolute;
			text-align: center;
			top: 0;
			width: 100%;
			z-index: 9;
			transition: 0.1s ease-out;
			cursor: pointer;

			h3{
				font-size: 14px;
				transition: 0.1s ease-out;
				padding: 15px 0;
				text-transform: uppercase;
				background: $birugelap;
				color: #fff !important;
				text-align: center;
				margin: 0;
			}

			h5{

				background: #fff;
				color: $birugelap !important;
				text-align: center;
				opacity: 0.9;
				font-size: 13px;
				margin: 0;
				padding: 10px 0;
			}
		}


	}
	.mnsryb{
		box-shadow: 0 1px 9px #ccc;
	    border: 1px solid #eee;
	    background: #FFF;
	}
	.masonry-brick:hover{
		cursor: pointer;
		
	    .imgWrpp{
	    	img{opacity:0.9;}
		}
		.infoGallery{
			transition: 0.2s ease-out;
		}
	}
	.masonry-brick:nth-child(4n){

		margin-right: 0 !important;
	}
}

.phtfrmalbm{
    padding: 0;
    font-family: 'tahoma', sans-serif;
    font-weight: 300;
    color: #007ac3;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
.vidList{
	padding: 0;
	list-style: none;
	margin: 0 -10px;

	li{
		width: 25%;
		padding: 0 10px;
		float: left;
		margin-bottom: 20px;

		img{
			width: 100%;
			border: 8px solid #fff;
		    box-shadow: 0 0 4px #ccc;
		}
	}
}