header{
    margin-bottom: 20px;
	background: #FFF;
	.logo{
		padding: 15px 0;
        width: 100%;
        max-width: 250px;
        float: right;
        margin-right: 15px;
	}
	nav #menu{
		clear: both;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		display: table;

		li{
			-moz-animation-name: dropHeader;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-out;
			-moz-animation-duration: 1.5s;

			-webkit-animation-name: dropHeader;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 1.5s;

			animation-name: dropHeader;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 1.5s;


			float: left;
			text-align: center;
			a{
				background: $merah;
				color: #eee;
				display: block;
				font-size: 14px;
				line-height: 50px;
				padding: 10px;
				text-align: center;
				width: 120px;
				cursor: pointer;
				text-decoration: none;
				transition:0.1s ease-out;
				opacity: 1;
			}

			a:hover{
				opacity: 0.9;
				padding-top: 20px;
				color: #FFF;
				transition:0.2s ease-out;
			}
			img{
				display: block;
				height: 30px;
				margin: 15px auto 0;
			}
		}

		li:nth-child(2){

			-moz-animation-name: dropHeader2;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-out;
			-moz-animation-duration: 1.5s;

			-webkit-animation-name: dropHeader2;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 1.5s;

			animation-name: dropHeader2;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 1.5s;


			a{
				background: $orange;
			}
		}
		li:nth-child(3){

			-moz-animation-name: dropHeader3;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-out;
			-moz-animation-duration: 1.5s;

			-webkit-animation-name: dropHeader3;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 1.5s;

			animation-name: dropHeader3;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 1.5s;
			a{
				background: $kuning;
			}

		}
		li:nth-child(4){

			-moz-animation-name: dropHeader4;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-out;
			-moz-animation-duration: 1.5s;

			-webkit-animation-name: dropHeader4;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 1.5s;

			animation-name: dropHeader4;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 1.5s;
			a{
				background: $hijau;
			}
		}
		li:nth-child(5){

			-moz-animation-name: dropHeader5;
			-moz-animation-iteration-count: 1;
			-moz-animation-timing-function: ease-out;
			-moz-animation-duration: 1.5s;

			-webkit-animation-name: dropHeader5;
			-webkit-animation-iteration-count: 1;
			-webkit-animation-timing-function: ease-out;
			-webkit-animation-duration: 1.5s;

			animation-name: dropHeader5;
			animation-iteration-count: 1;
			animation-timing-function: ease-out;
			animation-duration: 1.5s;

			a{
				background: $biru;
			}
		}
	}
    .hide{
        display: none;
    }
    #menumobile{

        #nav-icon3 {
            width: 35px;
            height: 45px;
            position: relative;
            margin: 32px 9px 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
        }

        #nav-icon3 span {
          display: block;
          position: absolute;
          height: 6px;
          width: 100%;
          background: $birugelap;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
        }

        /* Icon 3 */

        #nav-icon3 span:nth-child(1) {
          top: 0px;
        }

        #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
          top: 11px;
        }

        #nav-icon3 span:nth-child(4) {
          top: 22px;
        }

        #nav-icon3.open span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%;
        }

        #nav-icon3.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        #nav-icon3.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        #nav-icon3.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%;
        }

    }
}
#menumobile,#navHeader{
    display: none;
}
#navHeader{
    height: 120px;
    width: 100%;
    position: relative;
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: translateY(-150px);
    }

	55% {
        -moz-transform: translateY(-150px);
    }
	65% {
        -moz-transform: translateY(10px);
    }
	75% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	65% {
        -moz-transform: translateY(10px);
    }
    75% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader {
    0% {
        transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	65% {
        -moz-transform: translateY(10px);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}



@-moz-keyframes dropHeader2 {
    0% {
        -moz-transform: translateY(-150px);
    }

	55% {
        -moz-transform: translateY(-150px);
    }
	75% {
        -moz-transform: translateY(10px);
    }
	85% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader2 {
    0% {
        -webkit-transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	75% {
        -moz-transform: translateY(10px);
    }
    85% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader2 {
    0% {
        transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	75% {
        -moz-transform: translateY(10px);
    }
    85% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}





@-moz-keyframes dropHeader3 {
    0% {
        -moz-transform: translateY(-150px);
    }

	55% {
        -moz-transform: translateY(-150px);
    }
	85% {
        -moz-transform: translateY(10px);
    }
	95% {
        -moz-transform: translateY(0);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader3 {
    0% {
        -webkit-transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	85% {
        -moz-transform: translateY(10px);
    }
    95% {
        -webkit-transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader3 {
    0% {
        transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	85% {
        -moz-transform: translateY(10px);
    }
    95% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}




@-moz-keyframes dropHeader4 {
    0% {
        -moz-transform: translateY(-150px);
    }

	55% {
        -moz-transform: translateY(-150px);
    }
	93% {
        -moz-transform: translateY(10px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader4 {
    0% {
        -webkit-transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	93% {
        -moz-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader4 {
    0% {
        transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	93% {
        -moz-transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}




@-moz-keyframes dropHeader5 {
    0% {
        -moz-transform: translateY(-150px);
    }

	55% {
        -moz-transform: translateY(-150px);
    }
	98% {
        -moz-transform: translateY(10px);
    }
    100% {
        -moz-transform: translateY(0);
    }
}
@-webkit-keyframes dropHeader5 {
    0% {
        -webkit-transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	98% {
        -moz-transform: translateY(10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}
@keyframes dropHeader5 {
    0% {
        transform: translateY(-150px);
    }
	55% {
        -moz-transform: translateY(-150px);
    }
	98% {
        -moz-transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}
