#slideHome{
	position: relative;
	.carousel-inner > .item > img, .carousel-inner > .item > a > img{
		width: 100%;
	}
	.carousel-inner{
		height: 555px;
	}
	.carousel-caption{
		top:0%;
		bottom: auto;
		padding: 220px 125px 190px 85px;
		left: -600px;
		height: 650px;
		width: 100%;
	    background: url('/assets/images/clipPolygon1.svg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: bottom right;
		transition:0.2s ease-out;
	    


		p{
			font-size: 15px;
			text-align: left;
			text-shadow: none !important;
			font-family: 'tahoma', sans-serif;
			color: #FFF;
		}
		h4{
			font-size: 30px;
			font-family: 'tahoma', sans-serif;
			color: #FFF;
			text-shadow: 0;
			text-align: left;
			text-shadow: 0 0 0 !important;
		}
	}
	.carousel-inner:hover{

		.carousel-caption{
			left: 0;
			transition:0.3s ease-out;
		}
	}

	
	.carousel-control {
		background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
		height: 60px;
		opacity: 0.7;
		top: 270px;
		width: 50px;
	}
	.carousel-indicators{
		bottom: 80px;
		left: 5%;
	    z-index: 15;
	    width: 90%;
	    margin-left: 0;
	    text-align: left;
	    display: none;
	}
	.carousel-indicators li{
		width: 30px;
		border-radius: 0;
		background: $birugelap;
		margin: 0 8px;
		border: 0;
		height: 8px;
	}
	.carousel-indicators .active{
		background: #FFF;
		width: 30px;
		height: 8px;
		margin: 0 8px;
	}
}
@-webkit-keyframes mymove {
    0% {left: -600px;}
    100% {left: 0;}
}

@keyframes mymove {
    0% {left: -600px;}
    100% {left: 0;}
}


#atc{
	margin: -35px auto auto;
    position: relative;
    z-index: 99;
	ul{
		display: table;
		list-style: outside none none;
		margin: 0;
		padding: 0;
		table-layout: fixed;
		width: 100%;

		li{
			display: table-cell;
			text-align: center;
			vertical-align: middle;
			width: 100%;
			a{
				background: $abu;
				color: $birugelap;
				cursor: pointer;
				display: block;
				font-size: 14px;
				padding: 20px 0;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.2s ease-out;
			}
			a:hover{
				background: $abugelap;
				transition: 0.2s ease-out;
			}
			img{
				display: inline-block;
				height: 30px;
				margin: 0 10px;
			}
		}
	}
}
#newsEvent{

	width: 950px;
    position: relative;
    margin-bottom: 40px;

		.leftNav{
			top: 0px;
		    left: 15px;
		    font-size: 35px;
		    background: #f9c10c;
		    color: #FFF;
		    text-decoration: none;
		    position: absolute;
		    z-index: 2;
		    padding: 20px 12px;

			img{
				width: 200px;
			}
		}

		.rightNav{
			bottom: 0px;
		    right: 23px;
		    background: #f72625;
		    color: #FFF;
		    font-size: 35px;
		    text-decoration: none;
		    position: absolute;
		    padding: 38px 12px;
			img{
				width: 200px;
			}
		}
		.masonry-brick, .masonry-bricks{
			overflow: hidden;
			width: 24.4%;
			height: 200px;
			margin-right: 5px;
			margin-bottom: 5px;

			img{

				transition:0.2s ease-out;
				height: 100%;
			}
			.infoNews{
				background: rgba(17,28,106, 0.8);
				color: #FFF;
				position: absolute;
				text-align: left;
				width: 100%;
				transition: 0.2s ease-out;
				cursor: pointer;
				padding: 10px 15px;
				bottom: 0;
				height: 88px;

				h3{
					font-size: 20px;
					transition: 0.2s ease-out;
					margin: 5px 0;
					text-transform: uppercase;
				    position: relative;
				    width: 100%;
				    color: #FFF !important;
				}
				h4{
					transition: 0.2s ease-out;
					text-transform: uppercase;
					font-size: 14px;
				    position: relative;
				    width: 100%;
				    margin: 5px 0;
				    color: #FFF !important;
				}
				h5{

				}
			}
		}
	.masonry-brick:hover, .masonry-bricks:hover{
		cursor: pointer;
		.infoNews{
			background: rgba(57,57,57,0.8);
			transition: 0.2s ease-in;
			padding: 20px 15px;
			height: 100%;

			h4{
				margin: 10px 0;
			}
		}
		img{
			transition:0.2s ease-out;
			transform: scale(1.2);
			-webkit-transform: scale(1.2);
			-o-transform: scale(1.2);
			-moz-transform: scale(1.2);
		}
	}
	.masonry-bricks{
		float: left;
   		position: relative;
	}
	

	.masonry-brick:nth-child(2){
		height: 180px;
	}	
	.masonry-brick:nth-child(3){
		height: 230px;
	}
	.masonry-brick:nth-child(4n){
		height: 185px;
		margin-right: 0;
	}
	
	.masonry-brick:nth-child(5){
		height: 220px;
		left: 0 !important;
    	top: 205px !important;
	}
	.masonry-brick:nth-child(6){
		height: 220px;
	    left: 229px !important;
    	top: 185px !important;
	}
	.masonry-brick:nth-child(7){
		height: 215px;
	    left: 458px !important;
    	top: 235px !important;
	}
	.masonry-brick:nth-child(8){
	    left: 688px !important;
    	top: 195px !important;
	}
}

#staticInfo{
	text-align: center;
	background: $abumuda;
	padding: 40px 0;
	margin-top: -30px;

	h4{
		font-size: 20px;
		font-weight: 400;
	}
	h5{
		margin: 10px 0 5px 0;
		font-weight: 400;
		font-size: 16px;
	}
	h6{
		font-size: 14px;
		font-weight: 300;
		margin: 0;
	}
}
#enquiry{
	.uib-datepicker .uib-title{
		font-size: 18px;
	}
	.formenquiry{
		background: $abugelapbanget;
		padding: 34px 40px;

		.form-control{
			font-size: 14px;
		}
		h4{
			border-bottom: 2px solid $birugelap;
			color: $birugelap;
			font-size: 22px;
			font-weight: 400;
			padding-bottom: 10px;
			text-transform: uppercase;
			img{
				display: inline;
				float: right;
				width: 30px;
			}
		}
		.form-group{
			margin-bottom: 8px;
		}
		.btn-primary {
			background-color: $kuningbiasa;
			color: $birugelap;
			padding: 0 7px;
			border: 0;
			transition: 0.1s ease-out;

			span{
				display: inline-block; padding:4px 10px 5px; font-weight: bold;
				font-size: 14px;
			}
		}
		.btn-primary:hover {
			background-color: $birugelap;
			color: #FFF;
			padding: 0 7px;
			border: 0;
			transition: 0.2s ease-out;
		}
	}
	.carousel-inner{
		height: 550px;
		.overlay{
			background: rgba(0,0,0,0.5);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			transition:0.2s ease-out;

			img{
				position: relative; margin-top: 180px;cursor: pointer;
			}
		}
		.item{
			height: 488px;
			background: #000;
		}
		.overlay:hover{
			background: rgba(0,0,0,0.7);
			transition:0.2s ease-out;
		}
	}

	.carousel-control{
		display: none;
	}
	.carousel-indicators li{
		width: 30px;
		border-radius: 0;
		background: $birugelap;
		margin: 0 8px;
		border: 0;
		height: 8px;
	}
	.carousel-indicators .active{
		background: #FFF;
		width: 30px;
		height: 8px;
		margin: 0 8px;
	}
	.carousel-indicators {
		bottom: 130px;
		left: auto;
		right: 20px;
		width: auto;
	}
	.carousel-caption{
		background: rgba(0,122,195,0.8);
		bottom: 0;
		color: #fff;
		left: 0;
		padding: 20px;
		top:auto;
		text-align: left;
		width: 100%;

		.btn {
		    text-shadow: none;
		    border: 1px solid #FFF;
		    color: #FFF;
		    position: absolute;
		    right: 28px;
		    bottom: 15px;
		    padding: 5px 20px;
		}
		.btn:hover{
			color: $birugelap;
			background: #FFF;
		}

		

		p{
			margin: 0;
			font-size: 14px;
			display: none;
		}
		h4{
			font-size: 24px;
			margin: 0;
			a{
				color: #FFF;
				text-decoration: none !important;
			}
		}
	}
}
#blogList{
    position: relative;
	background: url('/assets/images/bg_blog.png');
	background-size: cover;
	padding-bottom: 20px;

	h4{
		color: #333;
		text-align: center;
		position: relative;
		width: 100%;
		padding: 15px;
		font-size: 28px;
		margin: 40px auto;
	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;

		li{
			float: left;
			margin: 20px 0;
			.clip-each {
				z-index: 9;
				margin: 10px;
				width: 460px;
				height: 280px;
				position: relative;
				overflow: hidden;
				background: #FFF;
				span{
					z-index: 9;
					position: relative;

					img{
						height: 100%;
						transition:0.2s ease-out;

					}
				}
				.infoBlog{
					font-family: 'tahoma';
					background: #FFF;
					height: 100%;
					padding: 20px;
					position: absolute;
					right: 0;
					top: 0;
					width: 200px;
					z-index: 9;

					h5{
						font-family: 'tahoma';
						font-size: 24px;
						margin-top: 0;
						margin-bottom: 20px
					}
				}
				a{
					position: absolute;
					bottom: 0;
					padding: 8px 20px;
					color: #FFF;
					right: 0;
					display: block;
					z-index: 99;
					background: $birumuda;
					text-decoration: none !important;
					span{
						margin-right: 5px
					}
					i{
						font-size: 10px;
					}
				}
			}

			.clip-each:before {
			  content: "";
			  position: absolute;
			}

			.clip-each, .clip-each:after {
				-webkit-clip-path: polygon(0 0, 89% 0, 100% 18%, 100% 100%, 11% 100%, 0 81%);
				clip-path: url('../images/clip.svg#blog-clip');
			}

			.clip-each2 {
				height: 300px;
				width: 480px;
				position: absolute;
				top: 0;
				background: #FFF;
				span{
					z-index: 9;
					position: relative;

					img{
						width: 100%;
					}
				}
			}

			.clip-each2:before {
			  content: "";
			  position: absolute;
			}

			.clip-each2, .clip-each2:after {
				-webkit-clip-path: polygon(0 0, 89% 0, 100% 18%, 100% 100%, 11% 100%, 0 81%);
				clip-path: url('../images/clip.svg#blog-clip');
			}
			.border-style-thin2 {
			  background-color: #FFF;
				transition: 0.1s ease-out;
			}

			.border-style-thin2:before {
			  top: 6px;
			  left: 6px;
			  right: 6px;
			  bottom: 6px;
			}
		}
		li:hover{
			cursor: pointer;

			.border-style-thin2 {
			  background-color: $birumuda !important;
				transition: 0.2s ease-out;
			}
			.infoBlog{
				background: rgba(3,158,250, 1) !important;
				color: #FFF;
			}
			.clip-each {
				span{
					img{
						transition:0.2s ease-out;
						transform: scale(1.2);
						-webkit-transform: scale(1.2);
						-o-transform: scale(1.2);
						-moz-transform: scale(1.2);
					}
				}
			}

		}
	}
}
#testimonial{
    position: relative;
	text-align: center;
	h4{
		color: #333;
		text-align: center;
		margin: auto;
		position: relative;
		width: 100%;
		padding: 15px;
		margin-bottom: 60px;
		font-size: 28px;
		text-transform: uppercase;
	}
	.testimonialItem{
		width: 300px;
		text-align: center;
		position: relative;
		cursor: pointer;

		.imageTestimonial{
			border-radius: 50%;
			height: 170px;
			margin: 7px auto 0;
			overflow: hidden;
			width: 170px;
			img{
				width: 100%;
			}
		}
		.contenttestimonial{
			width: 185px;
			text-align: justify;
			margin: auto;
			font-family: 'tahoma';
			font-size: 14px;
		}
		h4{
			background: none;
			color: #000;
			display: inline-block;
			font-weight: bolder;
			margin: 30px 0 0;
			padding: 0;
			font-size: 18px;
			width: auto;
			min-height: 65px;
		}
		h5{
			font-size: 17px;
			font-style: italic;
			font-weight: 300;
			line-height: 18px;
		}
	}
	.bgTestimonial{
		position: absolute;
		top: 0;
		left: 78px;
	}
	.btn-primary{
		background: none;
		border: 1px solid $birumuda;
		color: $birumuda;
		padding: 10px 60px;
		font-size: 18px;
		margin-top: 20px;
		font-weight: bold;
		display: inline-block;
		position: relative;
		z-index: 9;
	}
	.btn-primary::after {
		background: $birumuda;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.2s ease 0s;
		width: 100%;
		z-index: -1;
	}
	.btn-primary:hover, .btn-primary:active {
		color: #fff;
	}
	.btn-primary:hover::after, .btn-primary:active::after {
		height: 100%;
	}



}
