@include max-screen(2560px)
{
	#slideHome .carousel-caption{
		width: 30%;
	}
}
@include min-screen(1367px)
{
	.title{
		margin-top: 0px;
	}
	.study-abroad,.high-school{
		.title{
			margin-top: 0px;
		}
	}
}
@include max-screen(1366px)
{
	#slideHome {
		.carousel-inner{
			height: 450px;
		}
		.carousel-control{
			top:250px;
		}
	}
	#slideHome .carousel-caption {
	    top: 0%;
	    height: 525px;
	    width: 35%;
	    padding: 180px 130px 180px 50px;
	}
	
	.slick-next{
		right: -65px !important;
	}
	.slick-prev{
		left: -65px !important;
	}
}

@include max-screen(1199px) {
    
	#testimonial .bgTestimonial{
		left: 65px;
	}
}
@media (min-width: 1200px) {
    .container {
      width: 1050px;
      } 
}
@include max-screen(1152px)
{
	#slideHome .carousel-inner{
		height: 500px;
	}
	#slideHome .carousel-caption {
	    top: 0%;
	    height: 500px;
	    width: 35%;
	    padding: 120px 130px 120px 50px;
	}
	#slideHome .carousel-caption p{
		font-size: 12px;
	}
	footer .logoFooter {
	    margin-right: 20px;
	    width: 180px;
	    margin-top: 10px;
	}
	#galleryList .masonry-brick{
		margin: 0;
		width: 25%;
	}
	#blogList ul li {
		.clip-each{
			width: 95%;
			height: 270px;
		}
		.clip-each2{
			width: 93.2%;
			height: 290px;
		}
	}
	#testimonial .bgTestimonial{
		display: none;
	}
	#testimonial .testimonialItem .contenttestimonial{
		text-align: center;
	}
	#enquiry .carousel-inner{
		height: 449px;
	}
	#enquiry .carousel-inner .item {
	    height: 446px;
	}
	#enquiry .carousel-indicators {
   		bottom: 75px;
   	}
	#slideHome {
		.carousel-inner{
			height: 350px;
		}
		.carousel-control{
			top: 150px;
    		width: 40px;
		}
		.carousel-indicators{
			bottom: 40px;
		}
	}
	#enquiry .formenquiry{
		padding: 25px 40px;

		.form-group {
		    margin-bottom: 5px;
		}
	}
	.aboutContent ul .contentwrap .imagecontent{
		width: 250px;
	}
	.aboutContent ul .contentwrap h3 {
	    font-size: 40px;
	    margin: 40px 0 20px 240px;
	}

	.aboutContent ul .contentwrap:nth-child(2n) h3 {
	    font-size: 40px;
	    margin: 40px 240px 20px 0;
	    text-align: right;
	}
}

@include max-screen(991px)
{

}

@include max-screen(899px)
{
	#slideHome {
		.carousel-inner{
			height: 335px;
		}
		.carousel-control{
			top: 150px;
    		width: 40px;
		}
		.carousel-indicators{
			bottom: 40px;
		}
	}

	#enquiry .formenquiry{
		padding: 52px 40px;

		.form-group {
		    margin-bottom: 15px;
		}
	}
}
@include max-screen(768px)
{

	#enquiry .carousel-caption h4{
		font-size: 20px;
	}

	.sidebar{
		padding-left: 0;
	}
	.sidebar .img-responsive{
		margin:auto;
	}
	.sidebar .part .posts li .info{
		width: 500px
	}

	.footerContact li {
		.flowus{
		    float: left;
	    	margin-right: 10px;
	    	line-height: 27px;
	    }
	    .sosmed{
    	    float: left;
    	    margin-top: 4px;
	    }
	    a{
	    	font-size: 15px;
	    }
	    i{
	    	line-height: 27px;
	    	font-size: 15px;
	    }
	}
	.cntactinf{
		.tabsInfo{
			.nav-tabs{
				margin-bottom: 0 !important;
				display: table;
				width: 100%;
				overflow: hidden;
				padding:0;
				li{
					display: table-cell;
					width: auto !important;
					margin:0;
					a{
						margin:0 !important;

						span{
							padding:12px;
						}
					}
				}
			}
			.tab-content{

			}
		}
	}
	.student-exchange-program, .contentNa{
		.nav-tabs{
		    display: block;

		    li{
	    	    display: inline-block;
			    float: none;
			    width: 100% !important;
			    margin-bottom: 10px;

			    a{
			    	margin:0 5% !important;
			    	span{
			    		padding-left: 55px;
			    	}
			    	img{
		    		    position: absolute;
    					left: 0;
			    	}
			    }
		    }
		}
	    
	}
	
	#content img{
		max-width: 100%;
	}
	#content table{
		width: 100%;
	}
	#newsEvent .leftNav, #newsEvent .rightNav{
		display: none;
	}
	#slideHome .carousel-caption {
        left: 0;
	    right: auto;
	    top: 0;
	    width: 40%;
	    height: 430px;
	    padding: 100px 100px 150px 40px;
	}
	#enquiry .carousel-inner {
	    height: 425px;
	    margin-bottom: 40px;
	}
	#enquiry .carousel-inner .item {
	    height: 425px;
	}

	#galleryList .masonry-brick{
		margin: 0;
		width: 33%;
		.infoGallery{
			h3{
				padding: 8px 0 6px;
				font-size: 18px;
				opacity: 1;
			}
		}
	}
	.select-style{
		background-position: 98% 50%;
	}
	.col-xs-6{
		width: 33.33333%;
	}
	header nav.pull-left {
		float: none !important;
		#menu {
			width: 100%;

			li{
				width: 20%;
				a{
					font-size: 11px;
				    line-height: 40px;
				    width: auto;
				    padding: 10px;
				}
			}
		}
	}
	.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active{
		font-size: 12px !important;
	}
	.sm-blue li{
		position:relative;
	}
	
	.sm-blue li:before {
  	    content: "";
	    position: absolute;
	    bottom: 0;
	    height: 1px;
	    width: 92%;
	    z-index: 9;
	    opacity: 0.4;
	    left: 4%;
	}
	#blogList{

	    margin: 0;
	
		ul li .clip-each{
			height: 300px;
			width: 95%;

			.infoBlog{
				font-size: 14px;

				h5{
					font-size: 17px;
				    margin-bottom: 10px;
				    margin-top: 0px;
				}
			}
			a{
				padding: 6px 17px;
			}
		}

		ul li .clip-each2{
			height:320px;
			width: 94%;
		}
	}
	.overlayVideo .iframeWrap{
		width: 80%;
	}
	.overlayVideo .close{
		right:30px;
		top: auto;
		bottom: 30px;
	}
	#newsEvent{
		width: 100%;
		padding: 0;
	}
	.slick-next{
		right: -25px !important;
	}
	.slick-prev{
		left: -25px !important;
	}
	header{
		margin: 0;
		position: fixed;
		width: 100%;
		height: 100px;
		z-index: 9999999999;
	}
	
	header .logo{
		max-width: 200px;
		padding: 15px 0;
	}
	#slideHome {
		.carousel-inner{
			height: 305px;
			.item img{
				height: 310px !important;
				max-width: none !important;
    			width: auto !important;
    			min-width: 100% !important;
    			float: right;
			}
		}
		.carousel-control{
			top: 190px;
    		width: 40px;
		}
		.carousel-indicators{
			bottom: 50px;
		}
	}
	#newsEvent .masonry-brick, #newsEvent .masonry-bricks
	{
		width: 100%;
		position: relative !important;
		height: 400px !important;
		left: auto !important;
    	top: auto !important;


    	img{
    		width: 100%;
    		height: auto;
    	}

		.infoNews{
			opacity: 0.8;

			h4{
				font-size: 15px;
			}
			h3{
				font-size: 24px;
			}
		}
	}
	#newsEvent .masonry-brick:first-child{
		display: none !important;
	}
	#newsEvent .masonry-brick:nth-child(5){
		left: auto !important;
    	top: auto !important;
	}
	#newsEvent .masonry-brick:nth-child(6){
	    left: auto !important;
    	top: auto !important;
	}
	#newsEvent .masonry-brick:nth-child(7){
	    left: auto !important;
    	top: auto !important;
	}
	#newsEvent .masonry-brick:nth-child(8){
	    left: auto !important;
    	top: auto !important;
	}
	#enquiry .carousel-indicators{
		bottom: 70px;
	}
	.applyOnline{
		.btnNya{
			margin-top: 20px;
			padding: 10px;
		}
		.form-group .nopaddingleft{
			padding-left: 15px;
		}
		.form-group .nopaddingright{
			padding-right: 15px;
		}
		.form-group .col-xs-12,.col-xs-4,.col-xs-8{
			padding: 0;
		}
	}
	#navHeader{
		display: block !important;
	}
	#testimonial .bgTestimonial{
		display: none !important;
	}
	footer .form-inline {
		float: none;
		margin: 0px;
		position: relative;
	    left: 50%;
	    transform: translateX(-50%);
		width: 300px;
		.form-control {
		    width: 75%;
		    height: 35px;
   			padding: 10px 12px;
   			float: left;
   			margin-right: 5px;

		}
		.form-group {
			display: block;
			float: none;
			.btn {
			    padding: 8px 10px;
    			float: left;
			}
		}
	}
	.aboutContent ul {
		.contentwrap {
			h3 {
			    font-size: 23px;
			    margin: 40px 0 5px 180px;
			    text-align: left;
			    color:$hijau;
			}
			.imagecontent {
			    left: 0;
			    margin-top: -30px;
			    position: absolute;
			    width: 200px;
			    z-index: 9;
			    .bgwr .imgnaieu{
			       top: 18px;
				    width: 130px;
				    left: 20px;
				    height: 115px;
				}

			}
			.contentext {
			    display: block;
			    font-size: 12px;
			    position: relative;
			    text-align: left;
			    min-height: 260px;

			    div:first-child p {
				    font-size: 14px;
				    width: 50%;
				}
			}

		}

		.contentwrap:nth-child(2n){
			h3 {
			    font-size: 23px;
			    margin: 40px 180px 5px 0;
			    text-align: right;
			}
			.imagecontent{
				right: 0;
				left: auto;
			    margin-top: -30px;
				
			    .bgwr .imgnaieu{
			       	top: 18px;
				    width: 130px;
				    right: 20px;
				    height: 115px;
				    left: auto;
				}
			}
			.contentext{
			    display: block;
			    font-size: 12px;
			    position: relative;
			    text-align: left;
			    min-height: 260px;

				div:first-child p {
				    font-size: 14px;
				}
			}
		}

		.contentwrap:nth-child(1){
			h3{
				color:$hijau !important;
			}
			.contentext{
				background: url('/assets/images/bg_hijau_med.png') no-repeat;
			}
		}
		.contentwrap:nth-child(2n){
			h3{
				color:$birugelap !important;
			}
			.contentext{
				background: url('/assets/images/bg_biru_med.png') no-repeat;
			}
		}
		.contentwrap:nth-child(3n){
			h3{
				color:$orange !important;
			}
			.contentext{
				background: url('/assets/images/bg_orange_med.png') no-repeat;
			}
		}
		.contentwrap:nth-child(4n){
			h3{
				color:$pink !important;
			}
			.contentext{
				background: url('/assets/images/bg_pink_med.png') no-repeat;
			}
		}
		.contentwrap:nth-child(5n){
			h3{
				color:$merah !important;
			}
			.contentext{
				background: url('/assets/images/bg_merah_med.png') no-repeat;
			}
		}
		
	}
	.aboutContent{
		padding-bottom: 60px;
	}
	.modal-dialog{
		margin-top: 120px !important;
	}

	.contactForm{
		.col-xs-12{
			padding: 0 !important;
		}
	}

}



@include screen(767px,768px)
{
}
@include max-screen(650px)
{
}
@include min-screen(426px)
{
		
	header #menumobile #nav-icon3{
		margin: 35px 0px 0;
	}
	.ourContact{
		.btn-primary{
			padding: 10px 10px;
    		font-size: 13px;
		}
		.col-md-7{
			width: 58.33333%;
			float: left;
		}
		.col-md-5{
			width:41.66667%;
			float: left;
		}
	}
}


@include max-screen(480px)
{

	#enquiry .carousel-caption h4{
		font-size: 18px;
		width: 65%;
	}
	.sidebar .part .posts li .info{
		width: 240px;
	}
	.contactForm {
	    margin-top: 40px !important;
	}
	.cntnr {
	    margin-top: 40px !important;
	}
	.applYn .orangetext{
		display: block;
		margin-top: 5px;
	}

	.vidList{
		margin:0;

		li{
			width: 100%;
			float: none;
		}
	}
		
	.overlayLine .iframeWrap, .overlayContact .iframeWrap{
		width: 100%;
	}
	.overlayLine .kotakNa, .overlayContact .kotakNa{
	    padding: 5px 20px 20px;
    	width: 90%;	
    	margin:auto;
	}
	.overlayLine .kotakNa .ttlNaih, .overlayContact .kotakNa .ttlNaih{
		font-size: 20px;
	}
	.overlayLine .kotakNa h1, .overlayContact .kotakNa h1{
		font-size: 20px;
	}
	.overlayLine .iframe img{
		width: 85%;
	}
	#floatingSocial {
	    height: auto;
	    padding: 0;
	    position: fixed;
	    right: 0;
	    top: 140px;
	    width: 200px;
	    z-index: 99;
	    bottom: 0 !Important;
	    left: 50% !important;
	    top: auto !important;
	    margin-left: -100px;
	}
	#floatingSocial a{
		float: left;
	}
	.infoCnt{
		display: block;
	}



	footer {
		padding: 20px 0 0;
		.copyright{
			margin-top: 20px;
		}
	}
	.ovrlyMn{
		position: fixed;
		display: none;
		z-index: 999;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.8);
	}
	.ovrlyMn.show{
		display: block;
	}
	.footerContact{
		li{
		    
		    float: left;
		    width: 50%;
		    text-align: left;

			.flowus{
			    display: block;
			    padding-top: 10px;
			    float: none;
			}
			.sosmed{
			    float: left;
			    width: 30px;
			    margin-right: 5px;
			    margin-top: 10px;
			    height: 30px;
			}
	    	a{
	    		font-size: 14px;

	    	}
	    	i{
	    		font-size: 13px;
	    		float: none;
				font-size: 15px;
	    	}
		}
	}

	header .logo{
		max-width: 170px;
	}
	#content{
		margin-top: 15px;
	}
	#content .textcontent a{
		display: inline-block;
	}
	#content .textcontent img{
		width: 100%;
		margin: 10px 0;
		height: auto;
	}
	 
	.summerContent ul , .aboutContent ul
	{
		.contentwrap{
			margin-top: 50px;

			.imagecontent {
			    margin-top: -40px;
			    width: 190px;
			    left: 3px;
			
				.bgwr .imgnaieu{
				    top: 15px;
	    			width: 125px;
	    			left: 19px;
				    height: 110px;
				}

			}
			h3{
				margin: 40px 0 20px 185px;
				font-size: 25px;
				min-height: 55px;
			}
			.contentext{
				width: auto !important;
				float: none !important;
				padding: 40px 10px 10px !important;
				margin: auto;
				min-height: auto !important;

				 div:first-child{
					    border-right: 0;
					    float: none;
					    margin:auto;
					    margin-top: 0;
					    padding: 10px 0;
					    width: 85%;
					    text-align: left;
				}
				.button{
				    position: relative;
				    width: 85% !important;
				    right: 0;
				    line-height: 18px;
				    bottom: 0;
				    margin: 15px auto;
				    top: auto;
				}
			}
		}
		.contentwrap:nth-child(2n) {
			.imagecontent .bgwr .imgnaieu{
				right: 19px;
			}
			.contentext div:first-child{
				float: none;
				margin:auto;
				border-left:0;
			}
			.contentext .button{
				top: auto;
			    position: relative;
			    width: 85% !important;
			    left: auto;
			}
			h3{
				margin: 40px 180px 20px 0;
			}
		}
	}

	
	.summerContent ul{

		 .orange{
		 	.contentext{
		 		background: #ef8b08 !important;
		 	}
		 }
		 .blue{
		 	.contentext{
		 		background: #3398cc !important;
		 	}
		 }
		 .green{
		 	.contentext{
		 		background: #3ca607 !important;
		 	}
		 }




	}
	.infoBlog{
		width: 140px  !important;
	}
	.srcKnw{
		.col-xs-5, .col-xs-7{
			padding: 0 !important;
			padding-right: 10px !important;
		}
	}

	#slideHome .carousel-caption, #sb-menu{
	    display: block;
	    background: rgba(30,85,150,0.6);
	    padding: 20px;
	    height: 250px;
	    width: 50%;
	}
	#slideHome .carousel-caption h4{
		font-size: 20px;
	}
	#navHeader{
		height: 100px;
	}
	#blogList{

	    margin: 0;
	
		ul li .clip-each{
			height: 195px;
			width: 95%;

			.infoBlog{
				font-size: 13px;

				h5{
					font-size: 17px;
				    margin-bottom: 10px;
				    margin-top: 0px;
				}
			}
			a{
				padding: 6px 17px;
			}
		}

		ul li .clip-each2{
			height: 215px;
			width: 93%;
		}
	}
	footer .form-inline {
		float: none;
		margin: 10px 0 0 20px;
		.form-control {
		    width: 57%;
		    display: inline;
		    height: 35px;
		    float: left;
		    margin-right: 5px;
		}
		.form-group {
			display: block;
			float: none;
		}
	}
	.col-xs-6{
		width: 50%;
	}
	#menumobile,#menuFooterMobile,#navHeader{
		display: block !important;
	}
	#menu, #main-nav .sm ,#testimonial .bgTestimonial, #menuFooter, .tsmnltlt{
		display: none !important;
	}

	.hide{
		display: block !important;
	}
	.show{
		display: block !important;
	}

	.slick-next{
		right: 0 !important;
	}
	.slick-prev{
		left: 0 !important;
	}
	
  .lightbox-nav { 
      top: 35% !important;

      	.prevImage {
		    font-size: 60px;
		    height: 80px;
		    line-height: 65px;
		    margin-left: -10px !important;
		}
		.nextImage {
		    font-size: 60px;
		    height: 80px;
		    line-height: 65px;
		    margin-right: -10px;
		}
  	}
	
	.lightbox-image-caption {
	  bottom: -170px;
	  color: #000;
	  margin: 0;
	  font-size: 13px;
	  font-weight: bold;
	  left: 0;
	  padding: 0;
	  position: absolute;
	  text-align: left;
	  text-shadow: 0.1em 0.1em 0.2em rgba(255, 255, 255, 0.5);
	}
	.lightbox-image-caption span {
	  background-color: rgba(255, 255, 255, 0.85);
	  box-shadow: 0.4em 0 0 rgba(255, 255, 255, 0.85), -0.4em 0 0 rgba(255, 255, 255, 0.85);
	  display: block;
	  padding: 15px;
	  position: relative;
	}
	.maps{
		position: relative;
		.cntnr{
			position: relative;
			.container{
				margin: 0;
				padding: 0;
			}
		}

		.tabsInfo{
			top: 0px;
			right: 0;
			position: relative;
		    width: 100%;
		}
	}
	.study-abroad, .high-school,.study-exchange-program {
	    margin-top: 15px;
	}
	.study-exchange-program .nav-tabs li, .study-abroad .nav-tabs li, .high-school .nav-tabs li{
	    display: block;
	    float: none;
	    width: 100%;
	    border-bottom: 1px solid #ccc;
	    border-right: none;
	    margin: 0;
	   
	}
	#galleryList .masonry-brick{
		margin: 0;
		width: 100%;
		max-width: none;
		margin-bottom: 10px;

		.infoGallery{
			h3{
				padding: 8px 0 6px;
				font-size: 20px;
				padding: 10px;
				opacity: 1;
			}
			h5{
				display: none;
			}
		}
	}
	.title {
	    font-size: 20px;
        margin-bottom: 5px !important;
    	margin-top: 20px;
	    padding: 15px;
	    width: 100%;
	}
	.contentNa {
	    margin-top: 0 !important;
	    position: relative;
	    .containermobile{
			padding: 0 !important;
	    }
	}

	#blog {
		#blogList {
	    	background: #fff none repeat scroll 0 0;

	    	.col-xs-12{
	    		padding-left: 0;
	    		padding-right: 15px !important;
	    	}
	    	ul{
	    		li{
	    			.clip-each {
					    width: 100%;
					}
					.clip-each2 {
					    width: 101.5% !important;
					}
				}
	    	}
	    	.firstBlog{
	    		.clip-each {
				    background: #fff none repeat scroll 0 0;
				    height: 205px;
				    margin: 10px;
				    overflow: hidden;
				    position: relative;
				    width: 100%;
				    span {
					    position: relative;
					    z-index: 9;
					    img {
						    width: 100%;
						}
					}
					.infoBlog {
					    font-size: 13px;
					    height: 100%;
					    padding: 20px;
					    width: 100%;
					    z-index: 9;
					    h5 {
						    border-bottom: 1px solid #000000;
						    color: #000000;
						    font-family: "tahoma";
						    font-size: 21px;
						    margin-bottom: 15px;
						    margin-top: 0;
						    padding-bottom: 15px;
						}
						a {
						    padding: 5px 15px;
						}
					}
				}
	    	}
		}
	}
	

	.aboutContent ul {
		.contentwrap, .contentwrap:nth-child(2n){
			.contentext {
				background: $hijau;
			    display: block;
			    float: none;
			    font-size: 12px;
			    position: relative;
			    text-align: left;
			    width: 100%;
			    min-height: unset;

			    div:first-child p {
			    	margin-right: 0;
			    	border: 0;
				    font-size: 14px;
				    margin-top: 0;
				    padding: 30px;
				    float: none;
				    width: 100%;
				}
				img {
				    display: none;
				}
			}

		}
		.contentwrap:nth-child(2n){

			.contentext {
			    div:first-child p {
			    	margin-left: 0;
			    }
			}
		}
	

		.contentwrap.green{
			h3{
				color:$hijau !important;
			}
			.contentext{
				background: $hijau;
			}
		}
		.contentwrap.blue{
			h3{
				color:$birugelap !important;
			}
			.contentext{
				background: $birugelap;
			}
		}
		.contentwrap.orange{
			h3{
				color:$orange !important;
			}
			.contentext{
				background: $orange;
			}
		}
		.contentwrap.pink{
			h3{
				color:$pink !important;
			}
			.contentext{
				background: $pink;
			}
		}
		.contentwrap.red{
			h3{
				color:$merah !important;
			}
			.contentext{
				background: $merah;
			}
		}
		
	}
	.ourContact .btn-primary{
		padding: 10px 20px;
	}
	#blog #blogList ul li .clip-each2{
		width: 96.5%;
	}
	#blog #blogList .firstBlog .clip-each{

	}
	#main-nav{
		position: fixed; padding: 0px; max-height: 100%;overflow: scroll;
	    z-index: 9999999;
	    top: 0;
	    width: 80%;
	    background: rgba(6,133,229,0.9);
	    background: -moz-linear-gradient(top, rgba(6,133,229,1) 0%, rgba(41,137,216, 1) 17%, rgba(30,87,153,1) 100%);
	    background: -webkit-linear-gradient(top, rgba(6,133,229,1) 0%,rgba(41,137,216, 1) 17%,rgba(30,87,153,1) 100%);
	    background: linear-gradient(to bottom, rgba(6,133,229,1) 0%,rgba(41,137,216, 1) 17%,rgba(30,87,153,1) 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0685e5', endColorstr='#1e5799',GradientType=0 );

		ul#main-menu{


	        background-image: url('../images/bgmenu.png');
		    background-size: cover;
		    background-position: center;

			
		}
		
	    .logoHdr{
    	    text-align: left;
		    padding: 15px 13px 15px;
		    background: #fff;
		    box-shadow: 0 1px 14px #2f6fbb;

		    img{
	    	    width: 170px;
		    }
	    }
	    .sm-blue a span.sub-arrow{
	    	right: 20px;
	    }
		.sm-blue a{
			font-size: 15px;
			padding: 15px 25px;
			color: #FFF;
			background: transparent;
		    text-align: left;    
		    font-weight: bold;
    		letter-spacing: 1.5px;

		}
		.sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active{
			color: #FFF;
			background: #1e5596;
		}
		.sm-blue ul a{
			color: #777;
			font-size: 14px;
			background: #f1f1f1;
		}
		.sm-blue ul a:hover, .sm-blue ul a:focus, .sm-blue ul a:active{
			color: #EEE;
			background: #1e5596;
		}
		.sm-blue ul li:before{
			border:none;

		}
	}

	footer{
		.logoFooter {
		    display: none;
		    float: none;
		    text-align: center;
		    width: 100%;
		    margin: 0;
		}
		.logoFooter img {
		    width: 200px;
		}
		.menuFooter {
		    margin: 20px 0 0;
		    width: 100%;

		    li {
			    text-align: center;
			    width: 25%;
			    border-right: 1px solid #659fde;

			    a {
				    font-size: 13px;
				    padding: 10px 0;
				}
			}
			li:last-child{
				border-right: none;
			}
		}
	}
	#testimonial{
		.testimonialItem .contenttestimonial{
			text-align: center;
		}
	}
	
	#enquiry{ 
		.carousel-inner{
			height: 295px;
			.overlay img {
			    margin-top: 70px;
			    width: 60px;
			}
			.item {
			    height: 295px;
			}
		}
		
		.carousel-indicators{
			bottom: 75px;
		}

		.item{
			height: 250px
		}
	}
	.infoNews{

		h3{
			font-size: 18px;
			top: 15% !important;
		}
		h4{
			top: 10% !important;
		    font-size: 12px;
		}
		h5{

		}
	}

	.infoNews:hover{
		transition: 0.2s ease-out;
		opacity: 1;

		h4{
		}
		h3{
			margin: 5px 0;
		}
	}
	#newsEvent {
		padding: 0;
	    width: 100%;
	    margin:0;
	    .masonry-brick, .masonry-bricks{
	    	width: 100%;
			height: 250px !important;

	    	img{
	    		width: 100%;
	    		height: auto;
	    	}
	    }
	}
	#atc{
		margin: 0px auto auto;
		padding: 0;
		ul{
			li{
				border-right: 1px solid #FFF;
				background: #e9e9e9;

				a{
					font-size: 12px;
    				padding: 15px 0;
				}
				img{
					height: 15px;
    				margin: 0px 3px;
				}
			}
			li:last-child{
				border:none;
			}

		}
	}
	#slideHome {
		.carousel-inner{
			height: 200px;
			.item img{
				height: 200px !important;
				max-width: none;
    			width: auto;
    			min-width: 100%;
    			float: right;
			}
		}
		.carousel-control{
			top: 90px;
    		width: 30px;
		}
		.carousel-indicators{
			bottom: 10px;
		}
	}
	.footerBg{
		height: 180px;
	}
	#otherArticles ul li .imageWrapper{
		height: 115px;
	}
	header{

		.col-xs-8 {
		    width: auto;
		    float: right;
		}
	}

	#main-nav .showTable{
		transition: 0.2s ease-out;
		display: table !important;
	}
	.select-style{
		background-position: 95% 50%;
	}
	.textcontent{
		overflow-x: scroll;
	}

}

@include max-screen(375px)
{
	.footerContact li a i{
		font-size: 15px;
	}
	.infoBlog{
		p{
			display: none;
		}
	}
	#enquiry .carousel-caption{
		padding: 10px 20px;

		h4{
			font-size: 16px;
			line-height: 30px;
		}
	}
	footer .form-inline {
		.form-control {
		    width: 55%;
		    margin-right: 10px;
		    margin-left: 5px;
		}
	}
	#enquiry{ 
		.carousel-inner{
			height: 250px;
			.item{
				height: 250px;
			}
		}
		.carousel-caption .btn{
			bottom: 10px;
		}
		.carousel-indicators{
			bottom: 50px;
		}
		.carousel-caption h4{
			margin: 0;
		}
	}
	header .logo {
	    max-width: 170px;
	}
}
@include max-screen(320px)
{
	footer .form-inline .form-control {
	    margin-right: 5px;
	    margin-left: 0;
	}
	#main-nav .sm-blue a{
        font-size: 11px !Important;
    	padding: 13px 15px;
	}
	#main-nav .logoHdr img {
	    width: 115px;
	}
	#main-nav .logoHdr {
	    padding: 15px;
	}
	#main-nav .sm-blue a span.sub-arrow {
	    right: 10px;
	}
	header .logo {
	    max-width: 115px;
	}

	.footerContact li{
		a{
			font-size: 12px;
		}
		i{
		    font-size: 15px !important;
		}
	}
	.cntactinf .tabsInfo .nav-tabs li a span{
	    padding: 10px;
   		font-size: 11px;
	}
	.cntactinf{
		.tabsInfo{
			.nav-tabs{
				margin-bottom: 0;
				display: table;
				width: 100%;
				overflow: hidden;
				padding:0;
				li{
					display: table-cell;
					a{

						span{
							padding:12px;
						}
					}
				}
			}
			.tab-content{
				padding: 10px;
				font-size: 14px !important;
			}
		}
	}
	#atc{
		ul{
			li{
				a{
					font-size: 9px;
					img{
						margin:0px 2px;
					}
				}
			}

		}
	}
	footer .form-inline {

		.form-group {
			.btn{
				padding: 8px 20px;
			}
		}

	}
	#blogList {
		.col-xs-12{
			padding: 0;
		}
		h4{
			width: 100%;
		    padding: 10px;
		    margin-bottom: 0;
		    font-size: 15px
		}
		ul li .clip-each {
		    height: 165px;
		    width: 270px;
		}
		ul li .clip-each2 {
		    height: 186px;
		    width: 290px;
		}
	}	
	.sm-blue {
	    background: #f1f1f1;
	}
	.lightbox-image-caption{
		bottom: -190px;
	}
	header {
		height: 77px;
		#menumobile #nav-icon3{
			margin: 25px 0 0;
		}
	}
	#navHeader{
		height: 77px;
	}


	.summerContent ul, .aboutContent ul
	{
		.contentwrap{
			margin-top: 50px;

			.imagecontent {
			    margin-top: -20px;
			    width: 160px;
			    left: 3px;
			
				.bgwr .imgnaieu{
				    top: 14px;
	    			width: 105px;
	    			left: 16px;
				    height: 90px;
				}

			}
			h3{
				margin: 40px 0 20px 145px;
				font-size: 20px;
				min-height: 45px;
			}
		}
		.contentwrap:nth-child(2n) {
			.imagecontent .bgwr .imgnaieu{
				right: 16px;
			}
			
			h3{
				margin: 40px 145px 20px 0;
			}
		}
	}
}