<header class="clearfix">

  <!-- Branding -->
  <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" style="background: none;padding-left: 0px;" ui-sref="app.dashboard">
      <span><strong>MAD</strong>LOGIC</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div>
  <!-- Branding end -->



  <!-- Left-side navigation -->
  <ul class="nav-left pull-left list-unstyled list-inline">
    <li class="sidebar-collapse divided-right">
      <a href="javascript:;" collapse-sidebar>
        <fa name="outdent"></fa>
      </a>
    </li>

  </ul>
  <!-- Left-side navigation end -->




  <!-- Search -->
  <!-- <div class="search" id="main-search">
    <input type="text" class="form-control underline-input" placeholder="Search...">
  </div> -->
  <!-- Search end -->




  <!-- Right-side navigation -->
  <ul class="nav-right pull-right list-inline">


    <li class="dropdown nav-profile" dropdown>

      <a href class="dropdown-toggle" dropdown-toggle>
        <img ng-src="admin/images/{{avatar}}" alt="" class="img-circle size-30x30">
        <span>{{currentUser.username}}<fa name="angle-down"></fa></span>
      </a>

      <ul class="dropdown-menu animated littleFadeInRight" role="menu">
        <li>
          <a href="#" ng-click="head.logout()">
            <fa name="sign-out"></fa>Logout
          </a>
        </li>

      </ul>

    </li>

  </ul>
  <!-- Right-side navigation end -->



</header>
