<div id="sidebar-wrap" ng-controller="NavCtrl">
    <accordion close-others="oneAtTime" slimscroll="{height: '100%'}">
        <accordion-group is-open="status.isFirstOpen" ng-class="{'open': status.isFirstOpen, 'closed': !status.isFirstOpen}">
            <accordion-heading>
                Main Feature <i class="fa" ng-class="{'fa-angle-up': status.isFirstOpen, 'fa-angle-down': !status.isFirstOpen}"></i>
            </accordion-heading>
            <ul id="navigation" nav-collapse ripple>
                <li>
                    <a ui-sref="app.admin.show">
                        <fa name="users"></fa> <span>Account Management</span></a>
                </li>
                <li>
                    <a href="javascript:;" ui-sref="app.about">
                        <fa name="info"></fa> <span>About Us</span></a>
                </li>
                
                <!-- <li>
                    <a href="javascript:;" ui-sref="app.services">
                        <fa name="info"></fa> <span>Services</span></a>
                </li> -->
                
                <!-- Dynamic Menu -->
                <li ng-repeat="menu in dynamicMenu">
                    <a href="javascript:;">
                        <fa name="pencil"></fa><span>{{menu.cd_name}}</span>
                    </a>
                    <ul>
                        <li ng-repeat="child in menu.children">
                            <a href="javascript:;" ui-sref="app.servicescategory({id: child.menu_id})">
                                <fa name="pencil"></fa><span>{{child.cd_name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="javascript:;" ui-sref="app.servicescategory({id: 19})">
                        <fa name="pencil"></fa> <span>Summer Camp</span></a>
                </li>
                <!-- End of Dynamic Menu -->

                <li>
                    <a ui-sref="app.post">
                        <fa name="pencil"></fa> <span>Post</span>
                    </a>
                    <ul>
                        <li>
                            <a href="javascript:;" ui-sref="app.postCategory({id:2})">
                                <fa name="rss"></fa> <span>Blog</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="app.postCategory({id:46})">
                                <fa name="pencil"></fa> <span>News & Event</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="app.video">
                                <fa name="pencil"></fa> <span>Video</span></a>
                        </li>                        
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" ui-sref="app.category">
                        <fa name="list"></fa> <span>Categories</span></a>
                </li>
                <li>
                    <a href="javascript:;" ui-sref="app.page">
                        <fa name="desktop"></fa> <span>Page Content</span></a>
                </li>
                <li>
                    <a href="javascript:;">
                        <fa name="folder"></fa> <span>File Manager</span></a>
                    <ul>
                        <li>
                            <a href="javascript:;" ui-sref="download.show">
                                <fa name="upload"></fa> <span>File</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="app.album">
                                <fa name="picture-o"></fa> <span>Image</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <fa name="database"></fa> <span>Data</span></a>
                    <ul>
                        <li>
                            <a href="javascript:;" ui-sref="data({type:'contact'})">
                                <fa name="phone"></fa> <span>Contact</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="data({type:'enquiry'})">
                                <fa name="comment"></fa> <span>Enquiry</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="data({type:'apply'})">
                                <fa name="pencil-square-o"></fa> <span>Apply Online</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="data({type:'subscribe'})">
                                <fa name="envelope"></fa> <span>Subscribe</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <fa name="gear"></fa> <span>Setting</span></a>
                    <ul>
                        <li>
                            <a href="javascript:;" ui-sref="setting.website">
                                <fa name="globe"></fa> <span>Website</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="setting.contact">
                                <fa name="phone"></fa> <span>Contact</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="setting.social">
                                <fa name="rss"></fa> <span>Social Media</span></a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" ui-sref="app.testimonial">
                        <fa name="comment-o"></fa> <span>Testimonial</span></a>
                </li>
            </ul>
        </accordion-group>
    </accordion>
</div>
