<div class="page page-sidebar-xs-layout">

  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard" class="home"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Layouts</a>
        </li>
        <li>
          <a ui-sref="app.layouts.sidebar-xs">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>

  <p class="lead">This is the extra-small sidebar layout template.</p>

</div>
