@import "color";
@import "font";
@import "button";
@import "mixins";

$width-phone : 769px;

html,body{
	width: 100%;
	font-family: 'tahoma', sans-serif;
	height: 100%;
	font-size: 14px;
}
body
{
	width:100%;
	margin: 0;
	padding: 0;
}
.uib-datepicker{
	table{
		tr,td{
			border: 0 !important;
		}
	}
}
div[ui-view]
{
	height: 100%;
}
.mTop20{
	margin-top: 20px;
}
.mTop40{
	margin-top: 40px;
}
.mTop60{
	margin-top: 60px;
}
.nopadding{
	padding: 0 !important;
}
.form-group{
	margin-bottom: 10px;
}
#menuFooterMobile{
	display: none;
}
.select-style {
    overflow: hidden;
    background-color: #fff;
    background: #fff url("/assets/images/arrow_down.png") no-repeat 95% 50%;
}

.select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
.overlayVideo{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999999;
	top:0;

	.iframeVideo{
		position: relative;
		margin: auto;
		vertical-align: middle;
		display: table-cell;
	}
	.iframeWrap{
		height: 100%;
		width: 800px;
		display: table;
		margin: auto;
	}

	.close{
		position: absolute;
		right: 25px;
		top: 22px;
		color: #FFF;
		font-size: 25px;
		opacity: 0.8;
		font-size: 40px;
		z-index: 9;
	}
}
.overlayLine, .overlayContact{
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.7);
	display: none;
	z-index: 999999;
	top:0;

	.iframe{
		position: relative;
		margin: auto;
		vertical-align: middle;
		display: table-cell;
		text-align: center;
	}
	.iframeWrap{
		height: 100%;
		width: 600px;
		display: table;
		margin: auto;
	}

	.kotakNa{
		background: #fff;
		border-radius: 5px;
		padding: 20px 40px 40px;

		h1{
			margin-bottom:0;
			font-size: 30px;
			font-weight: bold;
		}
		h3{
			font-size: 28px;
			margin-top: 0;
		}
		.ttlNaih{
			background: #1d5795;
			color: #fff;
			padding: 10px;
			font-size: 28px;
		}
	}

	.close{
		position: absolute;
		right: 25px;
		top: 22px;
		color: #FFF;
		font-size: 25px;
		opacity: 0.8;
		font-size: 40px;
		z-index: 9;
	}
}
.infoCnt{
	display: none;
}
.footerBg {
    background-image: url("/assets/images/footer.png");
	background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    background-position: bottom;

	// -moz-animation-name: marquee;
	// -moz-animation-iteration-count: infinite;
	// -moz-animation-timing-function: ease-out;
	// -moz-animation-duration: 60s;

	// -webkit-animation-name: marquee;
	// -webkit-animation-iteration-count: infinite;
	// -webkit-animation-timing-function: ease-out;
	// -webkit-animation-duration: 60s;

	// animation-name: marquee;
	// animation-iteration-count: infinite;
	// animation-timing-function: ease-out;
	// animation-duration: 60s;
}

@-moz-keyframes marquee {
	0% {
		background-position: 1366px bottom;
    }

    100% {
        background-position: 0 bottom;
    }
}
@-webkit-keyframes marquee {
    0% {
		background-position: 1366px bottom;
    }

    100% {
        background-position: 0 bottom;
    }
}
@keyframes marquee {
    0% {
		background-position: 1366px bottom;
    }

    100% {
        background-position: 0 bottom;
    }
}
footer{
	background: $birumudabanget;
	padding: 40px 0 0;
	width: 100%;
	.logoFooter{
		float: left;
		margin-right: 40px;
		width: 200px;

		img{
			width: 100%;
		}
	}
	.menuFooter{
		float: left;
		padding: 0;
		margin: 40px 0;

		li{
			float: left;
			list-style: none;
			a{
				color: #FFF;
				padding: 10px;
				font-weight: 500;
				font-size: 16px;
				text-decoration: none;
				font-family: 'Fjalla One', sans-serif;
			}

		}
	}
	.menuSocial{
		float: left;
		padding: 0;
		margin: 40px 0;

		li{
			float: left;
			list-style: none;
			padding: 0 5px;

		}
	}
	.form-inline{

		float: right;
		white-space: nowrap;
		margin: 30px 0 0 20px;

		.form-control{

			width: 185px;
			font-size: 13px;
		}
		.btn-primary{
			font-size: 12px;
			padding: 8px 5px;
		}
	}

	.copyright{
		background: #337ab7;
		color: #FFF;
		text-align: center;
		padding: 10px;
		font-family: 'Fjalla One', sans-serif;
		margin-top: 30px;
		font-size: 12px;
		margin-bottom: 0;
	}
}
#loading{
    width: 100%; z-index: 99999; height: 100%; position: fixed; top: 0px;left: 0;background: $abumuda;
	.loadingWrap{
		display: table;
		width: 250px;
		height: 100%;
		margin: auto;
		text-align: center;

		div.middle{
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.loadingcontent{
    width: 100%; z-index: 91; height: 100%; position: absolute; top: 0px;left: 0;background: #FFF;
	.loadingWrap{
		display: table;
		width: 250px;
		height: 100%;
		margin: auto;
		text-align: center;

		div.middle{
			display: table-cell;
			vertical-align: middle;
		}
	}
}

#floatingSocial{
	height: 160px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 140px;
    width: 40px;
    z-index: 100;

    a{
    	cursor: pointer;
    }
}
.title{
    font-family: 'tahoma', sans-serif;
    font-weight: 100;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    margin-top: 25px;
    width: 100%;
    margin-bottom: 1px;
    text-align: center;
    text-transform: uppercase;
    background-color: #23527c;
    padding: 15px;

    strong{
	    font-weight: normal;
    }
}
.contentNa{
	margin-top: 0;
	position: relative;
}
#content{
	color: #555;
	@include tahoma;
	font-size: 15px;
    line-height: 25px;
    position: relative;
}
.orangetext{
	color: $orange;
}
.bluetext{
	color: $birumuda;
}
.btn-primary{
	border: 0;
}
h5.subtitle{
	margin: 20px 0 10px 0;
	font-size: 17px;
}
.breadcrumbs{
	display: none;
	opacity: 0;
	background: rgba(255,255,255,0.5);
	position: absolute;
	width: 100%;
	z-index: 9;


	.breadcrumb{
		@include tahoma;
		background: none;
		margin: 0 auto;
		padding: 10px 15px;
		font-size: 13px;

		li{
			display: inline !important;
		}
		li + li::before{
			content: '> ';
			color: #555;
		}
		a{
			color: #333;
			text-decoration: none;
		}
		.active a{
			color: $birugelap;
		}
	}
}
.sidebar{
	margin-top: 50px;
	padding-right: 0;
	.part{
		margin-bottom: 20px;
		width: 100%;
		overflow: hidden;

		h3{
			background: $kuning;
			color: #FFF;
			font-size: 18px;
			text-transform: uppercase;
			padding: 15px;
			margin: 0;
		}

		.posts{
			padding: 0;
			margin: 0;
			list-style: none;

			li{
				background: #f1f1f1 none repeat scroll 0 0;
				border-bottom: 1px solid #e1e1e1;
				clear: both;
				color: #333;
				display: table;
				padding: 10px;
				width: 100%;

				img{
					display: table-cell;
    				width: 120px;
    				padding-right: 10px;
				}
				.info{
					display: table-cell;
					vertical-align: top;
					width: 190px;
					h5{
						margin-top: 0;
						font-size: 18px;
						line-height: 24px;
						a{
							text-decoration: none;
							color: #555;
							font-family: 'tahoma';
						}
						a:hover{
							color: $birumuda;
						}
					}
					span{
						font-size: 12px;
					}
				}
			}
		}
	}
}
.textcenter{
	text-align: center;
}
.nopaddingleft{
	padding-left: 0;
}
.nopaddingright{
	padding-right: 0;
}
.contactForm{
	margin-top: 40px;
	input, textarea{
		background: #f4f4f4;
		border: 0;
		font-size: 13px;
	}
	button{
		background: $birumuda;
		padding: 12px 30px 8px;
		transition: 0.2s all ease-out;
	}
}
.maps{
	position: relative;
	.cntnr{

	    top: 0;
	    width: 100%;
		position: absolute;
		.container{
			position: relative;
		}
	}
	.tabsInfo{
		position: absolute;
		right: 15px;
		top: 80px;
		width: 560px;
	}
	.nav{
		background: $birumudabanget;
		color: #555;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background: $birupalingmudabanget;
		color: #555;
		border: 0;
	}
	.tab-content{
		color: #555;
		padding: 30px;
		font-size: 19px;
		background: $birupalingmudabanget;
	}
	.nav-tabs{
		border: 0;
		display: table;
		width: 100%;
	}
	.nav-tabs > li{
		width: 50%;
		float: none;
		display: table-cell;
		margin-bottom: -2px;
	}
	.nav-tabs > li > a{
		margin: 0;
		color: #555;
		font-size: 22px;
		border: 0;
		padding: 0;
	}
	.nav-tabs > li > a:hover{
		border: 0;
	}
	.nav > li > a:hover, .nav > li > a:focus{
		background: $birupalingmudabanget;
	}
	table{
		tr{
			td{
				padding-right: 10px;
				padding-bottom: 10px;
				vertical-align: top;
			}
		}
	}

}
.footerContact{
	font-size: 12px;
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 10px;
	color: #555;

	li{
		float: left;
		width: 33%;
		a{
			line-height: 21px;
			font-size: 12px;
    		text-decoration: none;
			i{
				color: #555;
				float: left;
				font-size: 22px;
				margin-right: 5px;
			}
		}
		.sosmed{
			float: right;
			width: 20px;
			margin-right: 2px;
		}

		.flowus{
			font-size: 18px;
			line-height: 13px;
		}
	}
}
.applyOnline{
	.select-style {
		overflow: hidden;
		background-color: #FFF;
		background: #FFF url("/assets/images/arrow_down_apply.png") no-repeat 100% 0%;
		background-position: 97% 0%;
	}
	.select-style select{
		border: 1px solid #ccc;
	}
	.form-control{
		line-height: normal;
		height: 35px;
		font-size: 14px;
	}
	input.form-control{
		background: #f1f1f1;
		border: 1px solid #f0f0f0;
	}
	input[type=checkbox]:not(old),
	input[type=radio]:not(old) {
		width: 2em;
		margin: 0;
		padding: 0;
		font-size: 1em;
		opacity: 0;
	}

	input[type=checkbox]:not(old) + label,
	input[type=radio]:not(old) + label {
		display: inline-block;
		margin-left: -2em;
		line-height: 1em;
		cursor: pointer;
	}

	input[type=checkbox]:not(old) + label > span,
	input[type=radio]:not(old) + label > span {
		display: inline-block;
		width: 0.875em;
		height: 0.875em;
		margin: 0.2em 0.5em 0.2em 0.2em;
		border-radius: 50%;
		background: rgb(224, 224, 224);
		vertical-align: bottom;
	}

	input[type=checkbox]:not(old):checked + label > span,
	input[type=radio]:not(old):checked + label > span {
		background: $birumuda;
	}

	input[type=checkbox]:not(old):checked + label > span:before {

		display: block;
		width: 1em;
		color: #FFF;
		font-size: 0.875em;
		line-height: 1em;
		text-align: center;
		font-weight: bold;
	}

	input[type=radio]:not(old):checked + label > span > span {
		display: block;
		width: 0.5em;
		height: 0.5em;
		margin: 0.2em;
		border-radius: 50%;
		background: #FFF;
	}

	.btnNya {
		font-family: 'tahoma', sans-serif;
		padding: 10px 20px;
		font-size: 14px;
		margin-top: 20px;
		font-weight: bold;
		display: inline-block;
		position: relative;
		z-index: 9;
		width: 100%;
		margin-top: 60px;
	}

	.btn-danger {
		background: none;
		border: 1px solid $merah;
		color: $merah;
	}

	.btn-primary {
		background: none;
		border: 1px solid $birumuda;
		color: $birumuda;
	}

	.btn-primary::after {
		background: $birumuda;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.2s ease 0s;
		width: 100%;
		z-index: -1;
	}

	.btn-danger::after {
		background: $merah;
		content: "";
		height: 0;
		left: 0;
		position: absolute;
		top: 0;
		transition: all 0.2s ease 0s;
		width: 100%;
		z-index: -1;
	}

	.btnNya:hover,
	.btnNya:active {
		color: #fff;
	}

	.btnNya:hover::after,
	.btnNya:active::after {
		height: 100%;
	}
}
.fb_iframe_widget iframe, .fb_iframe_widget, .fb_iframe_widget span{
	width: 100% !important;
}
._5v3q ._5pbx p{
	font-family: 'tahoma';
}
#testimonialList{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			margin-bottom: 20px;
			clear: both;
			display: block;
			border-bottom: 1px solid #f1f1f1;

			.imageTestimonial{
				width: 33%;
				float: left;
				margin-right: 2%;

				img{
					max-width: 100%;
					width: 75%;
				}
			}
			.contenttestimonial{
				float: left;
				width: 65%;
				font-family: 'tahoma';

				h5{
					font-weight: bold;
					font-style: italic;
				font-size: 18px;
				}
			}
		}
	}
}
table.noborder{
	border: 0 !important;
	tr{
		td{
			border: 0 !important;
			vertical-align: text-top;
		}
	}
}

table.lightbluetable{
	thead{
		background: $birumudabanget;
		color: #FFF;
	}
	tbody{
		background: $birupalingmudabanget;
		color: #FFF;
	}
	td{
		padding:10px;
		vertical-align: middle;
		p{
			margin-bottom: 0;
		}
	}
}
.rownomargin{
	.row{
		margin: 0 !important;
		margin-bottom: 5px !important;
	}
}
.cntnr{
	margin-top: 50px;
}
h1.tlN{
    margin-bottom: 40px;
}

.cntactinf{
	.tabsInfo{
		.nav-tabs{
			margin-bottom: 0;
			li{
				a{
					border-radius: 0;
					box-shadow: none;
					margin:0;
					background: #f1f1f1;

					span{
						border-radius:0;
						border:none !important;
						background: #f9f9f9;
					}
				}
			}
		}
		.tab-content{
			border:1px solid #1d5795;
			font-size: 16px;


		}
	}
}
.infoCnt{
	color: #FFF;
	float: left;
	width: 100%;
	padding: 0 20px;

	h4{
		font-size: 16px;
		font-weight: bold;

	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
	}
}

#mYnotf{
    position: fixed;
    right: 20px;
    top: 20px;
    background: #1e5596;
    padding: 10px 40px;
    color: #FFF;
    z-index: 999;
    font-size: 18px;
    display: none;
}
