//BUTTON

@mixin btn-scr($width)
{
	@include helve;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:$base-color;
	background-color:$brand-color;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	text-decoration:none;
	border:1px solid $base-color;
	&:hover{
		// border:1px solid $base-color;
		color:$brand-color;
		background-color:$base-color;
	}

}

@mixin btn-t-l($width)
{
	@include mu-900;
	width:#{$width};
	display: inline-block;
    padding: 7px 13px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #fff;
    font-size: 12px;
	&:hover{
	}

}
@mixin btn-scr-reverse($width)
{
	@include helve;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:#5d5d5d;
	background-color:$base-color;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	border:1px solid #959595;
	text-decoration:none;

	&:hover{
		color:$base-color;
		background-color:$brand-color;
	}
}
@mixin btn-blue($width)
{
	@include monstreg;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:$bg-color-1;
	background-color:$bg-color-2;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	border:1px solid #959595;
	text-decoration:none;

	&:hover{
		color:$bg-color-2;
		background-color:$bg-color-1;
	}
}
@mixin btn-white($width)
{
	@include monstreg;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:#5d5d5d;
	background-color:$base-color;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	border:1px solid #959595;
	text-decoration:none;

	&:hover{
		color:$base-color;
		background-color:#415968;
	}
}

@mixin btn-red($width)
{
	@include monstreg;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:#fff;
	background-color:#ee1c25;
	text-align:center;
	cursor:pointer;
	font-size: 14px;
	border:1px solid #000;
	text-decoration:none;

	&:hover{
		color:#fff;
		background-color:#ff464e;
	}

	&:active
	{
		color:#fff;
		background-color:#d1141d;
		box-shadow:0 1px 5px rgba(0,0,0,0.8) inset;
		text-shadow:0 -1px 3px rgba(0,0,0,0.8);
	}
}

@mixin btn-grey($width)
{
	@include monstreg;
	width:#{$width};
	display: inline-block;
	padding:8px 18px;
	font-weight: bold;
	color:#5d5d5d;
	background-color:#cccccc;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	border:1px solid #cccccc;
	text-decoration:none;
	height: 34px;

	&:hover{
		background-color:#fff;
	}
}

@mixin btn-transparent($width)
{
	@include monstreg;
	width:#{$width};
	display: inline-block;
	padding:10px;
	font-weight: bold;
	color:$base-color;
	background-color:transparent;
	text-align:center;
	cursor:pointer;
	font-size: 12px;
	border:1px solid $base-color;
	text-decoration:none;

	&:hover{
		color:#000;
		background-color:#fff;
	}
}

@mixin btn-dark-blue
{
	@include montserrat;
	display: inline-block;
	color:$base-color;
	padding:10px 25px;
	font-size:10px;
	background-color:$bg-color-2;
	border:1px solid $bg-color-2;
	text-align:center;
	text-decoration:none;

	&:hover{
		border:1px solid $bg-color-2;
		color:$bg-color-2;
		background-color:$base-color;
	}
}
