//THEME

// BACKGROUD COLOR
$base-color : #ffffff;
$merah: #f72625;
$orange: #ef8b08;
$orangegelap: #d96b4f;
$kuning: #fac304;
$kuningbiasa: #fbeb72;
$kuningmuda: #f4ea95;
$hijau: #3ca607;
$biru: #037af9;
$birumuda: #039efa;
$birumudabanget: #75b0f0;
$birupalingmudabanget: #aed2f9;
$birugelap: #007ac3;
$abu: #e9e9e9;
$abugelap: #d5d6d7;
$abugelapbanget: #dcdbdb;
$abumuda: #f9f9f9;
$pink: #F9056C;
