//FONT

//LOAD FONT
@mixin font-face($font-family, $file-path) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
           url('#{$file-path}.woff') format('woff'),
           url('#{$file-path}.ttf') format('truetype'),
           url('#{$file-path}.svg##{$font-family}') format('svg');
  }

  
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

//LOAD FONT
@mixin font-face-ttf($font-family, $file-path) {
  @font-face {
    font-family: $font-family;
      src: url('#{$file-path}.ttf') format('truetype');
  }

  
  // Chrome for Windows rendering fix: http://www.adtrak.co.uk/blog/font-face-chrome-rendering/
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: $font-family;
        src: url('#{$file-path}.svg##{$font-family}') format('svg');
    }
  }
}

  
@include font-face('sukhumvit', "../fonts/sukhumvitreg-webfont");
@include font-face('sukhumvit-light', "../fonts/sukhumvitlight-webfont");
@include font-face-ttf('jasmine', "../fonts/upcjl");
@include font-face-ttf('tahoma', "../fonts/tahoma");

@mixin sukhumvit {
  font-family: 'sukhumvit', arial, sans-serif !important;
}

@mixin tahoma {
  font-family: 'tahoma', arial, sans-serif !important;
}
@mixin sukhumvit-light {
  font-family: 'sukhumvit-light', arial, sans-serif !important;
}

@mixin jasmine {
  font-family: 'jasmine', arial, sans-serif !important;
}
