// HOME LAYOUT
@mixin pointer {
	width: 100%;
	text-align:center;
	position:absolute;
	margin-top:-62px;
}
@mixin padding-home($height)
{
	min-height:#{$height}px;
	padding:60px 15px;
}
@mixin bg-full($section) {
	background:url("../images/#{$section}") center center no-repeat;
	background-size:cover;
}
@mixin transition($all,$s,$e){
	-webkit-transition: #{$all} #{$s} #{$e};
	-moz-transition: #{$all} #{$s} #{$e};
	-ms-transition: #{$all} #{$s} #{$e};
	-o-transition: #{$all} #{$s} #{$e};
	transition: #{$all} #{$s} #{$e};
}
@mixin scale($all){
	-webkit-transform:scale(#{$all}); /* Safari and Chrome */
    -moz-transform:scale(#{$all}); /* Firefox */
    -ms-transform:scale(#{$all}); /* IE 9 */
    -o-transform:scale(#{$all}); /* Opera */
     transform:scale(#{$all});
}
@mixin sld()
{
	.arrow
	{
		position: absolute;
	    width: 100%;
	    left: 0px;
	    top: 50%;
		font-size: 65px;
		line-height: 0;
		margin-top:-15px;
		.slick-disabled
		{
			color:#000;
		}
	    .arrow-left
	    {
	    	cursor:pointer;
	    	left: 20px;
	    	position: absolute;
	    }
	    .arrow-right
	    {
	    	cursor:pointer;
	    	right: 20px;
	    	position: absolute;

	    }
	}
	.slide
	{
	padding: 13px 0px;
	height: 83.33333%;

	div,.slick-slider
	{
		height: 100%;
	}
	.item
	{
		padding: 0px 15px;
		position: relative;
		.overlay
		{
			position: absolute;
			top: 0px;
			left:0px;
			width: 100%;
			height: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+1,ffffff+100&1+0,0+100 */
			background: -moz-linear-gradient(-45deg,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.99) 1%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.99) 1%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.99) 1%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			opacity:.65;

		}
		.content
		{
			-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	        -webkit-filter: grayscale(100%);
	        filter: gray;
	        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
			position: relative;
			width: 100%;
			padding: 10px;
			cursor:pointer;
			@include transition("all","0.5s","ease-in");
			&:hover
			{
				@include transition("all","0.3s","ease-out");
				filter:none;
				-webkit-filter:none;
				-moz-filter:none;
				-o-filter:none;
			}
			.title
			{
				height:auto;
				position: absolute;
				bottom:10px;
				max-width:100%;
				left:10px;
			}
			.date
			{
				height: auto;
				position: absolute;
				top: 10px;
				left: 10px;

				.date1
				{
					float: right;
					width: 50%;
					@include monstreg;
					font-size:39px;
					font-weight:bolder;
					text-align:right;
					line-height: 0.9;
				}
				.date2
				{
					font-size:12px;
					width:50%;
					float: right;
					@include monstreg;
				}
			}
		}
	}
	}
}
