<div class="page page-core page-login">

  <div class="text-center"><h3 class="text-light text-white">MADLOGIC</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">
  <div class="alert alert-danger" ng-if="auth.error_feed">
            <strong>Wrong username or password </strong>
  </div>

    <h2 class="text-light text-greensea">Log In</h2>

    <form name="form" class="form-validation mt-20" ng-submit="auth.login()" novalidate>

      <div class="form-group">
        <input type="email" class="form-control underline-input" placeholder="Email" ng-model="auth.email" required>
      </div>

      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control underline-input" ng-model="auth.password" required>
      </div>

      <div class="form-group text-left mt-20">
        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5"  ng-disabled='form.$invalid'>Login</button>
      </div>

    </form>

    <hr class="b-3x"/>

  </div>

</div>
