@media all and (max-width:1200px){
	article#job-summary {
	    padding-left: 100px;
	}
}

@media all and (max-width: 991px){
	div#main-menu .nav>li {
	    margin: 0px 15px;
	}
}

@media all and (max-width: 767px){
	div#main-menu a {
	    padding: 5px 15px !important;
	}

	header#header-wrapper {
	    padding-bottom: 0px !important;
	}

	div#brand {
	    padding-top: 25px !important;
	}

	div#bs-example-navbar-collapse-1 {
	    position: absolute;
	    background: white;
	    width: 150px;
	    text-align: center;
	    top: 63px;
	    left: 53px;
	}

	div#main-menu .nav>li {
	    padding: 0px 0px !important;
	    border-top: 0px;
	    border-bottom: 5px solid transparent;
	    margin: 0px !important;
	}

	div#main-menu .nav>li:hover {
	    border-bottom: 5px solid #ec2f29;
	    border-top: 0px;
	}

	.navbar-header {
	    margin-top: 20px;
	    margin-left: 20px !important;
	    float: left;
	    width: 50px;
	    height: 50px;
	    position: relative;
	}

	.navbar-default .navbar-toggle .icon-bar {
	    background: #ec2f29;
	}

	button.navbar-toggle {
	    border: 0px;
	}

	article.dna-item.ng-scope {
	    position: relative !important;
	    overflow: auto !important;
	}

	div#logo-des {
	    border-right: 0px !important;
	    text-align: center !important;
	    margin-bottom: 20px;
	}

	div#dna-content-text {
	    padding-left: 0px !important;
	}

	div#see-more {
	    display: none;
	}

	article.dna-item.ng-scope {
	    margin-top: 30px;
	}

	#dna-content-detail div#dna-content-text {
	    border-left: 0px !important;
	}

	#join-content div#logo-des {
	    width: 100%;
	    text-align: center;
	    padding: 0px 30px;
	}

	div#join-content-wrapper {
	    float: left;
	    margin-top: 30px;
	    padding: 0px 30px;
	    border-left: 0px !important;
	}

	article#job-summary {
	    padding: 0px !important;
	}

	form#signup-form {
	    float: left;
	    width: 100%;
	    margin-top: 0px !important;
	}

	div#status-buttons {
	    width: 100%;
	    border: 0px;
	    display: none !important;
	}

	div#status-buttons span {
	    float: left;
	    width: 20%;
	    text-align: center;
	}

	div#join-content-form>.container {
	    width: 100%;
	    float: left;
	}

	.form-row-wrapper>div {
	    padding: 0px !important;
	}

	article.contact-form {
	    padding-left: 0px !important;
	    padding-right: 0px !important;
	}

	article#contact-description {
	    border: 0px !important;
	    padding: 15px !important;
	}

	article.join-bottom.ng-scope {
	    position: relative;
	    height: 100px !important;
	    z-index: 1;
	}

	table#education td {
	    width: 100% !important;
	    float: left;
	    margin-bottom: 10px;
	}

	table#education tr {
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #f25550;
	    padding: 15px 0px;
	}

	table#education td select {
	    float: left;
	    width: 100%;
	}

	table#education>tbody>tr>td:first-child:before {
	    content: 'Degree';
	    margin-bottom: 5px;
	    float: left;
	    width: 100%;
	}

	table#education>tbody>tr>td:nth-child(2):before {
	    content: "Institute / Location Studies";
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#education>tbody>tr>td:nth-child(3):before {
	    content: 'Admission Year';
	    margin-bottom: 5px;
	    float: left;
	    width: 100%;
	}

	table#education>tbody>tr>td:nth-child(4):before {
	    content: 'Faculty';
	    margin-bottom: 5px;
	    float: left;
	    width: 100%;
	}

	table#education>tbody>tr>td:nth-child(5):before {
	    content: 'Major';
	    margin-bottom: 5px;
	    float: left;
	    width: 100%;
	}

	table#education>tbody>tr>td:last-child:before {
	    content: 'GPA';
	    margin-bottom: 5px;
	    float: left;
	    width: 100%;
	}

	table#education>thead {
	    display: none;
	}

	div#join-content-form {
	margin: 0px;
	}

	div#join-content-form>.container {
	    padding: 0px;
	    margin: 0px !important;
	    width: 100%;
	    float: left;
	}

	.form-row.table {
	    padding: 0px 30px !important;
	}

	.form-block-header h3 {
	    padding: 20px 35px 15px !important;
	}

	div#form-container {
	    float: left;
	    width: 100%;
	}

	div#form-views {
	    float: left;
	    margin: 0px;
	    width: 100%;
	}

	table#education tr:nth-child(n+5) {
	    display: none;
	}

	table#history>tbody>tr>td:first-child:before {
	    content: 'Company';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td:nth-child(2):before {
	    content: 'Start';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td:nth-child(3):before {
	    content: 'To';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td:nth-child(4):before {
	    content: 'Posisiton';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td:nth-child(5):before {
	    content: 'Salary';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td:last-child:before {
	    content: 'Resign Reason';
	    float: left;
	    width: 100%;
	    margin-bottom: 5px;
	}

	table#history>tbody>tr>td {
	    float:left;
	    width: 100% !important;
	    margin-bottom: 10px;
	}

	table#history>tbody>tr {
	    float: left;
	    width: 100% !important;
	    padding: 15px 0px;
	    border-bottom: 1px solid #ec2f29;
	}

	table#history>thead {
	    display: none;
	}

	table#history>tbody>tr:nth-child(n+5) {
	    display: none;
	}

	.page-header {
	    margin-bottom: 0px;
	}

	h3#form-header {
	    text-align: center !important;
	}

	span.fake-button {
	    right: 0px !important;
	}

	input#send-app {
	    margin-top: 0px !important;
	}

	section#dna-content-detail {
	    float: left;
	    overflow-y: scroll;
	    width: 100%;
	    height: 100%;
	}

	article.dna-item {
	    position: relative !important;
	}

	section#dna-content {
	    overflow-y: scroll !important;
	}
}

@media all and (max-width: 480px){
	select#choose-job {
	    width: 100% !important;
	}
}
