/* Public
=================================================================================================== */
body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

.no-padding {
    padding: 0px;
}

.no-padding-right{
    padding-right: 0px !important;
}

* {
    outline: none;
}

.toast.bg-success {
    background: rgba(236,47,41,0.8) !important;
}

.lazyWrapper {
    width: 100%;
}
/* Navigation
=================================================================================================== */

div#main-menu a {
    font-size: 14px;
    color: #727272;
    font-weight: 700;
    padding: 14px 15px;
}

div#main-menu {
    float: left;
}

div#brand {
    float: right;
    padding-top: 50px;
}

header#header-wrapper {
    padding: 0px 50px 15px 0px;
    position: fixed;
    z-index: 2;
    width: 100%;
    background: white;
    top: 0px;
    left: 0px;
}

/* Home Content
=================================================================================================== */
section#home-content {
    float: left;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.porto-content,.dna-content {
    float: left;
    border: 1px solid #c7c5c5;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.porto-detail.ng-binding,.dna-detail.ng-binding {
    position: absolute;
    bottom: -100%;
    background: rgba(136,30,27,0.55);
    padding: 15px;
    width: 100%;
    color: white;
    text-align: center;
    height: 70px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.porto-logo img{
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    max-width: 200px;
    max-height: 150px;
}

.dna-logo img {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.porto-logo{
    position: relative;
}

.dna-logo{
    height: 100%;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
}

.porto-content:hover>a>.porto-logo,.dna-content:hover>a>.dna-logo {
    display: block;
}

.porto-content:hover>a>.porto-logo>img,.dna-content:hover>a>.dna-logo>img {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    opacity: 1;
    max-width: 200px;
    max-height: 150px;
}

.porto-content:hover>a>.porto-detail,.dna-content:hover>a>.dna-detail {
    bottom: 0%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    display: block;
}

.dna-content:hover>a>.black-layer {
    background: rgba(0,0,0,0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

span.black-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.porto-content:hover>a>.black-layer {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: rgba(255,255,255,0.6);
}

/* Dna Content
=================================================================================================== */
.dna-hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.dna-hover>img {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.dna-content:hover>a>.dna-hover {
    opacity: 1;
}

.dna-content:hover>a>.dna-logo {
    opacity: 0;
}

.dna-content:hover>a {
    background: rgba(255,255,255,0.6);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

div#dna-sparator {
    font-size: 12px;
    color: #18100c;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0px;
    position: relative;
    background: white;
    padding-bottom: 20px;
}

div#dna-sparator:after {
    content: '';
    background: #f4827f;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0px;
    top: 9px;
    z-index: 0;
}

div#dna-sparator>span {
    background: white;
    padding: 0px 20px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

article.dna-item {
    float: left;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    width: 100%;
    background: white;
}

div#see-more {
    color: #ec2f2a;
    font-weight: 700;
    text-align: right;
    margin-top: 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    cursor: pointer;
}

article#dna-description>div:nth-child(2) {
    padding-left: 100px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

div#logo-des {
    text-align: left;
    padding: 10px;
    border-right: 2px solid #ec2f2a;
}

section#dna-content {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

div#dna-sparator:hover {
    color: #ec2f2a;
}

div#main-menu .nav>li {
    padding-top: 50px;
    border-top: 5px solid transparent;
    margin: 0px 35px;
}

div#main-menu .nav>li:hover,div#main-menu .nav>li.active {
    border-top: 5px solid #ec2f29;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
}

#dna-content-detail div#logo-des {
    border: 0px;
}

#dna-content-detail div#dna-content-text {
    border-left: 2px solid #ec2f2a;
}

nav.navbar.navbar-default {
    background: transparent;
    border: 0px;
}

.dna-content>a {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    background: transparent;
}

#dna-content-detail div#logo-des img {
    max-width: 200px;
    max-height: 150px;
}

#dna-content-detail span.black-layer {
    display: none;
}

/* Join Us
=================================================================================================== */
article#job-summary {
    float: left;
    width: 100%;
    padding-left: 200px;
}

div#job-detail {
    float: right;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #ec2f29;
}

select#choose-job {
    float: right;
    border: 1px solid #ed3d37;
    width: 200px;
    color: #3d3d3d;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 10px;
    margin-bottom: 25px;
}

div#join-content-wrapper {
    border-left: 2px solid #ec2f2a;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#join-content div#logo-des {
    border: 0px;
    padding-right: 90px;
    text-align: left;
    padding-bottom: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.job-title.ng-binding {
    font-size: 14px;
    color: #ec2f29;
    font-weight: 700;
    border-bottom: 1px solid #ec2f29;
    padding: 0px 10px 10px 10px;
}

.job-content-summary.ng-binding ol {
padding-left: 20px;}

.job-content-summary.ng-binding {
    padding: 0px 10px;
}

.job-content-summary.ng-binding ol li {
    margin-top: 10px;
}

div#join-now a {
    float: right;
    margin-top: 20px;
    background: #ec2f29;
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 15px;
}

article#join-description {
    padding: 40px 0px 70px 0px;
}

article.join-bottom>span {
    width: 100%;
    height: 100%;
    float: left;
}

article.join-bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: -2;
}

section#join-content {
    position: relative;
    background: white;
}

section#join-content #logo-des img {
    width: 250px;
}

div#logo-des>span {
    float: left;
    text-align: left;
    margin-top: 25px;
}


/* Join Us Form
=================================================================================================== */

section#join-content-form {
    float: left;
}

div#wizard {
    float: left;
}

h3#form-header {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    margin: 0px;
    text-align: right;
    color: #ec302a;
    margin-bottom: 15px;
}

div#status-buttons span {
    float: left;
    width: 100%;
    text-align: right;
    font-weight: 300;
    font-size: 13px;
    padding: 15px 10px;
    color: #262626;
    cursor: pointer;
}

div#status-buttons {
    float: left;
    padding-right: 0px;
    border-right: 2px solid #ec2f2a;
    border-bottom: 0px;
}

.form-block-header h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ec302a;
    margin-top: 0px;
    padding: 20px 15px 15px 25px;
    margin-bottom: 0px;
    border-bottom: 1px solid #c7c7c7;
}

form#signup-form {
    padding: 0px;
    margin-top: 70px;
    background: #f0f0f0;
}

.form-block-header {
    padding: 0px;
}

.form-row {
    padding: 0px 25px;
    float: left;
    width: 100%;
}

.form-row-wrapper {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    padding: 15px 0px;
}

.form-row-wrapper>div:first-child {
    padding-left: 0px;
}

.form-row-wrapper input {
    width: 100%;
}

.form-block-footer.ng-scope {
    float: left;
    padding: 10px 25px;
    width: 100%;
}

a.btn.btn-block.btn-info.next {
    float: right;
    width: initial;
    background: transparent;
    font-size: 12px;
    color: #ec2f29;
    border: 0px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

a.btn.btn-block.btn-info.prev {
    float: left;
    width: initial;
    background: transparent;
    font-size: 12px;
    color: #ec2f29;
    border: 0px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}

a.btn.btn-block.btn-info.next[disabled] {
    cursor: not-allowed;
}

select[name=position] {
    width: 100%;
    padding: 3px 0px;
}

div#status-buttons span.active {
    background: #ec2f29;
    color: white;
}

.page-header {
    border-bottom: 0px;
}

.form-row.table {
    padding: 0px;
    margin-bottom: 0px !important;
}

table#education th,table#history th {
    background: #f25550;
    text-align: center;
    padding: 5px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

table#education td {
    border: 1px solid #e9e9e9;
    padding: 5px;
    background: #f0f0f0;
}

select {
    padding: 3px;
}

.form-row.table .form-row-wrapper {
    padding: 0px;
}

.file-custom {
    position: absolute;
    padding: 5px 0px;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.file-name {
    padding: 4px 125px 4px 5px;
}

span.fake-button {
    position: absolute;
    top: 0px;
    padding: 6px 0px;
    width: 125px;
    text-align: center;
    right: 15px;
    background: #dad8d8;
    z-index: 0;
}

span.file-note {
    font-size: 10px;
    line-height: 32px;
}

div#form-views label {
    line-height: 32px;
    font-weight: 400;
}

input#send-app {
    font-size: 14px;
    font-weight: 700;
    color: white;
    background: #ec2f29;
    border: 1px solid #ec2f29;
    padding: 10px 0px;
    float: right;
    width: 200px;
    margin-top: 100px;
}

div#join-content-form {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}

article.join-bottom>span {
    width: 100% !important;
    background: white !important;
}

span#status-buttons-block {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1;
    cursor: auto !important;
}

/* Contact Us
======================================================================================================= */
article#contact-title h3 {
    margin: 36px 0px 24px 0px;
    font-weight: 700;
}

table#contact-table img {
    margin: 0px 50px 0px 0px;
    padding: 15px 0px;
}

table#contact-table {
}

article#contact-description {
    padding: 15px 85px 0px 35px;
    border-right: 2px solid #ec2f2a;
}

article.contact-form {
    padding-left: 100px;
}

.contact-field input,.contact-field textarea {
    width: 100%;
    padding: 5px 0px 15px;
    border: 0px;
    border-bottom: 1px solid #f05b57;
    outline: none;
}

.contact-field {
    margin-bottom: 15px;
}

.contact-field textarea {
    height: 125px;
}

div#contact-button input {
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    background: #ec2f29;
    border: none;
    float: right;
}

div#contact-button {
    margin-top: -20px;
}

section#contact-map {
    padding: 0px;
}

section#contact-content {
    padding-bottom: 50px;
}
