<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

      <tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

        <tab-heading>
          {{lang.language_name}}
          <span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
        </tab-heading>
         <form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3">
            <h4>Write your content</h4>

            <small>Give yourpost a title and add your content.</small>
          </div>
          <div class="col-md-9">

              <div class="row">
                <div class="form-group col-md-12">
                  <label for="username">Title: </label>
                  <input type="text" name="title" id="title" class="form-control" ng-model="blog.title_blog" required>
                  <p class="help-block">
                    <span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title is required.</span>
                    <span ng-show="blogForm.title.$error.maxlength">Title is too long.</span>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Content: </label>
                <!-- <text-angular ng-model="blog.content_blog" name="content_blog" required ></text-angular> -->
                <textarea froala="froalaOptions1" ng-model="blog.content_blog" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
                 <p class="help-block">
                    <span ng-show="blogForm.content_blog.$invalid && !blogForm.content_blog.$pristine">Content is required.</span>
                  </p>
              </div>
              <div class="form-group">
                <label for="message">Excerpt: </label>
                <!-- <text-angular ng-model="blog.excerpt" ></text-angular> -->
                <textarea froala="froalaOptions1" ng-model="blog.excerpt" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
                <p class="help-block">
                    <span ng-show="blogForm.excerpt.$invalid && !blogForm.excerpt.$pristine">Content is required.</span>
                  </p>
              </div>
          </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        <div class="row">
          <div class="col-md-3">
            <h4>Tags</h4>

            <small>Give your blog post a title and add your content.</small>
          </div>
          <div class="col-md-9">

            <tags-input class="bootstrap"
                              ng-model="blog.tags_blog"
                              placeholder="news, blog, others"
                              replace-spaces-with-dashes="false"

                              name="tags"
                              ng-minlength="3"
                              >

                  </tags-input>
                   <p class="help-block">

                    <span ng-show="blogForm.tags.$error.minlength">Tags is too long.</span>
                  </p>
          </div>
        </div>


		<div class="row categoryForm">
		<hr class="line-dashed line-full" style="margin-top: 50px;"/>
          <div class="col-md-3">
            <h4>Category</h4>
            <small>Select Your Category</small>
          </div>
          <div class="col-md-9 form-group">
            <label style="display: block;">Category</label>

            <!-- Nested node template -->
              <script type="text/ng-template" id="categoryTree">
                <div >
                <a class="btn btn-md" ng-if="category.children && category.children.length > 0" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{
          'glyphicon-chevron-down': collapsed,
          'glyphicon-chevron-right': !collapsed
        }"></span></a>
                  <input type="radio" name="category" ng-model="blog.category" value="{{category.categories_id}}" id="{{category.categories_id}}" />
                  <label style="cursor:pointer;margin-left:2px;" for="{{category.categories_id}}">{{category.cd_name}}</label>
                </div>
                <ol ui-tree-nodes="" ng-class="{hidden: collapsed}"  data-nodrop-enabled="true" ng-model="category.children">
                  <li ng-repeat="category in category.children"  data-nodrop-enabled="true" ui-tree-node collapsed="true" ng-include="'categoryTree'">
                  </li>
                </ol>
              </script>
              <div ui-tree>
                <ol ui-tree-nodes="" ng-model="category_list" id="tree-root" data-nodrop-enabled="true">
                  <li ng-repeat="category in category_list" ui-tree-node collapsed="true"  data-nodrop-enabled="true" ng-include="'categoryTree'"></li>
                </ol>
              </div>
            </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>

        <div class="row">
            <div class="col-md-3">
              <h4>Color</h4>

              <small>Choose Your Color</small>
            </div>
            <div class="form-group col-md-9">
                <label for="clor">Color:
                </label>
                <select id="clor" class="form-control" name="color" ng-model="blog.color">
                    <option value="orange" selected>Orange</option>
                    <option value="blue">Blue</option>
                    <option value="green">Green</option>
                    <option value="pink">Pink</option>
                    <option value="red">Red</option>
                </select>
            </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        <div class="row">
          <div class="col-md-3">
            <h4>Image Thumbnail</h4>

            <small>Size : 350px x 350px</small>
          </div>
          <div class="col-md-9">
              <div class="form-group">
                <label class="control-label">Thumbnail</label>
                <input  uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
                <div class="logo-preview" style="padding:15px">
                  <img ng-src="{{thumbnail}}" class="img-responsive"/>
                </div>
              </div>
           <input type="hidden" ng-model="blog.thumbnail" name="thumbnail" class="thumbnail" value="{{thumbnail}}" placeholder="">
          </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        <div class="row">
          <div class="col-md-3">
            <h4>Visibility</h4>

            <small>Control if this blog post can be viewed on your storefront.</small>
          </div>
          <div class="col-md-9">
              <div class="form-group">
                  <label style="display:block;">
                    <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" checked="checked" value="visible"> Visible
                  </label>
                  <label style="display:block;">
                    <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" value="hidden"> Hidden
                  </label>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <button type="submit"  class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading" ><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

        </div>
        </div>
        </form>
      </tab>

    </tabset>




  </div>
  <!-- /page content -->




</div>
