<div class="page page-form-wizard">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">



		<tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

			<tab active="lang.active" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

				<tab-heading>
					{{lang.language_name}}
					<span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
				</tab-heading>
				<form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<h4>Write your content</h4>

							<small>Give your category a title and add your content.</small>
						</div>
						<div class="col-md-9">

							<div class="row">
								<div class="form-group col-md-12">
									<label for="title">Album Title: </label>
									<input type="text" name="title" id="title" class="form-control" ng-model="category.name" required>
									<p class="help-block">
										<span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Album Title is required.</span>
										<span ng-show="blogForm.title.$error.maxlength">Album Title is too long.</span>
									</p>
								</div>
							</div>
						</div>
					</div>


					<div class="row">
						<hr class="line-dashed line-full" style="margin-top: 50px;" />
						<div class="col-md-3">
							<h4>Parent Album</h4>
							<small>Select Your Album</small>
						</div>
						<div class="col-md-9 form-group">
				            <label style="display: block;">Album</label>
				            <input class="radiocategory" type="radio" name="parent_category" ng-model="category.parent_category" value="0" id="0" />
					        <label style="cursor:pointer;margin-left:2px;" for="0">Root</label>

				            <!-- Nested node template -->
				              <script type="text/ng-template" id="categoryTree">
				                <div >

							        <a class="btn btn-md" ng-if="categorys.children && categorys.children.length > 0" data-nodrag="" ng-click="toggle(this)">
							        	<span class="glyphicon glyphicon-chevron-down" ng-class="{'glyphicon-chevron-down': collapsed, 'glyphicon-chevron-right': !collapsed}"></span>
							        </a>
					                <input class="radiocategory" ng-disabled="categorys.categories_id == statusId"  type="radio" name="parent_category" ng-model="category.parent_category" ng-checked="categorys.categories_id == parent_category" value="{{categorys.categories_id}}" id="{{categorys.categories_id}}" />
					                <label style="cursor:pointer;margin-left:2px;" for="{{categorys.categories_id}}">{{categorys.cd_name}}</label>
					                </div>
					                <ol ui-tree-nodes="" ng-class="{hidden: collapsed}"  data-nodrop-enabled="true" ng-model="categorys.children">
					                  <li ng-repeat="categorys in categorys.children"  data-nodrop-enabled="true" ui-tree-node collapsed="true" ng-include="'categoryTree'">
					                  </li>
					                </ol>
					              </script>
				              	<div ui-tree>
					                <ol ui-tree-nodes="" ng-model="category_list" id="tree-root" data-nodrop-enabled="true">
					                  <li ng-repeat="categorys in category_list" ui-tree-node collapsed="true"  data-nodrop-enabled="true" ng-include="'categoryTree'"></li>
					                </ol>
				              	</div>
					        </div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<h4>Search engine</h4>

							<small>Set up the meta keyword, meta description and handle. These help define how this post shows up on search engines.</small>
						</div>

						<div class="col-md-9">
							<div class="form-group">
								<label for="metakeyword">Meta Keyword</label>
								<input type="text" name="metakeyword" id="metakeyword" class="form-control" ng-model="category.metakey">
							</div>
							<div class="form-group">
								<label for="metades_blog">Meta description </label>
								<textarea class="form-control" rows="5" name="metades_blog" id="metades_blog" ng-model="category.metades"></textarea>
							</div>
						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;"/>
			        <div class="row">
						<div class="col-md-3">
							<h4>Image Thumbnail</h4>

                            <small>Size : 1050px x 400px</small>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label class="control-label">Thumbnail</label>
								<input uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
								<div class="logo-preview" style="padding:15px">
									<img ng-src="{{thumbnail}}"  class="img-responsive prevSblm" />
									<img ng-src="{{thumbnail_value}}" class="img-responsive" />
								</div>
							</div>
							<input type="hidden" ng-model="category.thumbnail" name="thumbnail" class="thumbnail" value="{{thumbnail_value}}" placeholder="">
						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Visibility</h4>

							<small>Control if this category can be viewed on your storefront.</small>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label style="display:block;">
									<input type="radio" name="optionsRadios" ng-model="category.visibility" id="optionsRadios2" checked="checked" value="visible"> Visible
								</label>
								<label style="display:block;">
									<input type="radio" name="optionsRadios" ng-model="category.visibility" id="optionsRadios2" value="hidden"> Hidden
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading"><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

						</div>
					</div>
				</form>
			</tab>

		</tabset>

	</div>
	<!-- /page content -->
</div>
