<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} </h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Banner</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

      <tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

        <tab-heading>
          {{lang.language_name}}
          <span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
        </tab-heading>
         <form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3">
            <h4>Pages Banner Image</h4>
          </div>
          <div class="col-md-9">

              <div class="row" ng-if="banner.ext2">
                <div class="form-group col-md-12">
                  <label for="username">Title: </label>
                  <input type="text" name="title" id="title" class="form-control" ng-model="banner.ext1" required>
                  <p class="help-block">
                    <span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title Banner is required.</span>
                    <span ng-show="blogForm.title.$error.maxlength">Title Banner is too long.</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                       <label class="control-label">Image</label>
                        <input  uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                          buttonText: 'Select image',
                          iconName: 'fa fa-file-image-o'
                        }" id="fileInput">
                    </div>
                    <div class="form-group " style="float: left;width: 100%;" >
                      <label class="control-label">Image size :  {{asp}}</label>
                        <hr class="line-solid "/>
                        <div >
                          <div class="col-md-6 p-10 bg-grey b-a b-solid" style="height: 320px;">
                          <img-crop
                            image="myImage"
                            area-type="square"
                            result-image-aspect="{{asp}}"
                            result-image="myCroppedImage1"
                            result-image-quality="1"
                            result-image-size = "aspp"

                          ></img-crop>
                         </div>
                          <div class="col-md-6 p-10 bg-grey b-a b-solid" style="height: 320px;">
                            <img ng-src="{{myCroppedImage1}}" class="img-responsive"/>
                          </div>
                        </div>
                    </div>
                    <div ng-if="not2" class="form-group" style="float: left;width: 100%;margin-top: 20px;">

                      <label class="control-label">Image size : {{asp2}}</label>
                        <hr class="line-solid"/>
                        <div>
                          <div class="col-md-6 p-10 bg-grey b-a b-solid" style="height: 320px;">
                            <img-crop
                              image="myImage2"
                              area-type="square"
                              result-image-aspect="{{asp2}}"
                              result-image="myCroppedImage2"
                              result-image-quality="1"
                              result-image-size = "aspp2"
                            ></img-crop>
                          </div>
                          <div class="col-md-6 p-10 bg-grey b-a b-solid" style="height: 320px;">
                             <img ng-src="{{myCroppedImage2}}" class="img-responsive"/>
                             <input type="hidden" ng-model="blog.img2"  name="img2" class="img2" value="{{myCroppedImage2}}" placeholder="">
                          </div>
                        </div>
                    </div>

                 <input type="hidden" ng-model="blog.img1" name="img1" class="img1" value="{{myCroppedImage1}}" placeholder="">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                <button type="submit"  class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading" ><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>
                </div>
              </div>

              <!-- <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default" ng-click="steps.step2=true">Next</button> -->



          </div>
        </div>

        </form>
      </tab>

    </tabset>




  </div>
  <!-- /page content -->




</div>
