<div class="page page-smart-table">

	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.tables.smart-table">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">

		<!-- row -->
		<div class="row">
			<!-- col -->
			<div class="col-md-12">

				<!-- tile -->
				<section class="tile" fullscreen="isFullscreen02">

					<!-- tile header -->
					<div class="tile-header dvd dvd-btm">
						<h1 class="custom-font"><strong>Category </strong></h1>
						<ul class="controls">
							<li><a ng-click="addLink()"><i class="fa fa-plus"></i> Add New</a></li>
						</ul>
					</div>
					<!-- /tile header -->

					<!-- tile body -->
					<!-- tile body -->
					<div class="tile-body">
						<table datatable="ng" class="row-border hover table table-custom">
							<thead>
								<tr>
									<th>Title</th>
									<th>Parent Category</th>
									<th>Date Modified</th>
									<th>Edit</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="person in rowBlogCategory" ng-if="person.categories_id != 0">
									<td>{{ person.cd_name }}</td>
									<td>{{ person.cd_parent }}</td>
									<td>{{ person.categories_modified }}</td>
									<td><a ui-sref="app.category.edit({categoryID:person.categories_id})">Edit</a> &nbsp; &nbsp; <a ng-click="del(person.categories_id,$index)">Delete </a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /tile body -->

				</section>
				<!-- /tile -->

			</div>
			<!-- /col -->
		</div>
		<!-- /row -->

	</div>
	<!-- /page content -->

</div>
