<div class="page page-smart-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Admin</a>
        </li>
        <li>
          <a ui-sref="app.tables.smart-table">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"></h1>
            <ul class="controls">
              <li><a ng-click="back()">Back</a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <!-- tile body -->
          <div class="tile-body">
            <div class="row">
              <div class="col-md-3">
                <h4>Change Password Admin : </h4>
              </div>
              <div class="col-md-9">
                <form name="create" class="form-validation" method="post" ng-submit="create.$valid && register_process()" novalidate >
                  <div class="form-group">
                     <label>
                        <span class="left-label">Username</span>
                      </label>
                      <input type="text" name="lname" class="form-control" value="{{username}}" disabled required placeholder="Last Name">

                  </div>
                  <div class="form-group">
                     <label>
                        <span class="left-label">Current Password</span>
                      </label>
                      <input type="password" name="lname" class="form-control"  ng-model="td.currentpassword" required placeholder="Current Password">
                      <p class="help-block">
                        <span ng-show="create.lname.$invalid && !create.lname.$pristine">Current Password is required.</span>
                      </p>
                  </div>
                  <div class="form-group">
                      <label>
                        <span class="left-label">New Password</span>
                      </label>
                      <input type="password" ng-minlength="8" class="form-control"   ng-model="td.password" required name="password" placeholder="Password">
                      <p class="help-block">
                          <span ng-show="create.password.$invalid && !create.password.$pristine">Password is required.</span>
                          <span style="display:block" ng-show="create.password.$error.minlength">Password must more than 8 character</span>
                      </p>
                  </div>
                  <div class="form-group">
                      <label>
                        <span class="left-label">New Confirm Password</span>
                      </label>
                      <input type="password" required ng-model="td.confirm_password" ui-validate=" '$value==td.password' " class="form-control" ui-validate-watch=" 'td.password' " name="confirm_password" placeholder="Confirm Password">
                      <p class="help-block">
                         <span ng-show='create.confirm_password.$error.validator && !create.confirm_password.$pristine'>Passwords do not match!</span>
                      </p>
                  </div>
                  <button type="submit"  class="btn btn-default pull-left" ng-disabled="create.$invalid||loading" ><span ng-if="!loading">Submit</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>
                </form>
              </div>
            </div>
          </div>
          <!-- <div class="tile-body" ng-controller="BasicDatatableCtrl as showcase">
            <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table>
          </div> -->
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
