<div class="page page-form-wizard">
	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">

		<section class="tile">
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font"><strong>{{ rowData.title }}</strong></h1> <br/>
				<h5>Stored at : {{ rowData.updated_at.date | limitTo:10}}</h5>
			</div> 

			<div class="tile-body" ng-if="rowData.data.length"> 

				<h4 class="custom-font">Data Information</h4>
				<dl ng-if="data.value != ''" class="dl-horizontal" ng-repeat="data in rowData.data"> 
					<dt>{{ data.name }}</dt><dd>{{ data.value }}</dd>
				</dl>
			</div>
		</section>
	</div>
	<!-- /page content -->
</div>
