<div class="page page-smart-table">

  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.tables.smart-table">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Data </strong></h1>
            <ul class="controls">
				        <li><a ng-click="export()"><i class="fa fa-file-excel-o"></i> Export Data</a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <!-- tile body -->
          <div class="tile-body">
              <table datatable="ng" class="row-border hover table table-custom">
                  <thead>
                  <tr>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="dt in rowData">
                      <td>{{ dt.title }}</td>
                      <td>{{ dt.updated_at.date | limitTo : 10 }}</td>
                      <td><a ui-sref="data.detail({id:dt.id})">Detail</a></td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <!-- <div class="tile-body" ng-controller="BasicDatatableCtrl as showcase">
            <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table>
          </div> -->
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->

  </div>
  <!-- /page content -->

</div>
