<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

      <tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

        <tab-heading>
          {{lang.language_name}}
          <span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
        </tab-heading>
         <form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
             <div class="row">
                  <div class="col-md-3">
                    <h4>Write your blog post</h4>

                    <small>Give your blog post a title and add your content.</small>
                  </div>
                  <div class="col-md-9">

                      <div class="row">
                        <div class="form-group col-md-12">
                          <label for="username">Title: </label>
                          <input type="text" name="title" id="title" class="form-control" ng-model="blog.title_blog" required>
                          <p class="help-block">
                            <span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title Blog is required.</span>
                            <span ng-show="blogForm.title.$error.maxlength">Page Title is too long.</span>
                          </p>
                        </div>
                      </div>


                      <!-- <button type="submit" ng-disabled="step1.$invalid" class="btn btn-default" ng-click="steps.step2=true">Next</button> -->



                  </div>
                </div>


                <hr class="line-dashed line-full" style="margin-top: 50px;"/>
                <div class="row">
                  <div class="col-md-3">
                    <h4>File</h4>
                    <small>Upload your file and cover</small>
                  </div>
                  <div class="col-md-9">
                      <div class="form-group">
                		<label class="control-label">File Type : pdf / docx / xls / pptx / zip</label>
                        <input  uploader="uploader" name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                            buttonText: 'Select image',
                            iconName: 'fa fa-file-image-o'
                        }" id="fileInput2">
                      </div>
                      <div class="form-group">
                        <label class="control-label">File Type : PNG/GIF/JPEG</label>
                        <input  uploader="uploader2" name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                            buttonText: 'Select image',
                            iconName: 'fa fa-file-image-o'
                        }" id="fileInput">
                      </div>
                      <img ng-src="{{mycoverPreview}}" ng-if="blog.post_thumbnail3" class="img-responsive" />
                   <input type="hidden" ng-model="blog.cover" name="cover" class="cover" value="{{mycover}}" placeholder="">
                   <input type="hidden" ng-model="blog.logo" name="logo" class="logo" value="{{myLogo}}" placeholder="">
                  </div>
                </div>
                <div class="row categoryForm">
                <hr class="line-dashed line-full" style="margin-top: 50px;"/>
                  <div class="col-md-3">
                    <h4>Category</h4>
                    <small>Select Your Category</small>
                  </div>
                  <div class="col-md-9 form-group">
                    <label style="display: block;">Category</label>
                      <select class="form-control" ng-model="blog.category" ng-options="cat.categories_id as cat.cd_name for cat in category_list"  ui-options="{
                        width: '90%'
                      }">
                      </select>
                    </div>
                </div>

                <hr class="line-dashed line-full" style="margin-top: 50px;"/>
                <div class="row">
                  <div class="col-md-3">
                    <h4>Visibility</h4>

                    <small>Control if this blog post can be viewed on your storefront.</small>
                  </div>
                  <div class="col-md-9">
                      <div class="form-group">
                          <label style="display:block;">
                            <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" checked="checked" value="visible"> Visible
                          </label>
                          <label style="display:block;">
                            <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" value="hidden"> Hidden
                          </label>
                      </div>
                  </div>
                </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit"  class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading" ><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>
            </div>
        </div>
        </form>
      </tab>

    </tabset>




  </div>
  <!-- /page content -->




</div>
