<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

      <tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

        <tab-heading>
          {{lang.language_name}}
          <span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
        </tab-heading>
         <form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3">
            <h4>Write your content</h4>

          </div>
          <div class="col-md-9">

              <div class="row">
                <div class="form-group col-md-12">
                  <label for="username">Bulk Title: </label>
                  <input type="text" name="title" id="title" class="form-control" ng-model="blog.title_blog" required>
                  <p class="help-block">
                    <span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title is required.</span>
                    <span ng-show="blogForm.title.$error.maxlength">Title is too long.</span>
                  </p>
                </div>
              </div>
          </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        
        <div class="row">
          <div class="col-md-3">
            <h4>Image</h4>

            <small>Size : 800px x 800px</small>

          </div>
          <div class="col-md-9">
              <div class="form-group">
                <input uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
              </div>
              <input type="hidden" ng-model="blog.image" name="image" class="image" value="{{image}}" placeholder="">
              <table class="table b-a b-solid bg-white">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue" class="text-sm">
                  <td><strong>{{ item.file.name }}</strong></td>
                  <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            
                  <td nowrap>
                    <button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
                      <span class="fa fa-trash"></span> Remove
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        <div class="row">
          <div class="col-md-3">
            <h4>Visibility</h4>

            <small>Control if this blog post can be viewed on your storefront.</small>
          </div>
          <div class="col-md-9">
              <div class="form-group">
                  <label style="display:block;">
                    <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" checked="checked" value="visible"> Visible
                  </label>
                  <label style="display:block;">
                    <input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" value="hidden"> Hidden
                  </label>
              </div>
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <button type="submit"  class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading" ><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

        </div>
        </div>
        </form>
      </tab>

    </tabset>




  </div>
  <!-- /page content -->




</div>
