<div class="page page-smart-table">

  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.tables.smart-table">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->

  <!-- page content -->
  <div class="pagecontent">

    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Gallery </strong>Photo</h1>
           	<ul class="controls">
				        <li><a ng-click="addLink()"><i class="fa fa-plus"></i> Add New</a></li>
                <li><a ng-click="bulkLink()"><i class="fa fa-upload"></i> Bulk Upload</a></li>
                <li ng-show="selection.length"><a ng-click="bulkDelete()"><i class="fa fa-trash"></i> Delete Selected Gallery</a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <!-- tile body -->
          <div class="tile-body">
              <table datatable="ng" class="row-border hover table table-custom">
                  <thead>
                  <tr>
                      <th><input type="checkbox" ng-checked="selectAll" ng-click="selectAllN()"></th>
                      <th>Image</th>
                      <th>Title</th>
                      <th>Date</th>
                      <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="person in rowBlogGallery">
                      <td><input type="checkbox" name="selectedId[]" value="{{person.post_id}}"  ng-checked="selection.indexOf(person.post_id) > -1" ng-click="toggleSelection(person.post_id)"></td>
                      <td width="100"><img ng-src="{{ person.image }}" width="100"/></td>
                      <td>{{ person.pd_title }}</td>
                      <td>{{ person.updated_at }}</td>
                      <td><a ui-sref="app.gallery.edit({galleryID:person.post_id})">Edit</a> &nbsp; &nbsp; <a ng-click="del(person.post_id,person.post_thumbnail,$index)">Delete </a></td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <!-- <div class="tile-body" ng-controller="BasicDatatableCtrl as showcase">
            <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table>
          </div> -->
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->

  </div>
  <!-- /page content -->

</div>

