<div class="page page-smart-table">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a href="javascript:;">Admin</a>
        </li>
        <li>
          <a ui-sref="app.tables.smart-table">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">


    <!-- row -->
    <div class="row">
      <!-- col -->
      <div class="col-md-12">

        <!-- tile -->
        <section class="tile" fullscreen="isFullscreen02">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Admin List</strong></h1>
            <ul class="controls">
              <li><a ui-sref="app.admin.create">Create Account</a></li>
            </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <!-- tile body -->
          <div class="tile-body">
              <table datatable="ng" class="row-border hover table table-custom">
                  <thead>
                  <tr>
                      <th>Email Login</th>
                      <th>Join Date</th>
                      <th>Status</th>
                      <th>Edit</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="person in rowBlogNews">
                      <td>{{ person.email }}</td>
                      <td>{{ person.join_date }}</td>
                      <td>{{ person.user_status }}</td>
                      <td><a ui-sref="app.member.detail({id:person.id})">View</a> &nbsp; &nbsp; <a ng-click="del(person.id,$index)">Delete</a>&nbsp; &nbsp;<a ui-sref="app.admin.change({id:person.id,user:person.username})">Change Password</a></td>
                  </tr>
                  </tbody>
              </table>
          </div>
          <!-- <div class="tile-body" ng-controller="BasicDatatableCtrl as showcase">
            <table datatable="" dt-options="showcase.dtOptions" dt-columns="showcase.dtColumns" class="table table-custom"></table>
          </div> -->
          <!-- /tile body -->

        </section>
        <!-- /tile -->

      </div>
      <!-- /col -->
    </div>
    <!-- /row -->



  </div>
  <!-- /page content -->




</div>
