<div class="page page-form-wizard">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">



		<tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

			<tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

				<tab-heading>
					{{lang.language_name}}
					<span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
				</tab-heading>
				<form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<h4>Write your blog post</h4>

							<small>Give your blog post a title and add your content.</small>
						</div>
						<div class="col-md-9">

							<div class="row">
								<div class="form-group col-md-12">
									<label for="username">Title: </label>
									<input type="text" name="title" id="title" class="form-control" ng-model="blog.title_blog" required>
									<p class="help-block">
										<span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title Blog is required.</span>
										<span ng-show="blogForm.title.$error.maxlength">Page Title is too long.</span>
									</p>
								</div>
							</div>
							<div class="form-group">
								<label for="message">Content: </label>
								<!-- <text-angular ng-model="blog.content_blog" name="content_blog" required ></text-angular> -->
								<textarea froala="froalaOptions1" ng-model="blog.content_blog" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
								<p class="help-block">
									<span ng-show="blogForm.content_blog.$invalid && !blogForm.content_blog.$pristine">Content is required.</span>
								</p>
							</div>
							<div class="form-group">
								<label for="message">Excerpt: </label>
								<!-- <text-angular ng-model="blog.excerpt" ></text-angular> -->
								<textarea froala="froalaOptions1" ng-model="blog.excerpt" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
							</div>

						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Image</h4>

           					<small>Size : 1366px x 525px</small>
						</div>
						<div class="col-md-9">
							<div class="imgPage clearfix" >
								<ul>
									<li ng-hide="img.hide" ng-repeat="img in myImage">
										<div class="imgNa">
											<img ng-src="/api/image/blog/{{ img.image }} " class="img-responsive" />
										</div>
										<div class="aksiNa">
											<button class="btn btn-default" ng-click="editcontentgambar(img)" type="button"><i class="fa fa-pencil"></i> Edit Content</button>
											<button class="btn btn-danger" ng-click="deletegambar(img)" type="button"><i class="fa fa-trash"></i> Delete</button>
										</div>
									</li>
								</ul>
							</div>
							<label for="message">Add New Image: </label>
							<div class="form-group">
								<input uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
							</div>
							<input type="hidden" ng-model="blog.image" name="image" class="image" value="{{image}}" placeholder="">
							<table class="table b-a b-solid bg-white">
							<thead>
								<tr>
									<th width="50%">Name</th>
									<th ng-show="uploader.isHTML5">Size</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in uploader.queue" class="text-sm">
									<td><strong>{{ item.file.name }}</strong></td>
									<td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
									<td nowrap>
										<button type="button" class="btn btn-default btn-xs" ng-click="item.remove()">
											<span class="fa fa-trash"></span> Remove
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						</div>


					</div>
					<hr class="line-dashed line-full" style="margin-top: 10px;" />
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading"><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>
						</div>
					</div>
				</form>
			</tab>

		</tabset>




	</div>
	<!-- /page content -->




</div>

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
	  <h3 class="modal-title custom-font">I'm a modal!</h3>
	</div>
	<form name="imgFrm" role="form" novalidate class="form-validation" ng-submit="proceed()">
	<div class="modal-body">
		<div class="row">
			<div class="form-group col-md-12">
				<label for="username">Title: </label>
				<input type="text" name="title" id="title" class="form-control" ng-model="title" required>
				<p class="help-block">
					<span ng-show="imgFrm.title.$invalid && !imgFrm.title.$pristine">Title Blog is required.</span>
					<span ng-show="imgFrm.title.$error.maxlength">Page Title is too long.</span>
				</p>
			</div>
		</div>
		<div class="form-group">
			<label for="message">Link: </label>
			<input type="text" name="link" id="link" class="form-control" ng-model="link">
			<p class="help-block">
				<span ng-show="imgFrm.link.$invalid && !imgFrm.link.$pristine">Content is required.</span>
			</p>
		</div>
		<div class="form-group">
			<label for="message">Description: </label>
			<textarea froala="froalaOptions1" ng-model="description" froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
			<p class="help-block">
				<span ng-show="imgFrm.description.$invalid && !imgFrm.description.$pristine">Content is required.</span>
			</p>
		</div>			
	</div>
	<div class="modal-footer">
	  <button type="submit" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c"><i class="fa fa-arrow-right"></i> Update</button>
	  <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancel</button>
	</div>
</form>
</script>