<div class="page page-form-wizard">

	<!-- page header -->
	<div class="pageheader">
		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /page header -->

	<!-- page content -->
	<div class="pagecontent">
		<tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">
			<tab active="lang.active" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">
				<form name="blogForm" role="form" novalidate class="form-validation" serializer="proceed(data)" enctype="multipart/form-data">
					<div class="row" ng-repeat="form in formContact">
						<hr ng-if="$index > 0" class="clearfix line-dashed line-full" style="margin-top: 20px;" />
						<div class="col-md-3">
							<h4 ng-bind-html="form.content"></h4>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label for="value-{{ form.slug }}" ng-bind-html="form.content"></label>


								<input type="text" name="name-{{ form.slug }}" id="name-{{ form.slug }}" class="form-control" ng-model="form.name" required>
								<p class="help-block">
									<span ng-show="blogForm.name-{{ form.slug }}.$invalid && !blogForm.name-{{ form.slug }}.$pristine">Name is required.</span>
								</p>

								
								<input ng-if="form.type != 'textarea'" type="text" name="value-{{ form.slug }}" id="value-{{ form.slug }}" class="form-control" ng-model="form.value" required>
								<textarea ng-if="form.type == 'textarea'" class="form-control" rows="5" name="value-{{ form.slug }}" id="value-{{ form.slug }}" ng-model="form.value"></textarea>
								<p class="help-block">
									<span ng-show="blogForm.value-{{ form.slug }}.$invalid && !blogForm.value-{{ form.slug }}.$pristine">Content is required.</span>
								</p>
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading"><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

						</div>
					</div>
				</form>
			</tab>
		</tabset>
	</div>
	<!-- /page content -->
</div>
