<div class="page page-form-wizard">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">



		<tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

			<tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

				<tab-heading>
					{{lang.language_name}}
					<span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
				</tab-heading>
				<form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<h4>Write your blog post</h4>

							<small>Give your blog post a title and add your content.</small>
						</div>
						<div class="col-md-9">

							 <div class="row">
								<div class="form-group col-md-12">
								  <label for="author">Name: </label>
								  <input type="text" name="author" id="author" class="form-control" ng-model="blog.author" required>
								  <p class="help-block">
									<span ng-show="blogForm.author.$invalid && !blogForm.author.$pristine">Name is required.</span>
									<span ng-show="blogForm.author.$error.maxlength">Name is too long.</span>
								  </p>
								</div>
							</div>
							<div class="form-group">
								<label for="message">Content: </label>
								<!-- <text-angular ng-model="blog.content_blog" name="content_blog" required ></text-angular> -->
								<textarea froala="froalaOptions1" ng-model="blog.content_blog" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
								<p class="help-block">
									<span ng-show="blogForm.content_blog.$invalid && !blogForm.content_blog.$pristine">Content is required.</span>
								</p>
							</div>
						</div>
					</div>

					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Image Thumbnail</h4>

            				<small>Size : 250px x 250px</small>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label class="control-label">Thumbnail</label>
								<input uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
								<div class="logo-preview" style="padding:15px">
									<img ng-src="{{thumbnail}}"  class="img-responsive prevSblm" />
									<img ng-src="{{thumbnail_value}}" class="img-responsive" />
								</div>
							</div>
							<input type="hidden" ng-model="blog.thumbnail" name="thumbnail" class="thumbnail" value="{{thumbnail_value}}" placeholder="">
						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Visibility</h4>

							<small>Control if this testimonial can be viewed on your website.</small>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label style="display:block;">
									<input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" checked="checked" value="visible"> Visible
								</label>
								<label style="display:block;">
									<input type="radio" name="optionsRadios" ng-model="blog.visibility_blog" required id="optionsRadios2" value="hidden"> Hidden
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading"><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>
						</div>
					</div>
				</form>
			</tab>

		</tabset>




	</div>
	<!-- /page content -->




</div>
