<div class="page page-form-wizard">




  <!-- page header -->
  <div class="pageheader">

    <h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
        </li>
        <li>
          <a ui-sref="app.forms.wizard">{{page.title}}</a>
        </li>
      </ul>

    </div>

  </div>
  <!-- /page header -->






  <!-- page content -->
  <div class="pagecontent">



    <tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

      <tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

        <tab-heading>
          {{lang.language_name}}
          <span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
        </tab-heading>
         <form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3">
            <h4>Write your video post</h4>

            <small>Give your video a title and add your content.</small>
          </div>
          <div class="col-md-9">

              <div class="row">
                <div class="form-group col-md-12">
                  <label for="title">Title: </label>
                  <input type="text" name="title" id="title" class="form-control" ng-model="blog.title_blog" maxlength="75" required>
                  <p class="help-block">
                    <span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Title Blog is required.</span>
                    <span ng-show="blogForm.title.$error.maxlength">Page Title is too long.</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <label for="code">Video Code Youtube: </label>
                  <input type="text" name="code" id="code" class="form-control" ng-model="blog.excerpt" maxlength="15" required>
                  <p class="help-block">
                    <span>Example : https://www.youtube.com/watch?v=<strong>H2CKBTpNByo</strong>. The code is : <strong>H2CKBTpNByo</strong></span>
                    <span ng-show="blogForm.code.$invalid && !blogForm.code.$pristine"><br />code is required.</span>
                    <span ng-show="blogForm.code.$error.maxlength">code is too long.</span>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label for="message">Description: </label>
                <!-- <text-angular ng-model="blog.content_blog" name="content_blog" required ></text-angular> -->
                <textarea froala="froalaOptions1" ng-model="blog.content_blog" required froala-event-on-paste="onPaste" froala-event-focus="onEvent" froala-event-indent="onEvent"></textarea>
                 <p class="help-block">
                    <span ng-show="blogForm.content_blog.$invalid && !blogForm.content_blog.$pristine">Description is required.</span>
                  </p>
              </div>
          </div>
        </div>
        <hr class="line-dashed line-full" style="margin-top: 50px;"/>
        <div class="row">
          <div class="col-md-3">
            <h4>Image Thumbnail</h4>

            <small>Size : 800px x 550px</small>
          </div>
          <div class="col-md-9">
              <div class="form-group">
                 <label class="control-label">Image</label>
                  <input  uploader="uploader" multiple name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                  }" id="fileInput">
              </div>
              <div class="form-group " style="float: left;width: 100%;" >
                  <hr class="line-solid "/>
                  <div >
                    <div class="col-md-7 p-10 bg-grey b-a b-solid" style="height: 320px;">
                    <img-crop
                      image="myImage"
                      area-type="square"
                      result-image-aspect="800x550"
                      result-image="thumbnailCropped"
                      result-image-quality="1"
                      result-image-size = "800"
                    ></img-crop>
                   </div>
                    <div class="col-md-5 p-10 bg-grey b-a b-solid" style="height: 320px;">
                      <img ng-src="{{thumbnailCropped}}" class="img-responsive"/>
                    </div>
                  </div>
              </div>

           <input type="hidden" ng-model="blog.thumbnail" name="thumbnail" class="thumbnail" value="{{thumbnailCropped}}" placeholder="">
          </div>
        </div>
        <div class="row">
        <div class="col-md-12">
        <button type="submit"  class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading" ><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

        </div>
        </div>
        </form>
      </tab>

    </tabset>




  </div>
  <!-- /page content -->




</div>
