<div class="page page-form-wizard">




	<!-- page header -->
	<div class="pageheader">

		<h2>{{page.title}} <span>// {{page.subtitle}}</span></h2>

		<div class="page-bar">

			<ul class="page-breadcrumb">
				<li>
					<a ui-sref="app.dashboard"><i class="fa fa-home"></i> {{main.title}}</a>
				</li>
				<li>
					<a ui-sref="app.forms.wizard">{{page.title}}</a>
				</li>
			</ul>

		</div>

	</div>
	<!-- /page header -->






	<!-- page content -->
	<div class="pagecontent">



		<tabset class="tab-animation tab-container tab-wizard" justified="true" set-ng-animate="true">

			<tab active="lang.active" nv-file-drop="" uploader="uploader" disabled="lang.disabled" data-id="{{$index}}" select="setIndex($index)" ng-repeat="lang in lang_admin">

				<tab-heading>
					{{lang.language_name}}
					<span class="badge badge-default pull-right wizard-step">{{$index+1}}</span>
				</tab-heading>
				<form name="blogForm" role="form" novalidate class="form-validation" ng-submit="proceed()" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3">
							<h4>Describe Your Website</h4>

							<small>Give a title and content for your website.</small>
						</div>
						<div class="col-md-9">

							<div class="row">
								<div class="form-group col-md-12">
									<label for="username">Website Name: </label>
									<input type="text" name="title" id="title" class="form-control" ng-model="blog.title" required disabled>
									<p class="help-block">
										<span ng-show="blogForm.title.$invalid && !blogForm.title.$pristine">Website Name is required.</span>
										<span ng-show="blogForm.title.$error.maxlength">Website Name is too long.</span>
									</p>
								</div>
							</div>
							<div class="row ">
								<div class="col-sm-12 form-group">
									<label style="display: block;">Main Email</label>
									<input type="text" name="email" id="email" class="form-control" ng-model="blog.email" required>
									<p class="help-block">
										<span ng-show="blogForm.email.$invalid && !blogForm.email.$pristine">Main Email is required.</span>
									</p>

									</select>
								</div>
							</div>

						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Meta Keyword</h4>
						</div>
						<div class="col-md-9">
							<tags-input class="bootstrap" ng-model="blog.tags_blog" placeholder="news, blog, others" replace-spaces-with-dashes="false" name="tags" ng-minlength="3">

							</tags-input>
							<p class="help-block">

								<span ng-show="blogForm.tags.$error.minlength">Keyword is too long.</span>
							</p>
						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Information</h4>
						</div>
						<div class="col-md-9">
							<div class="form-group">
								<label for="username">Title <span class="text-thin"> 0 of 70 characters used</span></label>
								<input type="text" name="pagetitle_blog" id="pagetitle" ng-maxlength="70" class="form-control" ng-model="blog.pagetitle">
								<p class="help-block">
									<span ng-show="blogForm.pagetitle_blog.$error.maxlength">Page Title is too long.</span>
								</p>
							</div>
							<div class="form-group">
								<label for="username">Meta description <span class="text-thin">  0 of 160 characters used</span></label>
								<textarea class="form-control" rows="5" name="metades_blog" id="metades_blog" ng-maxlength="160" ng-model="blog.metades"></textarea>
								<p class="help-block">
									<span ng-show="blogForm.metades_blog.$error.maxlength">Page Title is too long.</span>
								</p>
							</div>
						</div>
					</div>
					<hr class="line-dashed line-full" style="margin-top: 50px;" />
					<div class="row">
						<div class="col-md-3">
							<h4>Logo</h4>
						</div>
						<div class="col-md-9">
							<div class="form-group clearfix">
								<div class="col-md-4 logo-preview" style="padding:15px">
									<img ng-src="{{logoLight}}" class="img-responsive" />
								</div>
								<div class="col-md-6 ">
									<label class="control-label">Logo Light</label>
									<input uploader="uploader" name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                  }" id="fileInput">
								</div>
							</div>

							<div class="form-group clearfix">
								<div class="col-md-4 logo-preview" style="padding:15px">
									<img ng-src="{{logoDark}}" class="img-responsive" />
								</div>
								<div class="col-md-6 ">
									<label class="control-label">Logo Dark</label>
									<input uploader="uploader1" name="file" nv-file-select="" ui-jq="filestyle" type="file" class="filestyle fileInput" ui-options="{
                    buttonText: 'Select image',
                    iconName: 'fa fa-file-image-o'
                }" id="fileInput2">
								</div>
							</div>


							<input type="hidden" ng-model="blog.logoLight" name="logo_light" class="logo_light" value="{{logo_light}}" placeholder="">
							<input type="hidden" ng-model="blog.logoDark" name="logo_dark" class="logo_dark" value="{{logo_dark}}" placeholder="">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right" ng-disabled="blogForm.$invalid||loading"><span ng-if="!loading">{{buttonLabel}}</span><span ng-if="loading"><i class="fa fa-circle-o-notch fa-spin"></i> Saving</span></button>

						</div>
					</div>
				</form>
			</tab>
		</tabset>
	</div>
</div>
